{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
    {% if REPANIER_ADMIN_MANAGE_ACCOUNTING is True %}
        <li><a href='{% url "admin:permanence-import-new-invoice" %}'
               class="import_link">{% trans "Import an invoice" %}</a></li>
    {% endif %}
    {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    {% if REPANIER_ADMIN_MANAGE_ACCOUNTING is True %}
        <div class="breadcrumbs">
            {% trans 'Manage' %}
            &rsaquo; {% trans "Billing offers" %}
        </div>
    {% else %}
        <div class="breadcrumbs">
            {% trans 'Manage' %}
            &rsaquo; {% trans "In archiving" %}
        </div>
    {% endif %}
{% endblock %}