{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
    {% if REPANIER_ADMIN_MANAGE_ACCOUNTING is True %}
        <li><a href='{% url "admin:permanence-import-new-invoice" %}'
               class="import_link">{% translate "Import an invoice" %}</a></li>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% if REPANIER_ADMIN_MANAGE_ACCOUNTING is True %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            {% translate 'Manage' %}
            &rsaquo; {% translate "In archiving" %}
        </div>
    {% endblock %}
{% endif %}