{% load sekizai_tags i18n static repanier_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <meta name="description" content="{% page_attribute 'meta_description' %}">#}
    <title>{% trans "Repanier Internal Error" %}</title>
    <link rel="stylesheet" href="{% repanier_bootstrap_static %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    {#    django CMS toolbar adjustment#}
    {% if request.toolbar %}
        <style>
            .cms-toolbar-expanded .navbar-custom {
                margin-top: 45px;
            }
        </style>
    {% endif %}
</head>
<body>{% spaceless %}
    {# <!-- Header and Nav --> #}
    {% repanier_group_name as group_name %}
    <nav class="navbar-default navbar-fixed-top navbar-custom" role="navigation">
        <div class="navbar-header visible-xs-inline-block">
            <a href="#" class="btn btn-info" onclick="openNav()">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="glyphicon glyphicon-list"></span>
            </a>
            <span class="navbar-group-name"><small>{{ group_name | truncatechars:25 }}</small></span>
        </div>
        <div class="container-menu">
            <div id="mySideNav" class="sidenav collapse navbar-collapse">
                {# <!-- Left Nav Section --> #}
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="{% repanier_home %}"><span class="glyphicon glyphicon glyphicon-home"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <a name="content"></a>
    <section>
        {% block base_content %}
            <br><br><br><br>
            <h1>{% trans "Internal Error" %}</h1>
            <p>{% trans "An internal error in this web site has just occurred" %}.</p>
            <p>{% trans "An email containing the detailed content of the error has been sent to" %}
                <strong>{% repanier_admins %}</strong>.</p>
            <p>{% trans "You will eventually be contacted in case further details of the action you are making would be needed to understand the cause of the error" %}.</p>
        {% endblock %}
    </section>
{% endspaceless %}</body>
</html>