{% load i18n %}
{% spaceless %}
{% with id=widget.attrs.id name=widget.name %}
<div id="{{ id }}_dropdown" class="btn-group pull-left btn-group-form">
    <button id="{{ id }}_button_label" class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"></button>
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
               <li>
                   <a href="javascript:{{ name }}_select('{{ option.value }}', '{{ option.label }}')" data-value="{{ option.value }}"{% include "django/forms/widgets/attrs.html" with widget=option %}>{{ option.label }}</a>
               </li>
            {% endfor %}
        {% endfor %}
    </ul>
    <input type="hidden" id="{{ id }}" name="{{ name }}" value=""/>
    <script type="text/javascript">
    {{ name }}_select('{{ repanier_selected_value }}', '{{ repanier_selected_label }}');
    function {{ name }}_select(value, label) {
         $('input[id={{ id }}]').val(value);
         $('button[id={{ id }}_button_label]').html(label);
         switch($('input[id={{ id }}]').val()) {
         case '115':
    {#         PRODUCT_ORDER_UNIT_PC_PRICE_PC#}
             $('span[id=customer_increment_order_quantity_label]').html("{% trans "Conditioned by" %}");
             $('span[id=customer_increment_order_quantity_addon]').html("{% trans "pc(s)" %}");
             $('span[id=stock_label]').html("{% trans "Stock" %}");
             $('span[id=stock_addon]').html("{% trans "pc(s)" %}");
             $('span[id=producer_unit_price_addon]').html("{% trans "/ pc" %}");
             $('div[id=div_id_order_average_weight]').hide();
             $('div[id=div_id_unit_deposit]').show();
             break;
         case '105':
    {#         PRODUCT_ORDER_UNIT_PC_PRICE_KG#}
             $('span[id=customer_increment_order_quantity_label]').html("{% trans "Conditioned by" %}");
             $('span[id=customer_increment_order_quantity_addon]').html("{% trans "kg(s)" %}");
             $('span[id=stock_label]').html("{% trans "Stock" %}");
             $('span[id=stock_addon]').html("{% trans "kg(s)" %}");
             $('span[id=producer_unit_price_addon]').html("{% trans "/ kg" %}");
             $('div[id=div_id_order_average_weight]').hide();
             $('div[id=div_id_unit_deposit]').show();
             break;
         case '110':
    {#         PRODUCT_ORDER_UNIT_PC_PRICE_LT#}
             $('span[id=customer_increment_order_quantity_label]').html("{% trans "Conditioned by" %}");
             $('span[id=customer_increment_order_quantity_addon]').html("{% trans "l(s)" %}");
             $('span[id=stock_label]').html("{% trans "Stock" %}");
             $('span[id=stock_addon]').html("{% trans "l(s)" %}");
             $('span[id=producer_unit_price_addon]').html("{% trans "/ l" %}");
             $('div[id=div_id_order_average_weight]').hide();
             $('div[id=div_id_unit_deposit]').show();
             break;
         case '140':
    {#         PRODUCT_ORDER_UNIT_PC_KG#}
             $('span[id=customer_increment_order_quantity_label]').html("{% trans "Conditioned by" %}");
             $('span[id=customer_increment_order_quantity_addon]').html("{% trans "pc(s)" %}");
             $('span[id=stock_label]').html("{% trans "Stock" %}");
             $('span[id=stock_addon]').html("{% trans "pc(s)" %}");
             $('span[id=producer_unit_price_addon]').html("{% trans "/ kg" %}");
             $('div[id=div_id_order_average_weight]').show();
             $('div[id=div_id_unit_deposit]').hide();
             break;
        }
    }
    </script>
</div>
{% endwith %}
{% endspaceless %}