// color vars - if needed may override bootstrap's vars
// as defined in https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

$primary: #00696d;
$primary-400: #8cbf48;
$primary-100: #ceeba8;
$info: $primary-400;
