{% load sekizai_tags i18n admin_static admin_urls compress %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{#<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">#}
{#<link rel="stylesheet" href="{% static "css/custom.css" %}">#}
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
<style type="text/css">
{#  vvvvvvvvv django cms admin style 0.2.8  #}
{#body.cms-admin-sideframe #header{display:none}#}
{#body.cms-admin-sideframe #container{padding-top:46px}#}
{#body.cms-admin-sideframe:not(.djangocms-admin-style) {margin-top: 0px;}#}
{#body.cms-admin-sideframe #container .breadcrumbs{display:block;background:#666 !important}#}
{#body.cms-admin-sideframe #content{padding-top:10px}#}
{#body.cms-admin-sideframe #content h1:first-child{margin-top:0}#}
{#body.cms-admin-sideframe .change-form #content{margin-top:0}#}
{#body.cms-admin-sideframe .submit-row{padding:10px 10px 5px !important}#}
{#body.cms-admin-sideframe .submit-row input.default,.object-tools .addlink{font-weight:200 !important;padding:5px 12px !important;margin-bottom:5px !important;border:1px solid #0e72ec !important;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e97ec), color-stop(100%, #0e72ec)) !important;background-image:-webkit-linear-gradient(top, #0e97ec,#0e72ec) !important;background-image:-moz-linear-gradient(top, #0e97ec,#0e72ec) !important;background-image:-o-linear-gradient(top, #0e97ec,#0e72ec) !important;background-image:linear-gradient(top, #0e97ec,#0e72ec) !important;-webkit-box-shadow:inset #6accf6 0px 1px 0px;-moz-box-shadow:inset #6accf6 0px 1px 0px;box-shadow:inset #6accf6 0px 1px 0px}#}
{#body.cms-admin-sideframe .submit-row input.default:hover,.submit-row input.default:active,.submit-row input.default:focus,.object-tools .addlink:hover,.object-tools .addlink:active,.object-tools .addlink:focus{background:#0e72ec !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important}#}
{#body.cms-admin-sideframe .submit-row input.default:active,.submit-row input.default:focus,.object-tools .addlink:active,.object-tools .addlink:focus{background:#0b5bbc !important}.object-tools .recoverlink,.submit-row input{font-weight:200 !important;padding:5px 12px !important;margin-bottom:5px !important;border:1px solid #e6e6e6 !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important}#}
{#div.cms-content-wizard form input, div.cms-content-wizard form textarea {border-radius: 3px; width: 100% !important;}#}
{#label.translatable-field:before { color: red; content:"\2691\a0";}#}
{#div.parler-language-tabs span.current:before { color: red; content:"\2691\a0";}#}
{##changelist table thead th {padding: 0; white-space: normal; vertical-align: middle;}#}
{#  ^^^^^^^^^^^  django cms admin style 0.2.8  #}
{#  vvvvvvvvv django cms admin style 1.2.6  #}
label.translatable-field:before {color:red;content:"\2691\a0";}
div.parler-language-tabs span.current:before {color:red;content:"\2691\a0";}
.calendar-shortcuts a:first-child, span.datetimeshortcuts a:first-child {width: initial !important;}
.change-list #changelist table thead th {padding:0;white-space:normal;vertical-align:middle;}
.change-list #changelist table tbody td {vertical-align:middle !important;white-space:nowrap;}
.change-list #changelist table tbody th {vertical-align:middle !important;white-space: normal;}
.wrap-text {white-space: normal !important;}
.module {width: 100%;white-space: normal;}
form fieldset {width: 100%;white-space: nowrap;}
body.cms-admin-sideframe .object-tools {margin-top:-42px; margin-right:75px; background:none !important;}
body.cms-admin-sideframe #content {margin-top: 90px !important;}
body.cms-admin-sideframe form input[type = text],form input[type = email],form input[type = password],form input[type = url] {font-size:14px;width:25em !important;max-width:none !important;border-radius:3px !important;background-color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none}
body.cms-admin-sideframe form input[type = number],form select {font-size: 14px;width: auto!important;max-width: none !important;border-radius: 3px !important;background-color: #fff;-webkit-appearance: none;-moz-appearance: none;appearance: none}
body.cms-admin-sideframe form button {font-size:10px;max-width:none !important;border-radius:3px !important;background-color:#fff;-webkit-appearance:none;-moz-appearance: none;appearance:none}
body.cms-admin-sideframe form textarea {font-size: 14px;width: 80em !important;max-width: none !important;border-radius: 3px !important;background-color: #fff;-webkit-appearance: none;-moz-appearance: none;appearance: none}
.cms-pagetree-root{margin-top: -55px;}
.cms-pagetree-header-cell{margin-top: -110px;padding-right: 100px;}
#field-searchbar{width: 100% !important;}
form label.aligned.btn, form label.btn{color: black !important;}
/* filter*/
#changelist-filter {position: relative !important; overflow-y: inherit !important;}
.change-list #changelist.filtered .paginator {position: static !important;}
{#.change-list #changelist.filtered .paginator {width: calc(100% - 233px) !important; position: static !important;}#}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    line-height: inherit !important;
}
{#.object-tools { position: inherit !important;}#}
{#  ^^^^^^^^^^^  django cms admin style 1.2.6  #}
</style>
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">
    {% if not is_popup %}
    <div class="breadcrumbs" style="border-bottom: 0; margin-top: 19px;">
{% if opts.verbose_name %}<h2>{{ opts.verbose_name_plural|capfirst }}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</h2>{% else %}<h2 style="font-size: 130%; line-height: 1.75em; margin-top: 0; margin-bottom: 0;">&nbsp;</h2>{% endif %}
{#{% if opts.verbose_name %}{% url opts|admin_urlname:'changelist' as the_url %}<h2>{% if the_url %}<a href="{{ the_url }}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}#}
{#&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</h2>{% else %}<h2 style="font-size: 130%; line-height: 1.75em; margin-top: 0; margin-bottom: 0;">&nbsp;</h2>{% endif %}#}
    </div>
    {% endif %}
    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        <br/><br/>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
{#        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}#}

        {% block content %}
        {% block object-tools %}<li><a href="https://repanier.be/fr/documentation/">' + gettext('Help')+ '</a></li>{% endblock %}

        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
{% spaceless %}
    <script>
(function($) {
    $(document).ready(function($) {
        $(".object-tools").append('<li><a href="https://repanier.be/fr/documentation/" target="_blank">{% trans 'Help' %}</a></li>');
    });
})(django.jQuery);
    </script>
{% endspaceless %}
</body>
</html>
