{% extends "base.html" %}{% load i18n admin_static %}
{% block base_content %}
<div id="content-main">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loginModalLabel">{% trans "Login" %}</h4>
      </div>
      <div class="modal-body">

<form role="form" action="{{ app_path }}" method="post" accept-charset="UTF-8" id="login-form">{% csrf_token %}  
  <!-- Username -->
  <div class="form-group">
    {% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ form.non_field_errors }}
    {% endif %}
    <label for="id_username">{% trans "Username" %}</label>
    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
    <input type="text" class="form-control" id="id_username" placeholder="{% trans "Username" %}" name="username">
  </div>
  <!-- Password -->
  <div class="form-group">
    <label for="id_password">{% trans "Password" %}</label>
    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
    <input type="password" class="form-control" id="id_password" placeholder="{% trans "Password" %}" name="password">
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
  <a href="{% url "password_reset_recover" %}" class="btn">{% trans "Password lost" %}</a>
</form>
      </div><!-- /form -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
