**/__pycache__
*.pyc
*.sqlite
venv
cache
.ropeproject

*sublime-*
/mysite/collect-static/
/mysite/settings.py
/mysite/_a_dev_site.ini
/mysite/_b_dev_site.ini
/requirements/requirement-4.2.old.txt
/repanier/migrations/
