{% extends "base.html" %}{% load i18n admin_static %}
{% block base_content %}
<div id="content-main" class="container-repanier">
<div class="container">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loginModalLabel">{% trans "Login" %}</h4>
      </div>
{#      <div class="modal-body">#}

<form role="form" action="{{ app_path }}" method="post" accept-charset="UTF-8" id="login-form">{% csrf_token %}
<div class="modal-body">
{#<div class="row">#}
    <div class="form-group">
{%  if staff_responsibilities %}
    <p>{% trans "You are now logged in as a customer." %}</p>
    <p><b>{% trans "Do you want to become:" %}</b></p>
    {% for staff_responsibility in staff_responsibilities %}
        <a href="{% url "login_form" %}?as_id={{ staff_responsibility.id }}" class="btn btn-info">{{ staff_responsibility.long_name }}</a><br/>
    {% endfor %}
{% else %}
        {% if form.non_field_errors %}
            <p class="text-danger">
            {% for error in form.non_field_errors %}
                    {{ error }}
            {% endfor %}
            </p>
        {% endif %}
        <label for="id_username">{% trans "Username" %}</label>
        {% if form.username.errors %}
          <p class="text-danger">
          {% for error in form.username.errors %}
            {{ error }}
          {% endfor %}
          </p>
        {% endif %}
        <input type="text" class="form-control" id="id_username" placeholder="{% trans "Username" %}" name="username">
        <br/>
        <label for="id_password">{% trans "Password" %}</label>
        {% if form.password.errors %}
          <p class="text-danger">
          {% for error in form.password.errors %}
            {{ error }}
          {% endfor %}
          </p>
        {% endif %}
        <input type="password" class="form-control" id="id_password" placeholder="{% trans "Password" %}" name="password">
{% endif %}
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
{% if how_to_register %}
<p></p>
    <div class="form-group">
        <div class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse">
            <span class="btn btn-info">{% trans "Create an account" %}</span>
        </div>
        <div id="collapse" class="panel-collapse collapse">
            {{ how_to_register | safe }}
        </div>
    </div>
</div>
{% endif %}

<div class="modal-footer">
    <div class="form-group">
        {% if staff_responsibilities %}
            <a href="{{ next }}" class="btn btn-default">{% trans "Continue as a customer." %}</a><a href="{% url "logout_form" %}" class="btn btn-default">{% trans "Logout" %}</a>
        {% else %}
            <button class="btn btn-default" type="submit">{% trans "Login" %}</button><a href="{% url "admin_password_reset" %}" class="btn btn-default">{% trans "Password reset" %}</a>
        {% endif %}
    </div>
</div>
</form>
{#      </div><!-- /form -->#}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
</div>
{% endblock %}
