{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block base_content %}
<div id="content-main">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans 'Password reset' %}</h4>
      </div>
      <div class="modal-body">
      <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
      <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
      </div><!-- /form -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}