{% extends "base.html" %}{% load i18n %}
{% block title %}{{ title }} zap{% endblock %}

{% block base_content %}
<div id="content-main" class="container-repanier">
<div class="container">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
        <div class="form-group">
            {% with id_for_label=form.new_password1.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-12">
                <label for="{{ id_for_label }}" class="control-label requiredField">
                    {{ form.new_password1.label }}<span class="asteriskField">*</span>
                </label>
                {% if form.new_password1.errors %}
                  <p class="text-danger">
                  {% for error in form.new_password1.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <input class="form-control" id="{{ id_for_label }}" name="new_password1" value="{{ form.new_password1.value }}" type="password">
            </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with id_for_label=form.new_password2.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-12">
                <label for="{{ id_for_label }}" class="control-label requiredField">
                    {{ form.new_password2.label }}<span class="asteriskField">*</span>
                </label>
                {% if form.new_password2.errors %}
                  <p class="text-danger">
                  {% for error in form.new_password2.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <input class="form-control" id="{{ id_for_label }}" name="new_password2" value="{{ form.new_password2.value }}" type="password">
            </div>
            {% endwith %}
        </div>
        <div class="modal-footer">
            <br>
            <button class="btn btn-info" type="submit">{% trans "Change my password" %}</button>
        </div>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
      </div><!-- /form -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div>
{% endblock %}