{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
    <div class="container">
      <div class="jumbotron">
        {% placeholder "home-hero" or %}
        <h3>Repanier</h3>
        <p>Repanier est un outil de gestion du cycle des permamnences destiné aux groupements d'achats et aux producteurs locaux.</p>
        <p>Contraction de repas et panier, repanier est le fruit de l'expérience des membres de plusieurs groupements d'achats</p>
          <ul>
          <li><a href="http://ptidej.repanier.be/">Gasath, groupe ptidej</a>, une trentaine d'acheteurs de produits locaux, de préférence bio, sur Ath</li>
          <li><a href="http://apero.repanier.be/">Gasath, groupe apéro</a>, une trentaine d'acheteurs de produits locaux et bio sur Ath</li>
          <li><a href="http://www.lepanierlensois.be/">Le Panier Lensois</a>, une trentaine d'acheteurs de produits locaux et bio sur Lens</li>
          <li><a href="http://www.lebiodici.be/">Le Bio d'Ici</a>, une quinzaine de maraîchers bio regroupés pour les restaurants, collectivités locales, ...</li>
          </ul>
        {% endplaceholder %}
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">

          {% placeholder 'home-col-1'  or %}
 <div class="panel panel-warning">
  <div class="panel-heading"><h4>Groupement et Producteur</h4></div> 

          <ul class="list-group">
           <li class="list-group-item">Gérer les permanences : Offres, commandes, listes de préparations, factures.</li>
           <li class="list-group-item">Avoir un historique simple et précis des achats, provisions et paiements.</li>
           <li class="list-group-item">Remplacer ou simplement étendre son site web existant.</li>
          </ul>
      </div>
          {% endplaceholder %}
        </div>
        <div class="col-md-4">
          {% placeholder 'home-col-2' or %}
<div class="panel panel-warning">
  <div class="panel-heading"><h4>Fonctionnalités</h4></div>  
          <ul class="list-group">
           <li class="list-group-item">Commander sans encoder de chiffres.</li>
           <li class="list-group-item">Mettre à jour les offres, tarifs et factures hors ligne.</li>
           <li class="list-group-item">Transmettre les commandes et factures par mail.</li>
          </ul>
      </div>
          {% endplaceholder %}
        </div>
        <div class="col-md-4">
          {% placeholder 'home-col-3' or %} 
<div class="panel panel-warning">
  <div class="panel-heading"><h4>Hébergement</h4></div> 
          <ul class="list-group">
          <li class="list-group-item">À prix coûtant en mutualisation sur notre plateforme. Vous n'avez pas besoin de compétence IT.</li>
          <li class="list-group-item">Chez votre hébergeur. Vous avez besoin de compétences IT.</li>
          <li class="list-group-item">Projet <a href="http://opensource.org/licenses/GPL-3.0">open source (GPL-3.0)</a></li>
          </ul>
      </div>
          {% endplaceholder %}
        </div>
      </div>
    </div>
{% endblock %}