{% extends "base.html" %}
{% load cms_tags i18n l10n %}

{% block base_content %}
    <div class="container">
      <div class="jumbotron">
          {% placeholder "home-hero" %}
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            {% placeholder 'home-col-1' %}
        </div>
        <div class="col-md-4">
            {% placeholder 'home-col-2' %}
        </div>
        <div class="col-md-4">
            {% placeholder 'home-col-3' %}
        </div>
      </div>
    </div>
{% endblock %}
