{% extends "../cms_order_page.html" %}
{% load cms_tags sekizai_tags i18n l10n %}
{% block may_order %}{{ block.super }}{% endblock may_order %}
{% block permanence_description %}{% endblock permanence_description %}
{% block confirm_basket %}{{ block.super }}{% endblock confirm_basket %}
{% block product_filter %}{{ block.super }}{% endblock product_filter %}
{% block product_list %}{{ block.super }}{% endblock product_list %}
{% block order_modal %}{% if not page_obj.has_previous %}{{ block.super }}{% endif %}{% endblock order_modal %}
{% block my_cart_amount_js %}{% endblock my_cart_amount_js %}
{% block my_order_js %}{% if not page_obj.has_previous %}{{ block.super }}{% endif %}{% endblock my_order_js %}
