{% load admin_list repanier_admin_tags %}
{% load i18n %}
{# PCO replace class paginator by class submit-row #}
{#<p class="paginator">#}
<div class="repanier-submit-row">
    <div>
        {% if pagination_required %}
            {% for i in page_range %}
                {# PCO replace paginator_number by repanier_admin_paginator_number #}
                {% repanier_admin_paginator_number cl i %}
            {% endfor %}
        {% endif %}
        {#{{ cl.result_count }}#}
        {#{% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}#}
        {% if show_all_url %}&nbsp;&nbsp;
            <a href="{{ show_all_url }}" class="showall">{% translate 'Show all' %}</a>{% endif %}
    </div>
    <div>
        {% if cl.formset and cl.result_count %}
            <button type="submit" name="_save" class="repanier-submit-info">
                <i class="fas fa-file-import"></i> {% translate 'Save' %}
            </button>
        {% endif %}
    </div>
</div>
