/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
@media screen and (min-width:768px) and (max-width: 979px) {
  body {
    padding-top: 60px;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /* background-color: #f5f5f5; */
  text-align: center;
}

/* sidebar */
.bs-docs-sidebar {
    padding: 0px 0px 1px 20px;
    margin-top: 1px;
    margin-bottom: 1px;
}
/* all links */
.bs-docs-sidebar .nav > li > a {
    color: #3c3c3c;
    padding-top: 0px;
    font-weight: bold;
    border-left: 2px solid transparent;
}
/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
    padding-left: 30px;
    /*font-size: 16px;*/
    font-weight: normal;
}
/* active & hover links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus,
/* selected links */
.bs-docs-sidebar .nav > li > a.bs-docs-sidebar-active {
    color: #51a351;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #51a351;
}
.display_none {
    display:none;
}
.panel-heading.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content:"\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    position: relative;
    bottom: 23px;
    font-size: 15pt;
    color: grey;
}
.panel-heading.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e080";
}

.panel-heading:hover {
    cursor: pointer;
}

.panel-heading:hover h4 {
    text-decoration: underline;
}

.offer-description {
  position: relative;
  height: 200px;
  margin-top: 20px;
  overflow: auto;
}

body > .container {
  padding: 0 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
@media only screen and (min-width:768px) {
    /* automatically display menu on mouse over if not xs */
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}
@media only screen and (max-width:767px) {
    .sidenav {
        display:none;
        height: 100%;
        max-height: 100% !important;
        width: 90%;
        position: fixed;
        z-index: 1100;
        top: 0;
        left: 0;
        background-color: #4d4d4f;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
        white-space: normal !important;
        font-size: 18px;
    }

    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 20px;
        /*font-size: 36px;*/
        /*margin-left: 50px;*/
    }

    /*@media screen and (max-height: 450px) {*/
      /*.sidenav {padding-top: 15px;}*/
      /*.sidenav a {font-size: 18px;}*/
    /*}*/
}

a.skip_link{
   position:absolute;
   left:-1000px;
   top:-1000px;
}
.white, .white a {
    color: #fff;
}
@media only screen and (min-width:768px) {
    .container-bootstrap {
        margin-top: 65px;
    }
    .container-repanier {
        margin: 75px 0 0;
    }
    .container-info {
        margin: 75px 0 -75px 0;
    }
    .container-menu {
        padding: 0 15px 0;
    }
}

@media only screen and (max-width:767px) {
    .container-bootstrap {
        margin-top: 36px;
    }
    .container-repanier {
        margin: 46px 0 0;
    }
    .container-info {
        margin: 46px 0 -46px 0;
    }
    .container-menu {
    }
}
/* django-angular : style.css */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

form.ng-submitted .ng-invalid,
form .ng-invalid-bound.ng-pristine,
form .ng-invalid.ng-dirty {
	border-color: #e9322d;
}

form.ng-submitted .ng-invalid:focus,
form .ng-invalid-bound.ng-pristine:focus,
form .ng-invalid.ng-dirty:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
label.djng-field-required::after {
	content: "\00a0*";
}
ul.djng-form-errors, ul.djng-field-errors {
	display: inline-block;
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}
ul.djng-form-errors li, ul.djng-field-errors li {
	color: #e9322d;
}
ul.djng-field-errors li.invalid::before {
	content: "\2716";
	margin-right: 10px;
}
ul.djng-field-errors li.valid::before {
	color: #00c900;
	content: "\2714";
}
/* django-angular : bootstrap3.css */
.djng-form-control-feedback {
	position: absolute;
	text-align: right;
	/*top: -5px;*/
    top: 36px;
	right: 10px;
}
.djng-line-spreader {
	height: 20px;
	margin-bottom: 10px;
}
.checkbox + ul.djng-field-errors,
.checkbox + ul.djng-field-errors + ul.djng-field-errors {
    display: none;
}
/* https://codepen.io/msaetre/pen/Ekyaz */
.icon-cart {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  /*margin-left: 25px;*/
  /*margin-bottom: 25px;*/
  margin-top: -10px;
}

.icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 33%;
  top: 45%;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}
/* Bootstrap : Let's align right the cart button on small devices */
.navbar-header{
  width:100%;
}
.navbar-group-name {
    margin-left: 10px;
    color: #fff;
}
/* Bootstrap : Wordwrap button */
.btn{
    white-space:normal !important;
    word-wrap: break-word;
    word-break: normal;
    overflow-wrap: break-word;
}
/* Disable link using css */
.not-active {
   pointer-events: none;
   cursor: default;
}
