{% spaceless %}
<b>{{ repanier_label }}</b>
<p></p>
{% with id=widget.attrs.id %}
<div ng-form="{{ widget.name }}"{% if id %} id="{{ id }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
    {% for group, options, index in widget.optgroups %}
        {% for option in options %}
            <div class="checkbox">
	       <label{% if option.attrs.id %} for="{{ option.attrs.id }}"{% endif %} class="checkbox-inline">
                <input name="{{ option.name }}" type="checkbox" value="{{ option.value }}"{% include "django/forms/widgets/attrs.html" with widget=option %} />
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>{{ option.label }}
           </label>
            </div>
        {% endfor %}
    {% endfor %}</div>
{% endwith %}
{% endspaceless %}