<span class="repanier-stock-input-container">
    {% if not repanier_currency_after %}
        <span class="repanier-money-input-icon">{{ repanier_currency_str | safe }}</span>
    {% endif %}
{#        {% include "django/forms/widgets/input.html" %}#}
    <input type="text" name="{{ widget.name }}" class="repanier-stock-input-field"
           {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
           oninput="this.value=evaluateAsFloat(this.value)"
           {% include "django/forms/widgets/attrs.html" %}
    >
</span>
