{% extends "admin/change_form.html" %}
{% load cms_tags menu_tags i18n l10n static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {% translate 'Manage' %}
        &rsaquo; <a
            href="{% url 'admin:repanier_permanenceinpreparation_changelist' %}">{% translate 'Offers in preparation' %}</a>
    </div>
{% endblock %}

{% block content %}
    <form action="{{ form_url }}" method="post">{% csrf_token %}
        <h2>{{ permanence|title }}</h2>
        <div class="form-row">
            <h3>{% translate "Please confirm your export orders request" %}</h3>
            <p>&nbsp;</p>
            <button type="submit" class="repanier-submit-info" name="cancel" value="cancel">{% translate "No, cancel the action" %}</button>
            <button type="submit" class="repanier-submit-info" name="apply" value="apply" class="default">{% translate "Yes, I'm sure" %}
            </button>
        </div>
        {% if permanence.with_delivery_point %}
            <div class="form-row">
                <p>&nbsp;</p>
                <h3>{% translate "Please indicate the deviveries points you wish to export" %}</h3>
                <p>&nbsp;</p>
                <ul class="repanier-flex-ul">
                    <li class="repanier-flex-ul-li">
                        <input id="all-deliveries" name="all-deliveries"
                               onClick="toggle_all('all-deliveries', 'deliverie_form');"
                               autocomplete="off" type="checkbox" checked>
                        <label for="all-deliveries">
                            {% translate "Select all deliveries" %}
                        </label>
                    </li>
                </ul>
                <p>&nbsp;</p>
            </div>
            {% for delivery in deliveries %}
                <div class="form-row">
                    <ul class="repanier-flex-ul">
                        <li class="repanier-flex-ul-li repanier-ban">
                            <input id="id_deliveries-{{ forloop.counter0 }}" name="deliveries" class="deliverie_form"
                                   onClick="toggle('all-deliveries', 'id_deliveries-{{ forloop.counter0 }}', 'deliverie_form');"
                                   value="{{ delivery.id|unlocalize }}" type="checkbox" checked>
                            <label for="id_deliveries-{{ forloop.counter0 }}">
                                {{ delivery }}
                            </label>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ permanence.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}
