{% load cms_tags sekizai_tags i18n l10n repanier_tags %}{% spaceless %}
<b>{{ offer.get_order_name }}</b>
{% if offer.product.offer_description_v2|length > 0 %}&nbsp;<span class="glyphicon glyphicon-info-sign"></span>{% endif %}
<br><small>{{ offer.producer.short_profile_name }}</small>
{% if offer.department_for_customer %}<br><small>{{ offer.department_for_customer.short_name }}</small>{% endif %}
{% for production_mode in offer.product.production_mode.all %}
    {% if forloop.first %}<br>{% endif %}
    {% if production_mode.picture2 %}
        <img class="img-rounded" style="float: left; margin: 5px;" alt="{{ production_mode }}"
             title="{{ production_mode }}" src="{{ MEDIA_URL }}{{ production_mode.picture2 }}" height="24" width="24"/>
    {% else %}
        <small>{{ production_mode }}{% if not forloop.last %} - {% endif %}</small>
    {% endif %}
{% endfor %}
{% endspaceless %}