{% load cms_tags sekizai_tags i18n l10n repanier_tags %}{% spaceless %}
{% if offer.order_unit == "105" or offer.order_unit == "110" or offer.order_unit == "115" %}
    <h5><small><i><b>{{ offer.get_reference_price }}</b></i></small></h5>
{% endif %}
{{ offer.get_unit_price }}
{% if offer.unit_deposit != 0 %}
    <br>♻ {{ offer.unit_deposit }}
{% endif %}
{% if offer.picture2 %}
    {% with order_name=offer.get_order_name %}
        <br>
        <span data-toggle="modal" data-target="#orderModal" data-id="{{ offer.id|unlocalize }}">
        <img class="img-thumbnail" style="margin-top: 5px;" alt="{{ order_name }}" title="{{ order_name }}"
             src="{{ MEDIA_URL }}{{ offer.picture2 }}" height="110" width="110"/>
        </span>
    {% endwith %}
{% endif %}
{% endspaceless %}