{% extends "admin/base_site.html" %}
{% load cms_tags menu_tags i18n l10n static %}

    {% block breadcrumbs %}
        <div class="breadcrumbs">
            {% trans 'Manage' %}
            &rsaquo; <a href="{% url 'admin:repanier_permanencedone_changelist' %}">{% trans 'Billing offers' %}</a>
        </div>
    {% endblock %}

{% block content %}
    {#    <link rel="stylesheet" href="{% static REPANIER_BOOTSTRAP_CSS %}">#}
    <link rel="stylesheet" href="{% static REPANIER_CUSTOM_CSS %}">
    <form action="" method="post">{% csrf_token %}
        <h2>{{ permanence|title }}</h2>
        <div>
            <h4>{% trans "Please make the following payments." %}</h4>
            <h4>{% trans "The corresponding account transactions have been generated." %}</h4>
            <p>&nbsp;</p>
            <button type="submit" name="done" value="done" class="default">{% trans "Done" %}</button>
        </div>
        {#        <fieldset class="module aligned ">#}
        <div>
            {% for bankaccount in bankaccounts %}
                {% if forloop.first %}
                    <ul>
                {% endif %}
                <li>{{ bankaccount.producer.short_profile_name }}, {{ bankaccount.bank_amount_out }}, {{ bankaccount.operation_comment }}</li>
                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
        {#        </fieldset>#}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ permanence.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}
