{% extends "admin/base_site.html" %}
{% load cms_tags menu_tags i18n l10n static %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {% trans 'Manage' %}
        &rsaquo; <a href="{% url 'admin:repanier_permanencedone_changelist' %}">{% trans 'Billing offers' %}</a>
    </div>
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        <h2>{{ permanence|title }}</h2>
        <div class="submit-row">
            <h4>{% trans "Please confirm your invoice calculation request." %}</h4>
            <p>&nbsp;</p>
            <button type="submit" name="cancel" value="cancel"><h6>{% trans "No, cancel the action" %}</h6></button>
            <button type="submit" name="apply" value="apply" class="default">
                <h6>{% trans "Yes, I'm sure and I have already encoded the customer's provisions into the bank account" %}</h6>
            </button>
            {{ producer_invoiced_formset.management_form }}
        </div>
        <div class="form-row">
            <p>&nbsp;</p>
        </div>
        <div class="form-row">
            <div class="form-group">
                {{ permanence_form.non_field_errors }}
                <div class="fieldWrapper">
                    {% if permanence_form.payment_date.errors %}
                        <ul class="errorlist">
                            {% for error in permanence_form.payment_date.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <label for="id_payment_date"
                           class="repanier-label-info">{% trans "Payment date" %}&nbsp;:</label>
                    {{ permanence_form.payment_date }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <p>&nbsp;</p>
            <h4>{% trans "Please indicate the producers you wish to pay." %}</h4>
            <p>&nbsp;</p>
            <ul class="repanier-flex-ul">
                <li class="repanier-flex-ul-li">
                    <input id="all-producers" name="all-producers"
                           onClick="toggle_all('all-producers', 'producer_invoiced_form');"
                           autocomplete="off" type="checkbox" checked>
                    <label for="all-producers">
                        {% trans "Select all producers." %}
                    </label>
                </li>
            </ul>
            <p>&nbsp;</p>
        </div>
        {% for f_form in producer_invoiced_formset %}
            <div class="form-group">
                <ul class="repanier-flex-ul">
                    <li class="repanier-flex-ul-li repanier-ban">
                        {{ f_form.id.as_hidden }}
                        <input id="id_form-{{ forloop.counter0 }}-selected"
                               name="form-{{ forloop.counter0 }}-selected"
                               class="producer_invoiced_form"
                               onClick="toggle('all-producers', 'id_form-{{ forloop.counter0 }}-selected' , 'producer_invoiced_form');"
                               autocomplete="off" type="checkbox" checked>
                        <label for="id_form-{{ forloop.counter0 }}-selected">
                            {{ f_form.short_profile_name.value }}
                        </label>
                    </li>
                    <li class="repanier-flex-ul-li">
                        {% trans ", calculated : " %}
                        {{ f_form.calculated_invoiced_balance.value }}&nbsp;{% trans "w VAT" %}
                        {% trans ", invoiced : " %}&nbsp;
                    </li>
                    <li class="repanier-flex-ul-li">
                        {{ f_form.to_be_invoiced_balance }}
                    </li>
                    <li class="repanier-flex-ul-li">
                        &nbsp;{% if f_form.producer_price_are_wo_vat is True %}{% trans "wo VAT" %}{% else %}
                        {% trans "w VAT" %}{% endif %}
                        {% trans ", invoice reference : " %} {{ f_form.invoice_reference }}
                    </li>
                </ul>
            </div>
        {% endfor %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ permanence.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}