{% extends "admin/base_site.html" %}
{% load cms_tags menu_tags i18n l10n static %}
{% block content %}
    <script type="text/javascript" src="{% static 'repanier/bs3/js/toggle.js' %}"></script>
    <link rel="stylesheet" href="{% static REPANIER_BOOTSTRAP_CSS %}">
    <link rel="stylesheet" href="{% static REPANIER_CUSTOM_CSS %}">
    <h4>{{ sub_title }}</h4>
    <p></p>
    <form action="" method="post">{% csrf_token %}
        <h6>{{ permanence }}{% if with_delivery_point %},
            {% trans "send the orders of the following deviveries points" %} :{% endif %}</h6>
        <div class="submit-row">
            <button type="submit" name="cancel" value="cancel"><h6>{% trans "No, cancel the action" %}</h6></button>
            <button type="submit" name="apply" value="apply" class="default"><h6>{% trans "Yes, I'm sure" %}</h6>
            </button>
        </div>
        {% if with_delivery_point %}
            <fieldset class="module aligned ">
                <div class="submit-row">
                    <div class="form-group">
                        <input id="all-deliveries" name="all-deliveries"
                               onClick="toggle_all('all-deliveries', 'deliverie_form');"
                               autocomplete="off" type="checkbox" checked>
                        <div class="btn-group">
                            <label for="all-deliveries" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span>&nbsp;</span>
                            </label>
                            <label for="all-deliveries" class="btn active">
                                {% trans "Select all deliveries." %}
                            </label>
                        </div>
                    </div>
                    <hr class="colorgraph">
                    {% for delivery in deliveries %}
                        <div class="form-group">
                            <input id="deliveries-{{ forloop.counter0 }}" name="deliveries" class="deliverie_form"
                                   onClick="toggle('all-deliveries', 'deliveries-{{ forloop.counter0 }}', 'deliverie_form');"
                                   value="{{ delivery.id|unlocalize }}" autocomplete="off" type="checkbox" checked>
                            <div class="btn-group">
                                <label for="deliveries-{{ forloop.counter0 }}" class="btn btn-info btn-xs">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span>&nbsp;</span>
                                </label>
                                <label for="deliveries-{{ forloop.counter0 }}" class="btn active btn-xs">
                                    {{ delivery }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
{#        {% else %}#}
{#            <fieldset class="module aligned ">#}
{#                <div class="submit-row">#}
{#                    <div class="form-group">#}
{#                        <input id="all-producers" name="all-producers"#}
{#                               onClick="all_checked=toggle_all('all-producers', 'producer_form');toggle_display(all_checked,['id_mail_to_board', 'id_mail_to_customers']);"#}
{#                               autocomplete="off" type="checkbox" checked>#}
{#                        <div class="btn-group">#}
{#                            <label for="all-producers" class="btn btn-primary">#}
{#                                <span class="glyphicon glyphicon-ok"></span>#}
{#                                <span>&nbsp;</span>#}
{#                            </label>#}
{#                            <label for="all-producers" class="btn active">#}
{#                                {% trans "Select all producers." %}#}
{#                            </label>#}
{#                        </div>#}
{#                    </div>#}
{#                    <hr class="colorgraph">#}
{#                    {% for producer in producers %}#}
{#                        <div class="form-group">#}
{#                            <input id="producers-{{ forloop.counter0 }}" name="producers" class="producer_form"#}
{#                                   {% if not must_confirm %}onClick="all_checked=toggle('all-producers', 'producers-{{ forloop.counter0 }}', 'producer_form');toggle_display(all_checked,['id_mail_to_board', 'id_mail_to_customers']);"#}
{#                                   {% else %}disabled{% endif %}#}
{#                                   value="{{ producer.id|unlocalize }}" autocomplete="off" type="checkbox" checked>#}
{#                            <div class="btn-group">#}
{#                                <label for="producers-{{ forloop.counter0 }}" class="btn btn-info">#}
{#                                    <span class="glyphicon glyphicon-ok"></span>#}
{#                                    <span>&nbsp;</span>#}
{#                                </label>#}
{#                                <label for="producers-{{ forloop.counter0 }}" class="btn active">#}
{#                                    {{ producer }}#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </fieldset>#}
        {% endif %}
        <div id="id_mail_to_customers">
            <fieldset class="module aligned ">
                <div class="submit-row">
                    <div class="field-box">
                        <h6>{% trans "order mail to customers" %} :</h6>
                    </div>
                    <div class="field-box">
                        <h6>{{ order_customer_email_will_be_sent_to }}</h6>
                    </div>
                    {% if order_customer_email_will_be_sent %}
                        <div class="field-box">
                            {% with id_for_label=form.template_order_customer_mail.id_for_label %}
                                <div id="div_{{ id_for_label }}">
                                    <div class="controls col-xs-12">
                            <textarea class="CMS_CKEditor texteditorwidget form-control" id="{{ id_for_label }}"
                                      name="template_order_customer_mail">{{ form.template_order_customer_mail.value }}</textarea>
                                        <script>window.CKEDITOR_BASEPATH = "{{ STATIC_URL}}djangocms_text_ckeditor/ckeditor/";</script>
                                        <script src="{% static "djangocms_text_ckeditor/ckeditor/ckeditor.js" %}"></script>
                                        <script>
                                            CKEDITOR.replace("{{ id_for_label }}", {
                                                language: 'fr',
                                                forcePasteAsPlainText: true,
                                                toolbar: [
                                                    ['Preview', 'Image', 'Source']
                                                ],
                                                contentsCss: '{% static REPANIER_BOOTSTRAP_CSS %}',
                                                width: '100%',
                                                height: '24em',
                                                removePlugins: 'elementspath',
                                                readOnly: true
                                            });
                                        </script>
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    {% endif %}
                </div>
            </fieldset>
        </div>
        <fieldset class="module aligned ">
            <div class="submit-row">
                <div class="field-box">
                    <h6>{% trans "order mail to producers" %} :</h6>
                </div>
                <div class="field-box">
                    <h6>{{ order_producer_email_will_be_sent_to }}</h6>
                </div>
                {% if order_producer_email_will_be_sent %}
                    <div class="field-box">
                        {% with id_for_label=form.template_order_producer_mail.id_for_label %}
                            <div id="div_{{ id_for_label }}">
                                <div class="controls col-xs-12">
                            <textarea class="CMS_CKEditor texteditorwidget form-control" id="{{ id_for_label }}"
                                      name="template_order_producer_mail">{{ form.template_order_producer_mail.value }}</textarea>
                                    <script>window.CKEDITOR_BASEPATH = "{{ STATIC_URL}}djangocms_text_ckeditor/ckeditor/";</script>
                                    <script src="{% static "djangocms_text_ckeditor/ckeditor/ckeditor.js" %}"></script>
                                    <script>
                                        CKEDITOR.replace("{{ id_for_label }}", {
                                            language: 'fr',
                                            forcePasteAsPlainText: true,
                                            toolbar: [
                                                ['Preview', 'Image', 'Source']
                                            ],
                                            contentsCss: '{% static REPANIER_BOOTSTRAP_CSS %}',
                                            width: '100%',
                                            height: '24em',
                                            removePlugins: 'elementspath',
                                            readOnly: true
                                        });
                                    </script>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                {% endif %}
            </div>
        </fieldset>
        <div id="id_mail_to_board">
            <fieldset class="module aligned ">
                <div class="submit-row">
                    <div class="field-box">
                        <h6>{% trans "order mail to board" %} :</h6>
                    </div>
                    <div class="field-box">
                        <h6>{{ order_board_email_will_be_sent_to }}</h6>
                    </div>
                    {% if order_board_email_will_be_sent %}
                        <div class="field-box">
                            {% with id_for_label=form.template_order_staff_mail.id_for_label %}
                                <div id="div_{{ id_for_label }}">
                                    <div class="controls col-xs-12">
                            <textarea class="CMS_CKEditor texteditorwidget form-control" id="{{ id_for_label }}"
                                      name="template_order_staff_mail">{{ form.template_order_staff_mail.value }}</textarea>
                                        <script>window.CKEDITOR_BASEPATH = "{{ STATIC_URL}}djangocms_text_ckeditor/ckeditor/";</script>
                                        <script src="{% static "djangocms_text_ckeditor/ckeditor/ckeditor.js" %}"></script>
                                        <script>
                                            CKEDITOR.replace("{{ id_for_label }}", {
                                                language: 'fr',
                                                forcePasteAsPlainText: true,
                                                toolbar: [
                                                    ['Preview', 'Image', 'Source']
                                                ],
                                                contentsCss: '{% static REPANIER_BOOTSTRAP_CSS %}',
                                                width: '100%',
                                                height: '24em',
                                                removePlugins: 'elementspath',
                                                readOnly: true
                                            });
                                        </script>
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    {% endif %}
                </div>
            </fieldset>
        </div>
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ permanence.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}