{% extends 'bs3/base_wo_cms_toolbar.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% block base_content %}
    <div class="container-repanier">
        <div class="container">
            {# {% debug %} #}
            <div class="row">
                <div class="col-lg-12">
                    <h4>{{ producer.long_name }}</h4>
                </div>
            </div>
            {% if producerinvoice %}
                <div class="row">
                    <div class="col-lg-12">
                        <h4><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            {% trans "Previous balance" %} : {{ producerinvoice.get_negative_previous_balance }}
                            <small>({{ producerinvoice.date_previous_balance | date:"DATE_FORMAT" }})</small><br></h4>
                    </div>
                </div>
            {% endif %}
            {% if offer_item_set %}
                <div class="row">
                    <div class="col-lg-12">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {% trans "Purchases" %}
                        {{ producerinvoice.permanence }} : {{ producerinvoice.get_total_price_with_tax }}
                        {% if producerinvoice.get_total_vat != 0 or producerinvoice.get_total_deposit != 0 or producerinvoice.delta_transport != 0 %}
                            <small>
                            . {% trans "This price include" %} <span class="glyphicon glyphicon-arrow-right"></span>
                            {% if producerinvoice.get_total_vat != 0 %}{% trans "VAT" %} :
                                {{ producerinvoice.get_total_vat }}{% endif %}
                            {% if producerinvoice.get_total_deposit != 0 %}
                                {% if producerinvoice.get_total_vat != 0 %}; {% endif %}
                                {% trans "Deposit" %} : {{ producerinvoice.get_total_deposit }}
                            {% endif %}
                            {% if producerinvoice.delta_transport != 0 %}
                                {% if producerinvoice.get_total_vat != 0 or producerinvoice.get_total_deposit != 0 %}
                                    ;
                                {% endif %}
                                {% trans "Shipping cost" %} : {{ producerinvoice.delta_transport }}
                            {% endif %}
                            <br>
                            {% if producerinvoice.delta_price_with_tax != 0 %}
                                {% if producerinvoice.delta_price_with_tax < 0 %}
                                    {% trans "Reduction granted" %}{% else %}
                                    {% trans "Surcharge" %}{% endif %} :
                                {{ producerinvoice.get_abs_delta_price_with_tax }}<br>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% for bank_account in bank_account_set %}
                <div class="row">
                    <div class="col-lg-12">
                        {% if bank_account.bank_amount_in != 0 %}
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {% trans "Provision" %} :
                            {% if bank_account.operation_comment %}
                                {{ bank_account.operation_comment }}
                            {% else %}
                                {% trans "Refund" %}
                            {% endif %} : {{ bank_account.bank_amount_in }}
                            <small>({{ bank_account.operation_date | date:"DATE_FORMAT" }})</small><br>
                        {% endif %}
                        {% if bank_account.bank_amount_out != 0 %}
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Refund" %} :
                            {% if bank_account.operation_comment %}
                                {{ bank_account.operation_comment }}
                            {% else %}
                                {% trans "Payment" %}
                            {% endif %} : {{ bank_account.bank_amount_out }}
                            <small>({{ bank_account.operation_date | date:"DATE_FORMAT" }})</small><br>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if producerinvoice %}
                <div class="row">
                    <div class="col-lg-12">
                        <h4><span class="glyphicon glyphicon-log-in"
                                  aria-hidden="true"></span> {% trans "New balance" %}
                            : {{ producerinvoice.get_negative_balance }}
                            <small>({{ producerinvoice.date_balance | date:"DATE_FORMAT" }}
                                {% if not next_producer_invoice_id and producerinvoice.invoice_sort_order %} -
                                    {% trans "last sale" %}{% endif %})</small>
                        </h4>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12">
                        <h4><span class="glyphicon glyphicon-log-in"
                                  aria-hidden="true"></span> {% trans "New balance" %}
                            : {{ producer.get_negative_balance }}
                            <small>({{ producer.date_balance | date:"DATE_FORMAT" }}
                                {% if not next_producer_invoice_id %} -
                                    {% trans "last sale" %}{% endif %})</small>
                        </h4>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <span id="basket_message">{{ basket_message }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-group">
                        {% if previous_producer_invoice_id %}
                            <a href="{% url 'repanier:producer_invoice_view' previous_producer_invoice_id producer.login_uuid %}"
                               class="btn btn-info btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span
                                    class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        {% endif %}
                        <span class="btn btn-disabled">{% trans "Invoice" %}</span>
                        {% if next_producer_invoice_id %}
                            <a href="{% url 'repanier:producer_invoice_view' next_producer_invoice_id producer.login_uuid %}"
                               class="btn btn-info btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span
                                    class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if offer_item_set %}
                <div class="container-fluid">
                    <div class="row">
                        <br>
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    {% trans "Reference" %}
                                </th>
                                <th>
                                    {% trans "Product" %}
                                </th>
                                <th>
                                    {% trans "Qty" %}
                                </th>
                                <th>
                                    {% trans "Unit price" %}
                                </th>
                                <th>
                                    {% trans "Total price" %}
                                </th>
                            <tr>
                            </thead>
                            <tbody>
                            {% for offer_item in offer_item_set %}
                                <tr>
                                    <td>
                                        {% if offer_item.reference|length < 36 %}
                                            {{ offer_item.reference }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ offer_item.get_long_name_with_producer_price }}
                                    </td>
                                    <td align="right">
                                        {{ offer_item.get_producer_qty_invoiced }}
                                    </td>
                                    <td align="right">
                                        {{ offer_item.get_producer_unit_price_invoiced }}
                                        {% if offer_item.unit_deposit != 0 %}, ♻
                                            {{ offer_item.unit_deposit }}{% endif %}
                                    </td>
                                    <td align="right">
                                        {{ offer_item.get_producer_row_price_invoiced }}
                                    </td>
                                <tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <div class="row">
                        <h4>{{ producerinvoice.permanence }} - {% trans "No purchase found" %}</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% addtoblock "lastjs" %}
        {% if not next_producer_invoice_id %}
            <script type="text/javascript">
                $(document).ready(function () {
                    var lien = '{% url 'repanier:producer_basket_message_form_ajax' producer.login_uuid %}';
                    $.ajax({
                        url: lien,
                        cache: false,
                        dataType: 'json',
                        async: true,
                        success: function (result) {
                            $.each(result, function (key, val) {
                                $(key).html(val);
                            });
                        }
                        {#            success: function (result) {#}
                        {#                $.each(result, function (key, val) {#}
                        {#                    $(val.id).html(val.html);#}
                        {#                });#}
                        {#            },#}
                        {#            error: function (result) {#}
                        {#                $("#basket_message").html("{% trans "Retry" %}");#}
                        {#            }#}
                    });
                });
            </script>
        {% endif %}
    {% endaddtoblock %}
{% endblock %}