{% extends 'bs3/base.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% block base_content %}
    <div class="container-repanier">
        <div class="container">
            {% block permanenceboard %}{% spaceless %}
                {% addtoblock "jshead" %}
                    <script src="{{ STATIC_URL }}repanier/bs3/waypoints/jquery.waypoints.min.js"></script>
                {% endaddtoblock %}
                {% addtoblock "jshead" %}
                    <script src="{{ STATIC_URL }}repanier/bs3/waypoints/shortcuts/infinite.min.js"></script>
                {% endaddtoblock %}
                {% if permanenceboard_list %}
                    <div class="infinite-container">
                        {% for permanenceboard in permanenceboard_list %}
                            <div class="infinite-item">
                                <form>
                                    {% ifchanged permanenceboard.permanence %}
                                        {% if not forloop.first %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <hr/>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <b>{{ permanenceboard.permanence }}</b>
                                            {% if REPANIER_DISPLAY_PRODUCERS_ON_ORDER_FORM == True %}&nbsp;:&nbsp;
                                                {% for producer in permanenceboard.permanence.producers.all %}
                                                    {{ producer }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            {% endif %}<br><br>
                                        </div>
                                    {% endifchanged %}
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-5">
                                            {% repanier_display_task task_id=permanenceboard.id %}
                                        </div>
                                        <div class="col-md-5">
                                            {% if user.is_authenticated %}
                                                {% repanier_select_task task_id=permanenceboard.id %}{% endif %}
                                            <br>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                    {% if page_obj.has_next %}
                        <div class="loading" style="display: none;">
                            <a href="?page={{ page_obj.next_page_number }}"
                               class="infinite-more-link btn btn-info not-active"><span
                                    class="glyphicon glyphicon-refresh gly-spin"></span>&nbsp;{% trans "Loading..." %}
                            </a>
                        </div>
                    {% endif %}
                    <a class="btn btn-info back-to-top-sticky-button" id="backToTop" href="#top"><span
                            class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
                    <script>
                        {#                https://www.w3schools.com/howto/howto_js_scroll_to_top.asp#}
                        window.onscroll = function () {
                            scrollFunction()
                        };

                        function scrollFunction() {
                            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                                document.getElementById("backToTop").style.display = "block";
                            } else {
                                document.getElementById("backToTop").style.display = "none";
                            }
                        }

                        var infinite = new Waypoint.Infinite({
                            element: $('.infinite-container')[0],
                            offset: '75%',
                            onBeforePageLoad: function () {
                                $('.loading').show();
                            },
                            onAfterPageLoad: function ($items) {
                                $('.loading').hide();
                                {#$('.loaded').show();#}
                            }
                        });
                    </script>
                {% else %}
                    <h3>{% trans "No permanence found" %}</h3>
                {% endif %}
            {% endspaceless %}{% endblock permanenceboard %}
            {% addtoblock "lastjs" %}{% spaceless %}
                <script type="text/javascript">
                    function task_ajax(task_id) {
                        var $task = $("#task" + task_id);
                        var lien = '{% url 'repanier:task_form_ajax' %}?value=' + $task.val() + "&task=" + task_id;
                        $.ajax({
                            url: lien,
                            cache: false,
                            async: true,
                            success: function (result) {
                                $.each(result, function (key, val) {
                                    $(key).html(val);
                                });
                            }
                        });
                    }

                    $(document).ready(function () {
                        $("select").focus(function () {
                            //store old value of "select" to restore it when Ajax calls fails
                            $(this).data('oldValue', $(this).val());
                        });
                    });
                </script>
            {% endspaceless %}{% endaddtoblock %}
        </div>
    </div>

{% endblock %}
