{% load i18n static %}
{% spaceless %}
{% with id=widget.attrs.id name=widget.name %}
    <div id="{{ id }}_file_dropbox">
        {% if bootstrap %}
            <a id="{{ id }}_file_select" style="display:{{ repanier_display_picture }}" target="_blank" href="{{ repanier_file_url }}">
                <img id="{{ id }}_file_img" src="{{ repanier_file_url }}" class="img-responsive img-thumbnail" style="margin:5px; min-height:32px; min-width:32px; max-height:225px; max-width:225px;">
            </a>
            <p id="{{ id }}_file_remove" style="display:{{ repanier_display_picture }}"><a id="{{ id }}_file_remove" class="btn btn-danger" href="#remove">{% translate "Remove" %}</a></p>
            <input id="{{ id }}_file_elem" type="file" style="display:none" accept="image/*"/>
            <a href="#" id="{{ id }}_file_elem_select" class="btn btn-info" style="display:{{ repanier_display_upload }}"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
        {% else %}
            <a id="{{ id }}_file_select" style="display:{{ repanier_display_picture }}" target="_blank" href="{{ repanier_file_url }}">
                <img id="{{ id }}_file_img" src="{{ repanier_file_url }}" style="min-height:32px; min-width:32px; max-height:225px; max-width:225px;">
            </a>
            <button id="{{ id }}_file_remove" style="display:{{ repanier_display_picture }}">{% translate "Remove" %}&nbsp;<img id="id_picture_clear" src="{% static "admin/img/icon-deletelink.svg" %}" height="10" width="10"></button>
            <input id="{{ id }}_file_elem" type="file" style="display:none" accept="image/*"/>
            <button id="{{ id }}_file_elem_select" style="display:{{ repanier_display_upload }}">{% translate "Select a picture" %}</button>
        {% endif %}
        <input id="{{ id }}" type="hidden" value="{{ repanier_file_path }}" name="{{ name }}" />
    </div>
    <script>
        var {{ id }}_jQuery;
        if( typeof django === 'undefined'){
            if( typeof CMS === 'undefined'){
                {{ id }}_jQuery = $
            } else {
                {{ id }}_jQuery = CMS.$
            }
        } else {
            {{ id }}_jQuery = django.jQuery
        }
        (function($){
            var {{ id }}_file_select = $("#{{ id }}_file_select"),
                {{ id }}_file_elem = $("#{{ id }}_file_elem"),
                {{ id }}_file_elem_select = $("#{{ id }}_file_elem_select"),
                {{ id }}_file_img = $("#{{ id }}_file_img"),
                {{ id }}_file_dropbox = $("#{{ id }}_file_dropbox"),
                {{ id }}_file_remove = $("#{{ id }}_file_remove"),
                {{ id }}_file_path = $("#{{ id }}");
            function getCsrftoken() {
                var csrftoken = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = $.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, 'csrftoken'.length + 1) === ('csrftoken=')) {
                            csrftoken = decodeURIComponent(cookie.substring('csrftoken'.length + 1));
                            break;
                        }
                    }
                }
                return csrftoken;
            }
            function addEventHandler(obj, evt, handler) {
                if(obj.addEventListener) {
                    // W3C method
                    obj.addEventListener(evt, handler, false);
                } else if(obj.attachEvent) {
                    // IE method.
                    obj.attachEvent('on'+evt, handler);
                } else {
                    // Old school method.
                    obj['on'+evt] = handler;
                }
            }
            function cancel(e) {
                e.stopPropagation();
                if (e.preventDefault) { e.preventDefault(); }
                return false;
            }
            function handleFiles(files) {
                var file = files[0];
                var imageType = /^image\//;
                var file_type = file.type;
                var img = document.createElement("img");
                var reader = new FileReader();
                if (!imageType.test(file_type)) {
                    alert('{% translate "File is not an image" %}');
                    return;
                }
                reader.onloadend  = function() {
                    var do_not_wait_forever, do_not_do_it_twice, wait_until_img_loaded;
                    img.src = reader.result;
                    function img_loaded() {
                        var canvas = document.createElement('canvas');
                        var context = canvas.getContext("2d");
                        var MAX_WIDTH = {{ repanier_width }};
                        var MAX_HEIGHT = {{ repanier_height }};
                        var byteString, mimeString, length, ia, i, file_resized, form_data, csrftoken, width, height;
                        width = img.width;
                        height = img.height;
                        if (width > height) {
                            if (width > MAX_WIDTH) {
                                height *= MAX_WIDTH / width;
                                width = MAX_WIDTH;
                            }
                        } else {
                            if (height > MAX_HEIGHT) {
                                width *= MAX_HEIGHT / height;
                                height = MAX_HEIGHT;
                            }
                        }
                        canvas.width = width;
                        canvas.height = height;
                        canvas.style.visibility = "hidden";

                        context.drawImage(img, 0, 0, width, height);
                        var dataURL = null;
                        if(file_type === 'image/png') {
                            dataURL = canvas.toDataURL("image/png");
                        } else {
                            dataURL = canvas.toDataURL("image/jpeg", 0.9);
                        }
                        if (dataURL.split(',')[0].indexOf('base64') >= 0)
                            byteString = atob(dataURL.split(',')[1]);
                        else
                            byteString = unescape(dataURL.split(',')[1]);
                        mimeString = dataURL.split(',')[0].split(':')[1].split(';')[0];
                        length = byteString.length;
                        ia = new Uint8Array(length);
                        for (i = 0; i < length; i++) {
                            ia[i] = byteString.charCodeAt(i);
                        }
                        file_resized = new Blob([ia], {type:mimeString});
                        form_data = new FormData();
                        form_data.append('file', file_resized, file.name);
                        csrftoken = getCsrftoken();
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        });
                        $.ajax({
                            url : "{{ upload_url }}",
                            type : "POST",
                            cache: false,
                            async: true,
                            data: form_data,
                            processData: false,
                            contentType: false,
                            success: function (result) {
                                var msg = "";
                                $.each(result, function (key, val) {
                                    if(key === 'url') {
                                        {{ id }}_file_select.attr("href", val);
                                        {{ id }}_file_img.attr("src", val);
                                    } else if(key === 'filename') {
                                        {{ id }}_file_path.val(val);
                                    } else {
                                        msg = val;
                                    }
                                });
                                {{ id }}_file_elem.val("");
                                {{ id }}_file_select.css('display', 'inline');
                                {{ id }}_file_remove.css('display', 'inline');
                                {{ id }}_file_elem.hide();
                                {{ id }}_file_elem_select.hide();
                                if(msg !== "") {
                                    alert(msg);
                                    cancel()
                                }
                            },
                            error : function(result, errcode, errmsg) {
                                var obj;
                                if(result.status === 403) {
                                    obj = JSON.parse(result.responseText);
                                    alert(obj.error)
                                } else {
                                    alert(errcode + ": " + errmsg)
                                }
                            }
                        });
                    }
                    do_not_wait_forever = setTimeout(function(){
                        clearInterval(wait_until_img_loaded);
                        alert('{% translate "Processing this image take too much time" %}')
                    },10000);
                    do_not_do_it_twice = 0;
                    wait_until_img_loaded = setInterval(function () {
                        if(img.complete && ++do_not_do_it_twice===1) {
                            clearTimeout(do_not_wait_forever);
                            clearInterval(wait_until_img_loaded);
                            img_loaded()
                        }
                    },100);
                };
                reader.readAsDataURL(file);
            }
            function drop(e) {
                var dt, files;
                cancel(e);
                dt = e.dataTransfer;
                files = dt.files;
                handleFiles(files);
            }
            {{ id }}_file_remove.on('click', function(e){
                cancel(e);
                {{ id }}_file_select.hide();
                {{ id }}_file_remove.hide();
                {{ id }}_file_elem_select.css('display', 'inline');
                {{ id }}_file_path.val("");
            });
            {{ id }}_file_elem.on('change', function(e){
                cancel(e);
                handleFiles(this.files);
            });
            {{ id }}_file_elem_select.on('click', function(e){
                {{ id }}_file_elem.click();
                cancel(e);
            });
            addEventHandler({{ id }}_file_dropbox, "dragenter", cancel);
            addEventHandler({{ id }}_file_dropbox, "dragover", cancel);
            addEventHandler({{ id }}_file_dropbox, "drop", drop);
        }({{ id }}_jQuery))
    </script>
{% endwith %}
{% endspaceless %}