{% load i18n %}
{% spaceless %}
<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} onchange="{{ widget.name }}_select(this.value)">{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>
<script>
    django.jQuery(document).ready(function() { {{ widget.name }}_select("{{ widget.value|first }}");});
    function {{ widget.name }}_select(value) {
        (function($){
            switch (value) {
                case "100":
                    $("div.fieldBox.field-unit_deposit").show();
                    $("div.fieldBox.field-order_average_weight").hide();
                    $("div.fieldBox.field-customer_minimum_order_quantity").show();
                    $("div.fieldBox.field-customer_increment_order_quantity").hide();
                    $("div.form-row.field-customer_minimum_order_quantity").hide();
                    $("div.form-row.field-customer_increment_order_quantity").hide();
                    $("div.fieldBox.field-customer_unit_price").show();
                    $("div.form-row.field-wrapped").hide();
                    break;
                case "105":
                case "110":
                case "115":
                    $("div.fieldBox.field-unit_deposit").show();
                    $("div.fieldBox.field-order_average_weight").show();
                    $("div.fieldBox.field-customer_minimum_order_quantity").show();
                    $("div.fieldBox.field-customer_increment_order_quantity").hide();
                    $("div.form-row.field-customer_minimum_order_quantity").show();
                    $("div.form-row.field-customer_increment_order_quantity").hide();
                    $("div.fieldBox.field-customer_unit_price").show();
                    $("div.form-row.field-wrapped").hide();
                    break;
                case "140":
                    $("div.fieldBox.field-unit_deposit").hide();
                    $("div.fieldBox.field-order_average_weight").show();
                    $("div.fieldBox.field-customer_minimum_order_quantity").show();
                    $("div.fieldBox.field-customer_increment_order_quantity").show();
                    $("div.form-row.field-customer_minimum_order_quantity").show();
                    $("div.form-row.field-customer_increment_order_quantity").show();
                    $("div.fieldBox.field-customer_unit_price").show();
                    $("div.form-row.field-wrapped").show();
                    break;
                case "120":
                case "150":
                    $("div.fieldBox.field-unit_deposit").hide();
                    $("div.fieldBox.field-order_average_weight").hide();
                    $("div.fieldBox.field-customer_minimum_order_quantity").show();
                    $("div.fieldBox.field-customer_increment_order_quantity").show();
                    $("div.form-row.field-customer_minimum_order_quantity").show();
                    $("div.form-row.field-customer_increment_order_quantity").show();
                    $("div.fieldBox.field-customer_unit_price").show();
                    $("div.form-row.field-wrapped").show();
                    break;
                case "300":
                case "400":
                case "500":
                    $("div.fieldBox.field-unit_deposit").hide();
                    $("div.fieldBox.field-order_average_weight").hide();
                    $("div.fieldBox.field-customer_minimum_order_quantity").hide();
                    $("div.fieldBox.field-customer_increment_order_quantity").hide();
                    $("div.form-row.field-customer_minimum_order_quantity").hide();
                    $("div.form-row.field-customer_increment_order_quantity").hide();
                    $("div.fieldBox.field-customer_unit_price").hide();
                    $("div.form-row.field-wrapped").hide();
                    break;
                case "600":
                    $("div.fieldBox.field-unit_deposit").hide();
                    $("div.fieldBox.field-order_average_weight").hide();
                    $("div.fieldBox.field-customer_minimum_order_quantity").hide();
                    $("div.fieldBox.field-customer_increment_order_quantity").hide();
                    $("div.form-row.field-customer_minimum_order_quantity").hide();
                    $("div.form-row.field-customer_increment_order_quantity").hide();
                    $("div.fieldBox.field-customer_unit_price").show();
                    $("div.form-row.field-wrapped").hide();
                    break;
            }
            switch (value) {
                case "105":
                    $("div.fieldBox.field-order_average_weight label").html("{% translate "Piece weight in kg" %}");
                    break;
                case "110":
                    $("div.fieldBox.field-order_average_weight label").html("{% translate "Piece content in l" %}");
                    break;
                case "115":
                    $("div.fieldBox.field-order_average_weight label").html("{% translate "Number of pieces in a pack" %}");
                    break;
                case "140":
                    $("div.fieldBox.field-order_average_weight label").html("{% translate "Average weight in kg of a piece" %}");
                    break;
            }
            switch (value) {
                case "100":
                case "105":
                case "110":
                    $("div.fieldBox.field-producer_unit_price label").html("{% translate "Producer price for one piece" %}");
                    $("div.fieldBox.field-customer_unit_price label").html("{% translate "Customer price for one piece" %}");
                    $("div.fieldBox.field-customer_minimum_order_quantity label").html("{% translate "Minimum order quantity expressed as number of pieces" %}");
                    break;
                case "115":
                    $("div.fieldBox.field-producer_unit_price label").html("{% translate "Producer price for one pack" %}");
                    $("div.fieldBox.field-customer_unit_price label").html("{% translate "Customer price for one pack" %}");
                    $("div.fieldBox.field-customer_minimum_order_quantity label").html("{% translate "Minimum order quantity expressed in number of pack(s)" %}");
                    break;
                case "120":
                    $("div.fieldBox.field-producer_unit_price label").html("{% translate "Producer price for one kg" %}");
                    $("div.fieldBox.field-customer_unit_price label").html("{% translate "Customer price for one kg" %}");
                    $("div.fieldBox.field-customer_minimum_order_quantity label").html("{% translate "Minimum order quantity in kg (0.05 = 50 grams)" %}");
                    break;
                case "140":
                    $("div.fieldBox.field-producer_unit_price label").html("{% translate "Producer price for one kg" %}");
                    $("div.fieldBox.field-customer_unit_price label").html("{% translate "Customer price for one kg" %}");
                    $("div.fieldBox.field-customer_minimum_order_quantity label").html("{% translate "Minimum order quantity expressed as number of pieces" %}");
                    break;
                case "150":
                    $("div.fieldBox.field-producer_unit_price label").html("{% translate "Producer price for one l" %}");
                    $("div.fieldBox.field-customer_unit_price label").html("{% translate "Customer price for one l" %}");
                    $("div.fieldBox.field-customer_minimum_order_quantity label").html("{% translate "Minimum order quantity expressed in ℓ (0.75 = 75 cℓ)" %}");
                    break;
                case "300":
                    $("div.fieldBox.field-producer_unit_price label").html("{% translate "Producer price for one deposit" %}");
                    break;
                case "500":
                    $("div.fieldBox.field-producer_unit_price label").html("{% translate "Producer price for one transportation" %}");
                    break;
                case "600":
                    $("div.fieldBox.field-producer_unit_price label").html("{% translate "Producer price for one subscription" %}");
                    break;
            }
        }(django.jQuery))
    }
</script>
{% endspaceless %}