{% extends "admin/change_form.html" %}
{% load cms_tags menu_tags i18n l10n static %}

{% block extrahead %}
    {{ block.super }}
    {{ permanence_form.media }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {% translate 'Manage' %}
        &rsaquo; <a href="{% url 'admin:repanier_permanencedone_changelist' %}">{% translate 'Offers in payment' %}</a>
    </div>
{% endblock %}

{% block content %}
    <form action="{{ form_url }}" method="post">{% csrf_token %}
        <h2>{{ permanence|title }}</h2>
        <div class="form-row">
            <h3>{% translate "Please confirm your invoice calculation request" %}</h3>
            <p>&nbsp;</p>
            <div id="myDIV">
                <button type="submit" class="repanier-submit-info" name="cancel"
                        value="cancel">{% translate "No, cancel the action" %}</button>
                <button type="submit" class="repanier-submit-info" name="apply" value="apply" class="default"
                        onclick="document.getElementById('myDIV').style.display = 'none';">
                    {% translate "Yes, I'm sure and I have already encoded the customer's provisions into the bank account" %}
                </button>
            </div>
            {{ producer_invoiced_formset.management_form }}
        </div>
        <div class="form-row">
            <div class="form-group">
                {{ permanence_form.non_field_errors }}
                <div class="fieldWrapper">
                    {% if permanence_form.payment_date.errors %}
                        <ul class="errorlist">
                            {% for error in permanence_form.payment_date.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <label for="id_payment_date"
                           class="repanier-label-info">{% translate "Payment date" %}&nbsp;:</label>
                </div>
            </div>
            {{ permanence_form.payment_date }}
        </div>
        <div class="form-row">
            <p>&nbsp;</p>
            <h3>{% translate "Please indicate the producers you wish to pay" %}</h3>
            <p>&nbsp;</p>
            <ul class="repanier-flex-ul">
                <li class="repanier-flex-ul-li">
                    <input id="all-producers" name="all-producers"
                           onClick="toggle_all('all-producers', 'producer_invoiced_form');"
                           autocomplete="off" type="checkbox" checked>
                    <label for="all-producers">
                        {% translate "Select all producers." %}
                    </label>
                </li>
            </ul>
        </div>
        {% for f_form in producer_invoiced_formset %}
            <div class="form-row">
                <ul class="repanier-flex-ul">
                    <li class="repanier-flex-ul-li repanier-ban">
                        {{ f_form.id.as_hidden }}
                        <input id="id_form-{{ forloop.counter0 }}-selected"
                               name="form-{{ forloop.counter0 }}-selected"
                               class="producer_invoiced_form"
                               onClick="toggle('all-producers', 'id_form-{{ forloop.counter0 }}-selected' , 'producer_invoiced_form');"
                               autocomplete="off" type="checkbox" checked>
                        <label for="id_form-{{ forloop.counter0 }}-selected">
                            {{ f_form.short_profile_name.value }}
                        </label>
                    </li>
                    <li class="repanier-flex-ul-li">
                        {% translate ", calculated : " %}
                        {{ f_form.calculated_invoiced_balance.value }}&nbsp;{% translate "w VAT" %}
                        {% translate ", invoiced : " %}&nbsp;
                    </li>
                    <li class="repanier-flex-ul-li">
                        {{ f_form.to_be_invoiced_balance }}
                    </li>
                    <li class="repanier-flex-ul-li">
                        &nbsp;{% if f_form.producer_price_are_wo_vat is True %}{% translate "wo VAT" %}{% else %}
                        {% translate "w VAT" %}{% endif %}
                        {% translate ", invoice reference : " %} {{ f_form.invoice_reference }}
                    </li>
                </ul>
            </div>
        {% endfor %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ permanence.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}