{% extends "admin/base_site.html" %}
{% load cms_tags menu_tags i18n l10n static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {% trans 'Manage' %}
        &rsaquo; <a href="{% url 'admin:repanier_permanencedone_changelist' %}">{% trans 'Billing offers' %}</a>
    </div>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" action="{{ form_url }}" method="post">{% csrf_token %}
        <h2>{{ sub_title|title }}</h2>
        <div class="form-row">
            <b>{% trans "The importation concern :" %}</b> {% for object in queryset.all %}{{ object }}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ object.id|unlocalize }}"/>
            {% if not forloop.last %}, {% endif %}{% endfor %}
            <br>
            <label for="id_file_to_import"><b>{% trans "File to import :" %}</b></label><input id="id_file_to_import"
                                                                                               name="file_to_import"
                                                                                               type="file"/>
        </div>
        <div class="form-row">
            <div class="fieldWrapper">
                {{ form.invoice_reference.errors }}
                {{ form.invoice_reference.label_tag }}
                {{ form.invoice_reference }}
            </div>
        </div>
        <div class="form-row">
            <div class="fieldWrapper">
                {{ form.producer.errors }}
                {{ form.producer.label_tag }}
                {{ form.producer }}
            </div>
        </div>
        <div class="form-row">
            <button type="submit" class="repanier-submit-info" name="cancel"
                    value="cancel">{% trans "No, cancel the action" %}</button>
            <button type="submit" class="repanier-submit-info" name="apply" value="apply"
                    class="default">{% trans "Perform the import" %}</button>
        </div>

        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}
