{% extends "admin/base_site.html" %}
{% load cms_tags menu_tags i18n l10n static %}
{% block content %}
    <link rel="stylesheet" href="{% static REPANIER_BOOTSTRAP_CSS %}">
    <link rel="stylesheet" href="{% static REPANIER_CUSTOM_CSS %}">
    <h4>{{ sub_title }}</h4>
    <p></p>
    <form action="" method="post">{% csrf_token %}
        <h6>{% trans "Mail invoice of orders" %} : {{ permanence }}</h6>
        <div class="submit-row repanier-submit-row">
            <button type="submit" name="cancel" value="cancel"><h6>{% trans "No, cancel the action" %}</h6></button>
            <button type="submit" name="apply" value="apply" class="default"><h6>{% trans "Yes, I'm sure" %}</h6></button>
        </div>
        <fieldset class="module aligned ">
        <div class="submit-row repanier-submit-row">
            <div class="fieldBox">
                <h6>{% trans "Mail invoices to customers" %} :</h6>
            </div>
            <div class="fieldBox">
                <h6>{{ invoice_customer_email_will_be_sent_to }}</h6>
            </div>
        {% if invoice_customer_email_will_be_sent %}
            <div class="fieldBox">
                {% with id_for_label=form.template_invoice_customer_mail.id_for_label %}
                    <div id="div_{{ id_for_label }}">
                        <div class="controls col-xs-12">
                            <textarea class="CMS_CKEditor texteditorwidget form-control" id="{{ id_for_label }}"
                                      name="template_invoice_customer_mail">{{ form.template_invoice_customer_mail.value }}</textarea>
                            <script>window.CKEDITOR_BASEPATH = "{{ STATIC_URL}}djangocms_text_ckeditor/ckeditor/";</script>
                            <script src="{% static "djangocms_text_ckeditor/ckeditor/ckeditor.js" %}"></script>
                            <script>
                                CKEDITOR.replace("{{ id_for_label }}", {
                                    language: 'fr',
                                    forcePasteAsPlainText: true,
                                    toolbar: [
                                        ['Preview', 'Image', 'Source']
                                    ],
                                    contentsCss: '{% static REPANIER_BOOTSTRAP_CSS %}',
                                    width: '100%',
                                    height: '24em',
                                    removePlugins: 'elementspath',
                                    readOnly: true
                                });
                            </script>
                        </div>
                    </div>
                {% endwith %}
            </div>
        {% endif %}
        </div>
        </fieldset>
        <fieldset class="module aligned ">
        <div class="submit-row repanier-submit-row">
            <div class="fieldBox">
                <h6>{% trans "Mail invoices to producers" %} :</h6>
            </div>
            <div class="fieldBox">
                <h6>{{ invoice_producer_email_will_be_sent_to }}</h6>
            </div>
        {% if invoice_producer_email_will_be_sent %}
            <div class="fieldBox">
                {% with id_for_label=form.template_invoice_producer_mail.id_for_label %}
                    <div id="div_{{ id_for_label }}">
                        <div class="controls col-xs-12">
                            <textarea class="CMS_CKEditor texteditorwidget form-control" id="{{ id_for_label }}"
                                      name="template_invoice_producer_mail">{{ form.template_invoice_producer_mail.value }}</textarea>
                            <script>window.CKEDITOR_BASEPATH = "{{ STATIC_URL}}djangocms_text_ckeditor/ckeditor/";</script>
                            <script src="{% static "djangocms_text_ckeditor/ckeditor/ckeditor.js" %}"></script>
                            <script>
                                CKEDITOR.replace("{{ id_for_label }}", {
                                    language: 'fr',
                                    forcePasteAsPlainText: true,
                                    toolbar: [
                                        ['Preview', 'Image', 'Source']
                                    ],
                                    contentsCss: '{% static REPANIER_BOOTSTRAP_CSS %}',
                                    width: '100%',
                                    height: '24em',
                                    removePlugins: 'elementspath',
                                    readOnly: true
                                });
                            </script>
                        </div>
                    </div>
                {% endwith %}
            </div>
        {% endif %}
        </div>
        </fieldset>
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ permanence.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}
