{% extends "admin/base_site.html" %}
{% load cms_tags menu_tags i18n l10n static %}
{% block content %}
    <link rel="stylesheet" href="{% static REPANIER_BOOTSTRAP_CSS %}">
    <link rel="stylesheet" href="{% static REPANIER_CUSTOM_CSS %}">
    <h4>{{ sub_title }}</h4>
    <p></p>
    <form action="" method="post">{% csrf_token %}
        <h6>{{ permanence }} :</h6>
        <div class="submit-row repanier-submit-row">
            <button type="submit" name="done" value="done"><h6>{% trans "Done" %}</h6></button>
        </div>
        <fieldset class="module aligned ">
        <div class="submit-row repanier-submit-row">
            {% for bankaccount in bankaccounts %}
                <h6>{{ bankaccount.producer.short_profile_name }}, {{ bankaccount.bank_amount_out }},
                {{ bankaccount.operation_comment }}</h6>
            {% endfor %}
        </div>
        </fieldset>
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ permanence.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}
