{% extends 'bs3/cms_page.html' %}
{% load cms_tags sekizai_tags i18n l10n %}

{% block sub_content %}
    {% block notification %}
        {% if notification %}
        <div id="containerInfo" class="hidden-xs">
            <div class="row">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                {{ notification }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock notification %}
    {% block may_order %}{% spaceless %}
        {% if user.is_authenticated and not may_order %}
            <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    {% trans "The ordering functionality is not activated in your account. <br> If you wish to order, please contact the managers of your group." %}
                </div>
            </div>
            </div>
        {% endif %}
    {% endspaceless %}{% endblock may_order %}
    {% block permanence_description %}{% spaceless %}
        {% if may_order or display_anonymous_order_form %}
            <div class="row">
            <div class="panel panel-default">
                {% if permanence.offer_description and permanence.offer_description.strip %}
                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-offer-description">
                    <h4 class="panel-title">{{ permanence.get_permanence_display }}</h4>
                </div>
                <div id="collapse-offer-description" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            {% if permanence.picture %}<img class="img-responsive img-rounded" style="float: left; margin: 5px;" alt="{{ permanence.get_permanence_display }}" title="{{ permanence.get_permanence_customer_display }}" src="{{ MEDIA_URL }}{{ permanence.picture }}"/><div class="clearfix visible-xs-block visible-sm-block"></div>{%  endif %}
                            {{ permanence.offer_description | safe }}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="panel-heading">
                     <h4 class="panel-title">{{ permanence.get_permanence_display }}</h4>
                </div>
                {% endif %}
            </div>
            </div>
        {% endif %}
    {% endspaceless %}{% endblock permanence_description %}
    {% block confirm_basket %}{% spaceless %}
        {% if may_order %}
            {% if is_basket %}
                <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#collapse-basket-description" aria-expanded="true">
                        <h4 class="panel-title">{% trans "Details of your order" %}</h4>
                    </div>
                    <div id="collapse-basket-description" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="panel-body bg-primary">
                            <div class="col-xs-12">
                            <span id="span_btn_confirm_order"></span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% else %}
                {% if offeritem_list %}
                    <span id="span_btn_confirm_order"></span>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endspaceless %}{% endblock confirm_basket %}{% spaceless %}
    {% if may_order or display_anonymous_order_form %}
        <div class="row">
            <div class="col-xs-11 col-sm-5 col-md-3 bs-docs-sidebar">
                <div class="fixed">
        {#            q : {{ q }}<br>#}
        {#            producer_id : {{ producer_id }}<br>#}
        {#            department_id : {{ department_id }}<br>#}
        {#            box_id : {{ box_id }}<br>#}
        {#            is_like : {{ is_like }}<br>#}
        {#            is_basket : {{ is_basket }}<br>#}
        {#            is_box : {{ is_box }}<br>#}
                    {% if may_order %}
                        <form action="{% url "repanier:order_view" permanence_id %}" id="search_form" class="form-horizontal navbar-form" role="search" method="get">
                            {% csrf_token %}
                            <div class="input-group">
                                {% if q %}
                                    <input type="search" autosave="repanier" class="form-control" value="{{ q }}" name="q">
                                {% else %}
                                    <input type="search" autosave="repanier" class="form-control" placeholder="{% trans "Search" %}"
                                           name="q">
                                {% endif %}
                                <div class="input-group-btn">
                                    <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                            <input type="hidden" name="producer" value="{{ producer_id }}">
                            <input type="hidden" name="department" value="{{ department_id }}">
                            <input type="hidden" name="box" value="{{ box_id }}">
                            <input type="hidden" name="is_like" value="{{ is_like }}">
                            <input type="hidden" name="is_basket" value="{{ is_basket }}">
                        </form>
                        <br>
                    {% endif %}
                    {% block product_filter %}{% spaceless %}
                        <ul class="nav nav-stacked" id="sidebar">
                            {% if may_order %}
                            <li>
                                <a href="{% url "repanier:order_view" permanence_id %}" {% if not q and not is_like and not is_basket and department_id == "all" and producer_id == "all" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "All products" %}</a>
                            </li>
                            <li>
                                <a href="{% url "repanier:order_view" permanence_id %}?is_basket=yes" {% if not q and not is_like and is_basket and department_id == "all" and producer_id == "all" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "My cart" %}</a>
                            </li>
                            <li>
                                <a href="{% url "repanier:order_view" permanence_id %}?is_like=yes{% if q %}&q={{ q }}{% endif %}" {% if is_like %}class="bs-docs-sidebar-active"{% endif %}>{% trans "My" %} <span class="glyphicon glyphicon-heart"></span></a>
                            </li>
                            {% endif %}
                            {% if box_set %}
                                {% for box in box_set.all %}
                                    <li><a href="{% url "repanier:order_view" permanence_id %}?box={{ box.id|unlocalize }}"
                                           {% if box.id == box_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ box.long_name | truncatechars:20 }} 📦{#  <span class="glyphicon glyphicon-gift"></span> #}</a>
                                {% endfor %}
                            {% endif %}
                            {% if producer_set %}
                                <li>
                                    <a href="{% url "repanier:order_view" permanence_id %}?department={{ department_id }}"
                                       {% if producer_id == "all" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "All producers" %}</a>
                                    <ul class="nav nav-stacked">
                                {% for producer in producer_set.all %}
                                    <li><a href="{% url "repanier:order_view" permanence_id %}?producer={{ producer.id|unlocalize }}&department={{ department_id }}"
                                           {% if producer.id == producer_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ producer.short_profile_name | truncatechars:15 }}&nbsp;<span id="order_procent{{ producer.id|unlocalize }}" class="badge"></span></a>
                                    </li>
                                {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if department_set %}
                                <li>
                                    <a href="{% url "repanier:order_view" permanence_id %}?producer={{ producer_id }}"
                                       {% if department_id == "all" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "All departments" %}</a>
                                    <ul class="nav nav-stacked">
                                        {% for department in department_set.all %}
                                            {% if department.level > 0 %}
                                                {% ifchanged department.parent_id %}
                                                {% if department.parent.level == 0 %}</ul>{% endif %}
                                                <li><a href="{% url "repanier:order_view" permanence_id %}?producer={{ producer_id }}&department={{ department.parent_id|unlocalize }}"
                                                       {% if department.parent_id == department_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ department.parent.short_name }}</a>
                                                </li>
                                                {% if department.parent.level == 0 %}<ul class="nav nav-stacked">{% endif %}
                                                {% endifchanged %}
                                                <li>
                                                    <a href="{% url "repanier:order_view" permanence_id %}?producer={{ producer_id }}&department={{ department.id|unlocalize }}"
                                                       {% if department.id == department_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ department.short_name }}</a>
                                                </li>
                                            {% else %}
                                                    </ul><li>
                                                    <a href="{% url "repanier:order_view" permanence_id %}?producer={{ producer_id }}&department={{ department.id|unlocalize }}"
                                                       {% if department.id == department_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ department.short_name }}</a>
                                                    </li><ul class="nav nav-stacked">
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    {% endspaceless %}{% endblock product_filter %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-9">
                {% block product_list %}{% endblock product_list %}
            </div>
        </div>
        {% block order_modal %}{% spaceless %}
            {#        Communication Modal starts#}
            <div id="communicationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="communicationModalLabel"
                 aria-hidden="true">
            </div>
            {#        Communication modal ends#}
            {#        Order Modal starts#}
            <div id="orderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
                 aria-hidden="true">
            </div>
            {#        Order modal ends#}
            {#        Other qty Modal starts#}
            <div id="otherQtyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="otherQtyModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="otherQtyModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                <span id="otherQtyDetails">
                  {% trans "To order a bigger quantity, please contact your " %}{{ staff_order.long_name | lower }} : <br>
                  <b>{{ staff_order.customer_responsible.long_basket_name }}</b><br>
                  <span class="glyphicon glyphicon glyphicon-earphone"></span>  <b>{{ staff_order.customer_responsible.get_phone1 }}</b><br>
                  <a href="mailto:{{ staff_order.user.email }}" style="color : inherit;">{{ staff_order.user.email }}</a><br>
                </span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                        </div>
                    </div>
                </div>
            </div>
            {#        Other qty modal ends#}
        {% endspaceless %}{% endblock order_modal %}
    {% endif %} {# may_order or display_anonymous_order_form #}{% endspaceless %}
    {% block my_cart_amount_js %}{% spaceless %}
        {% if may_order %}
            {% addtoblock "lastjs" %}
                <script type="text/javascript">
                $(document).ready(function () {
                    var lien = '{% url "repanier:my_cart_amount_ajax" permanence_id %}';
                    $.ajax({
                        url: lien,
                        cache: false,
                        dataType: 'json',
                        success: function (result) {
                                $.each(result, function (key, val) {
                                    $(key).html(val);
                                });
                        }
                    });
                    $("#li_my_basket").show();
                    });
                </script>
            {% endaddtoblock %}
        {% endif %}
    {% endspaceless %}{% endblock my_cart_amount_js %}
    {% block my_order_js %}
        {% addtoblock "lastjs" %}{% spaceless %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#orderModal').modal({
                        keyboard: true,
                        backdrop: false,
                        show: false
                    }).on('show.bs.modal', function (event) {
                        t_row=$(event.relatedTarget);
                        var getIdFromRow = t_row.data('id');
                        var lien = '{% url 'repanier:customer_product_description_ajax' %}?offer_item=' + getIdFromRow;
                        $.ajax({
                            url: lien,
                            cache: false,
                            success: function (result) {
                                $.each(result, function (key, val) {
                                    $(key).html(val);
                                });
                            }
                        });
                    });
                });
            </script>
        {% endspaceless %}{% endaddtoblock %}
        {% if may_order %}
            {% addtoblock "lastjs" %}{% spaceless %}
                <script type="text/javascript">
                {#            saved_offer_item_id is a fix for firefox throwings mouseover repeatingly #}
                var saved_offer_item_id = -1;
                {#            saved_delivery_val is a fix for firefox throwings mouseover repeatingly #}
                var saved_delivery_id = -1;
                $(document).ready(function () {
                    var lien = '{% url 'repanier:order_init_ajax' %}?pe={{ permanence.id|unlocalize }}{% if communication %}&co={{ communication }}{% endif %}{% if is_basket %}&ba=yes{% endif %}';
                    $.ajax({
                        url: lien,
                        cache: false,
                        dataType: 'json',
                        success: function (result) {
                            $.each(result, function (key, val) {
                                if(key === "#communicationModal") {
                                    $(key).html(val).modal('show');
                                } else {
                                    $(key).html(val);
                                }
                            });
                        }
                    });
                    $("#li_my_basket").show();
                    $('#btn_receive_email').on('click', function(event) {
                        event.preventDefault(); // To prevent following the link (optional)
                        $("#receive_email").hide();
                    });
                });
                function order_ajax(offer_item_id) {
                    saved_offer_item_id = -1;
                    var offer_item = $("#offer_item" + offer_item_id);
                    var offer_item_val = $("option:selected", offer_item).val();

                    if (offer_item_val === 'other_qty') {
                        var getProductFromRow = offer_item.closest('div').data('product');
                        $('#otherQtyModalLabel').html(getProductFromRow);
                        $('#otherQtyModal').modal('show');
                    } else {
                        var lien = '{% url 'repanier:order_ajax' %}?value=' + offer_item_val + "&offer_item=" + offer_item_id + "{% if is_basket %}&is_basket=yes{%  endif %}";
                        $.ajax({
                            url: lien,
                            cache: false,
                            success: function (result) {
                                $.each(result, function (key, val) {
                                    if(key === "#communicationModal") {
                                        $(key).html(val).modal('show');
                                    } else {
                                        $(key).html(val);
                                    }
                                });
                            }
                        });
                    }
                }
                function show_select_order_list_ajax(offer_item_id) {
                    if(saved_offer_item_id !== offer_item_id) {
                        saved_offer_item_id = offer_item_id;
                        var lien1 = '{% url 'repanier:order_select_ajax' %}?offer_item=' + offer_item_id;
                        $.ajax({
                            url: lien1,
                            cache: false,
                            dataType: 'json',
                            async: false,
                            success: function (result) {
                                $.each(result, function (key, val) {
                                    $(key).html(val);
                                });
                            }
                        });
                    }
                }
                function delivery_ajax() {
                    var delivery = $("#delivery");
                    var delivery_val = $("option:selected", delivery).val();

                    var lien = '{% url 'repanier:delivery_ajax' %}?delivery=' + delivery_val + "&permanence=" + {{ permanence.id|unlocalize }} + "{% if is_basket %}&is_basket=yes{%  endif %}";
                    $.ajax({
                        url: lien,
                        cache: false,
                        success: function (result) {
                            $.each(result, function (key, val) {
                                if(key === "#communicationModal") {
                                    $(key).html(val).modal('show');
                                } else {
                                    $(key).html(val);
                                }
                            });
                        }
                    });
                }
                function show_select_delivery_list_ajax(delivery_id) {
                    if(saved_delivery_id !== delivery_id) {
                        saved_delivery_id = delivery_id;
                        var lien2 = '{% url 'repanier:delivery_select_ajax' %}?permanence=' + {{ permanence.id|unlocalize }};
                        $.ajax({
                            url: lien2,
                            cache: false,
                            dataType: 'json',
                            async: false,
                            success: function (result) {
                                $.each(result, function (key, val) {
                                    $(key).html(val);
                                });
                            }
                        });
                    }
                }
                function btn_receive_order_email() {
                    var receive_email = $("#btn_confirm_order");
                    receive_email.attr("disabled", true);
                    receive_email.html('<span class="glyphicon glyphicon-refresh gly-spin"></span> ' + '{% trans "Your order is being processed..." %}');

                    var lien = '{% url 'repanier:btn_confirm_order_ajax' %}?permanence=' + {{ permanence.id|unlocalize }};
                    $.ajax({
                        url: lien,
                        cache: false,
                        success: function (result) {
                                $.each(result, function (key, val) {
                                    $(key).html(val);
                                });
                        }
                    });
                    saved_delivery_id = -1;

                }
                function like_ajax(offer_item_id) {
                    var lien = '{% url 'repanier:like_ajax' %}?offer_item=' + offer_item_id;
                    $.ajax({
                        url: lien,
                        cache: false,
                        success: function (result) {
                                $.each(result, function (key, val) {
                                    $(key).html(val);
                                });
                        }
                    });
                }
                </script>
            {% endspaceless %}{% endaddtoblock %}
        {% endif %}
    {% endblock my_order_js %}
    {% block link_to_filter_js %}
        {% addtoblock "lastjs" %}{% spaceless %}
            <script type="text/javascript">
            $(document).ready(function () {
                $("#link_to_order_or_filter_view").html('<a href="{% url "repanier:order_filter_view" permanence_id %}?producer={{ producer_id }}&department={{ department_id }}&box={{ box_id }}{% if q %}&q={{ q }}{% endif %}{% if is_like %}&is_like=yes{% endif %}{% if is_basket %}&is_basket=yes{% endif %}" class="btn btn-info" style="margin-left: 10px;"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>');
            });
            </script>
        {% endspaceless %}{% endaddtoblock %}
    {% endblock link_to_filter_js %}
    {% block link_to_order_js %}
        {% addtoblock "lastjs" %}{% spaceless %}
            <script type="text/javascript">
            $(document).ready(function () {
                $("#link_to_order_or_filter_view").html('<a href="{% url "repanier:order_view" permanence_id %}?producer={{ producer_id }}&department={{ department_id }}&box={{ box_id }}{% if q %}&q={{ q }}{% endif %}{% if is_like %}&is_like=yes{% endif %}{% if is_basket %}&is_basket=yes{% endif %}" class="btn btn-info" style="margin-left: 10px;"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>');
            });
            </script>
        {% endspaceless %}{% endaddtoblock %}
    {% endblock link_to_order_js %}
{% endblock sub_content %}
