{% load cms_tags sekizai_tags menu_tags i18n l10n static repanier_tags %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static REPANIER_BOOTSTRAP_CSS %}">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static REPANIER_CUSTOM_CSS %}">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static REPANIER_BRANDING_CSS %}">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">{% endaddtoblock %}
{% addtoblock "jshead" %}<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>{% endaddtoblock %}
{% addtoblock "jshead" %}<script src="{% static "repanier/bs4/bootstrap/js/bootstrap.min.js" %}"></script>{% endaddtoblock %}
{% addtoblock "css" %}{% spaceless %}
    {#    django CMS toolbar adjustment#}
    {% if request.toolbar %}
        <style>
            .cms-toolbar-expanded .navbar-custom {
                margin-top: 45px;
            }
        </style>
    {% endif %}
{% endspaceless %}{% endaddtoblock %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <meta name="description" content="{% page_attribute 'meta_description' %}">#}
    <title>{% page_attribute "title" %}</title>
    {% render_block "css" %}
    {% render_block "jshead" %}
    <script type="text/javascript">
        {#      ensuring django namespace is set correctly#}
        window.django = window.django || undefined;
        {#      ensuring jQuery namespace is set correctly#}
        window.jQuery = (django && django.jQuery) ? django.jQuery : window.jQuery || undefined;
        {#      ensuring Class namespace is set correctly#}
        window.Class = window.Class || undefined;
        {#      ensuring CMS namespace is set correctly#}
        var CMS = {
            '$': (typeof jQuery === 'function') ? jQuery : undefined,
            'Class': (typeof Class === 'function') ? Class : undefined,
            'API': {}
        };
    </script>
</head>
<body>
<a href="#content" class="skip_link">{% trans "Skip to main content" %}</a>
<a name="#top"></a>
<section>

    {% spaceless %}
        {# <!-- Header and Nav --> #}
        <nav class="navbar fixed-top navbar-expand-sm navbar-custom" role="navigation">
            <a href="{{ REPANIER_HOME_SITE }}" class="navbar-brand"><i class="fas fa-home"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mySideNav" aria-controls="mySideNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div id="mySideNav" class="collapse navbar-collapse">
                {# <!-- Left Nav Section --> #}
                <ul class="nav mr-auto">
                    {% show_menu 0 1 1 1 %}
                </ul>
                {# <!-- Right Nav Section --> #}
                <ul class="navbar-nav navbar-right">
                    {% repanier_user_bs4 permanence_id=permanence_id offer_uuid=offer_uuid %}
                    {% if REPANIER_DISPLAY_LANGUAGE %}
                        {% language_chooser "native" %}
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="banner d-flex align-items-end">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="page-title">{% page_attribute "title" %}</h1>
					</div>
				</div>
			</div>
		</div>

        <a name="content"></a>

        {% block base_content %}{% endblock %}

        <footer>
            <div class="container-fluid">
				<div class="row">
					<div class="col-12 d-flex justify-content-center">
						{% static_placeholder "footer" %}
					</div>
				</div>
            </div>
		</footer>

    {% endspaceless %}
    {% render_block "js" %}
    {% render_block "lastjs" %}
</body>
</html>
