{% load i18n %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
<br><br>
{% trans "Please go to the following page and choose a new password:" %}
<br><br>
{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'repanier_v2:password_reset_confirm' uidb64=uid token=token %}{% endblock %}
<br><br>
{% trans "Your username, in case you've forgotten:" %} {{ user.email }}
<br><br>
{% trans "Thanks for using our site!" %}
<br><br>
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
