{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Password recovery" %}{% endblock %}
{% block base_content %}
<div id="content-main">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans "Password recovery" %}</h4>
      </div>
      <div class="modal-body">
{% blocktrans %}An email was sent to <strong>{{ email }}</strong>. Use the link in it to set a new password.{% endblocktrans %}
      </div><!-- /form -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}