{% extends "bs3/base.html" %}{% load i18n %}
{% block base_content %}
    <div id="content-main" class="container-repanier">
        <div class="container">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" action="{{ app_path }}" method="post" accept-charset="UTF-8"
                          id="login-form">{% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title" id="loginModalLabel">{% translate "Sign in" %}</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                {% if staff_responsibilities %}
                                    <p>{% translate "You are now logged in as a customer." %}</p>
                                    <p><b>{% translate "Do you want to become:" %}</b></p>
                                    {% for staff_responsibility in staff_responsibilities %}
                                        <a href="{% url "repanier:login_form" %}?as_id={{ staff_responsibility.id }}"
                                           class="btn btn-info">{{ staff_responsibility.long_name_v2 }}</a><br>
                                    {% endfor %}
                                {% else %}
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger" role="alert">
                                            <p>
                                                {% for error in form.non_field_errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    {% endif %}
                                    <label for="id_username">{% translate "E-mail address" %}</label>
                                    {% if form.username.errors %}
                                        <p class="text-danger">
                                            {% for error in form.username.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                    <input type="text" class="form-control" id="id_username"
                                           placeholder="{% translate "E-mail address" %}" name="username" autofocus>
                                    <br>
                                    <label for="id_password">{% translate "Password" %}</label>
                                    {% if form.password.errors %}
                                        <p class="text-danger">
                                            {% for error in form.password.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                    <input type="password" class="form-control" id="id_password"
                                           placeholder="{% translate "Password" %}" name="password">
                                    {% if how_to_register %}
                                        <p></p>
                                        <div class="form-group">
                                            <div class="accordion-toggle collapsed" data-toggle="collapse"
                                                 data-target="#collapse">
                                                <span class="btn btn-info">{% translate "Create an account ?" %}</span>
                                            </div>
                                            <div id="collapse" class="panel-collapse collapse">
                                                {{ how_to_register | safe }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <input type="hidden" name="this_is_the_login_form" value="1"/>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                {% if staff_responsibilities %}
                                    <a href="{{ next }}" class="btn btn-info">{% translate "Continue as a customer." %}</a>
                                    <a href="{% url "repanier:logout" %}" class="btn btn-info">{% translate "Logout" %}</a>
                                {% else %}
                                    <button class="btn btn-info" type="submit">{% translate "Sign in" %}</button>
                                    <a href="{% url "repanier:password_reset" %}"
                                       class="btn btn-info">{% translate "Password reset" %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
{% endblock %}
