{% extends "bs3/base.html" %}{% load cms_tags i18n %}
{% block title %}{{ title }}{% endblock %}
{% block base_content %}
<div id="content-main" class="container-repanier">
<div class="container">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
          <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
          <a href="{% url "login_form" %}" class="btn btn-info">{% trans 'Log in' %}</a>
      </div><!-- /form -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div>
{% endblock %}