{% load i18n menu_tags %}
{% get_available_languages as languages %}
<li class="nav-item dropdown">
    <a id="langLinks" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Language" %}</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="langLinks">
        {% for language in languages %}
            {% get_language_info for language.0 as lang %}
            {% ifnotequal current_language language.0 %}
                <a class="dropdown-item" href="{% page_language_url language.0 %}">{{ lang.name_local }}</a>
            {% else %}
                <a class="dropdown-item active"
                   href="{% page_language_url language.0 %}"><b>{{ lang.name_local }}</b></a>
            {% endifnotequal %}
        {% endfor %}
    </div>
</li>
