{% extends 'bs5/base_wo_cms_toolbar.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags cache %}
{% block base_content %}
<div class="container-repanier">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>{{ customer.long_basket_name }} : {{ object.permanence }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group">
                    {% if previous_customer_invoice_id %}
                        <a href="{% url 'repanier:customer_invoice_view' previous_customer_invoice_id customer.id %}" class="btn btn-info btn-disabled">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </a>
                    {% endif %}
                    {% if next_customer_invoice_id %}
                        <a href="{% url 'repanier:customer_invoice_view' next_customer_invoice_id customer.id %}"
                           class="btn btn-info btn-disabled"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        <a href="{% url 'repanier:customer_invoice_view' 0 customer.id %}"
                           class="btn btn-info btn-disabled"> <span class="glyphicon glyphicon-arrow-right"></span>
                            <span class="glyphicon glyphicon-arrow-right"></span> </a>
                    {% endif %}
                    {% if download_invoice %}
                    <a href="{% url 'repanier:download_customer_invoice' object.id %}"
                       class="btn btn-info btn-disabled"> {% translate "Export" %} <span class="glyphicon glyphicon glyphicon-save"></span> </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if object %}
            <div class="row">
                <div class="col-lg-12">
                    <br/>
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        {% translate "Previous balance" %} : {{ object.previous_balance }}
                        <small>({{ object.date_previous_balance | date:"DATE_FORMAT" }})</small><br>
                </div>
            </div>
        {%  endif %}
        {% if purchase_set or purchase_by_other_set %}
            <div class="row">
                <div class="col-lg-1">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </div>
                <div class="col-lg-11">
                    {% translate "Purchases" %} : {{ object.permanence }} : {{ object.get_total_price_with_tax }}
                </div>
            </div>
            {% if customer.id != object.customer_charged_id %}
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
{#                        {% translate "Purchases" %} : {{ object.permanence }} : {{ object.get_total_price_with_tax }}#}
{#                    </div>#}
{#                </div>#}
                {% if object.delivery %}
                    <div class="row">
                        <div class="col-lg-12 col-sm-offset-1">
                            <small>{% translate "Delivery point" %} : {{ object.delivery }}.</small>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-12 col-sm-offset-1">
                        <small>{% translate "Payment centralized by" %} : {{ object.customer_charged }}.</small>
                    </div>
                </div>
            {% else %}
{#                <div class="row">#}
{#                    <div class="col-lg-1">#}
{#                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>#}
{#                    </div>#}
{#                    <div class="col-lg-11">#}
{#                        {% translate "Purchases" %} : {{ object.permanence }} : {{ object.get_total_price_with_tax }}#}
{#                    </div>#}
{#                </div>#}
                {% if object.total_deposit != 0 %}
                    <div class="row">
                        <div class="col-lg-12 col-sm-offset-1">
                            {% translate "Deposit" %} : {{ object.total_deposit }}.
                        </div>
                    </div>
                {% endif %}
                {% if object.transport != 0 %}
                    <div class="row">
                        <div class="col-lg-12 col-sm-offset-1">
                            {% translate "Shipping cost" %} : {{ object.delta_transport }}.
                        </div>
                    </div>
                {% endif %}
                {% if object.delivery %}
                    <div class="row">
                        <div class="col-lg-12 col-sm-offset-1">
                            {% translate "Delivery point" %} : {{ object.delivery }}.
                        </div>
                    </div>
                {% endif %}
                {% if object.price_list_multiplier != 1 %}
                    <div class="row">
                        <div class="col-lg-12 col-sm-offset-1">
                            <small>{% translate "Coefficient applied to the producer tariff to calculate the customer tariff" %} :
{{ object.price_list_multiplier }}. </small>
                        </div>
                    </div>
                {% endif %}
                {% if object.get_delta_price_with_tax != 0 or object.delta_vat != 0 %}
                    <div class="row">
                        <div class="col-lg-12 col-sm-offset-1">
                            <small>{% if object.get_delta_price_with_tax < 0 %}{% translate "Reduction granted" %}{%  else %}
{% translate "Surcharge" %}{% endif %} : {{ object.get_abs_delta_price_with_tax }}. </small>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% for bank_account in bank_account_set %}
            <div class="row">
                <div class="col-lg-12">
                    {% if bank_account.bank_amount_in != 0 %}
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% translate "Provision" %} :
                        {% if bank_account.operation_comment %}
                            {{ bank_account.operation_comment }}
                        {% else %}
                            {% translate "Payment" %}
                        {% endif %} : {{ bank_account.bank_amount_in }}
                        <small>({{ bank_account.operation_date | date:"DATE_FORMAT" }})</small>
                        <br>
                    {% endif %}
                    {% if bank_account.bank_amount_out != 0 %}
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {% translate "Refund" %} :
                        {% if bank_account.operation_comment %}
                            {{ bank_account.operation_comment }}
                        {% else %}
                            {% translate "Refund" %}
                        {% endif %} : {{ bank_account.bank_amount_out }}
                        <small>({{ bank_account.operation_date | date:"DATE_FORMAT" }})</small>
                        <br>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if object %}
            <div class="row">
                <div class="col-lg-12">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
{% translate "New balance" %} : {{ object.balance }} <small>({{ object.date_balance | date:"DATE_FORMAT" }}
{% if not next_customer_invoice_id %} - {% translate "last accounting entry" %}{% endif %})</small>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <span id="basket_message">{{ basket_message }}</span>
            </div>
        </div>
    </div>
    {% if purchase_set %}
        <div class="container-fluid">
            <div class="row">
                <br>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        {% if purchase_by_other_set %}
                            <th>
                                {% translate "Customer" %}
                            </th>
                        {%  endif %}
                        <th>
                        {% if REPANIER_DISPLAY_PRODUCERS_ON_ORDER_FORM == True %}
                            {% translate "Producer" %}
                        {% else %}
                            {% translate "Department" %}
                        {% endif %}
                        </th>
                        <th>
                            {% translate "Product" %}
                        </th>
                        <th>
                            {% translate "Qty" %}
                        </th>
                        <th>
                            {% translate "Unit price" %}
                        </th>
                        <th>
                            {% translate "Total price" %}
                        </th>
                        <th>
                            {% translate "Comment" %}
                        </th>
                    <tr>
                    </thead>
                    <tbody>
                    {% for purchase in purchase_set %}
                        <tr>
                            {% if purchase_by_other_set %}
                                <td>
                                    {{ purchase.customer.short_basket_name }}
                                </td>
                            {%  endif %}
                            <td>
                            {%  if REPANIER_DISPLAY_PRODUCERS_ON_ORDER_FORM == True %}
                                {{ purchase.offer_item.producer.short_profile_name | truncatechars:15 }}
                            {% else %}
                                {{ purchase.offer_item.department_for_customer.short_name_v2 | truncatechars:15 }}
                            {% endif %}
                            </td>
                            <td>
                                {{ purchase.get_long_name_with_customer_price }}
                            </td>
                            <td align="right">
                                {{ purchase.get_quantity | floatformat:3 }}
                            </td>
                            <td align="right">
                                {{ purchase.get_customer_unit_price }}{% if purchase.offer_item.unit_deposit != 0 %}
                                + ♻ {{ purchase.offer_item.unit_deposit }}
                                {% endif %}
                            </td>
                            <td align="right">
                                {% if purchase.selling_price.amount != 0  %}
                                    {{ purchase.selling_price }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                {{ purchase.comment|default:"" }}
                            </td>
                        <tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% if not purchase_by_other_set %}
            <div class="container">
                <div class="row">
                    <h4>{{ object.permanence }} - {% translate "No purchase found" %}</h4>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if purchase_by_other_set %}
        <div class="container-fluid">
            <div class="row">
                <br>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>
                            {% translate "Customer" %}
                        </th>
                        <th>
                            {% if REPANIER_DISPLAY_PRODUCERS_ON_ORDER_FORM == True %}
                                {% translate "Producer" %}
                            {% else %}
                                {% translate "Department" %}
                            {% endif %}
                        </th>
                        <th>
                            {% translate "Product" %}
                        </th>
                        <th>
                            {% translate "Qty" %}
                        </th>
                        <th>
                            {% translate "Unit price" %}
                        </th>
                        <th>
                            {% translate "Total price" %}
                        </th>
                        <th>
                            {% translate "Comment" %}
                        </th>
                    <tr>
                    </thead>
                    <tbody>
                    {% for purchase in purchase_by_other_set %}
                        <tr>
                            <td>
                                {{ purchase.customer.short_basket_name }}
                            </td>
                            <td>
                                {%  if REPANIER_DISPLAY_PRODUCERS_ON_ORDER_FORM == True %}
                                    {{ purchase.offer_item.producer.short_profile_name | truncatechars:15 }}
                                {% else %}
                                    {{ purchase.offer_item.department_for_customer.short_name_v2 | truncatechars:15 }}
                                {% endif %}
                            </td>
                            <td>
                                {{ purchase.get_long_name_with_customer_price }}
                            </td>
                            <td align="right">
                                {{ purchase.get_quantity | floatformat:3 }}
                            </td>
                            <td align="right">
                                {{ purchase.get_customer_unit_price }}{% if purchase.offer_item.unit_deposit != 0 %}, ♻ {{ purchase.offer_item.unit_deposit }}
                                {% endif %}
                            </td>
                            <td align="right">
                                {% if purchase.selling_price.amount != 0  %}
                                    {{ purchase.selling_price }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                {{ purchase.comment|default:"" }}
                            </td>
                        <tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}