{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% if offer.order_unit == "105" or offer.order_unit == "110" or offer.order_unit == "115" %}
    <h5><small><i><b>{{ offer.get_reference_price }}</b></i></small></h5>
{% endif %}
{{ offer.get_unit_price }}
{% if offer.unit_deposit != 0 %}
    <br/>♻ {{ offer.unit_deposit }}
{% endif %}
{% if offer.picture2 %}
    <br/>
    <span data-toggle="modal" data-target="#orderModal" data-id="{{ offer.id|unlocalize }}"
          data-product="{{ offer.long_name }}" data-picture="{{ MEDIA_URL }}{{ offer.picture2 }}">
    <img class="img-thumbnail" style="margin-top: 5px;" alt="{{ offer.product }}" title="{{ offer.product }}"
         src="{{ MEDIA_URL }}{{ offer.picture2 }}" height="110" width="110"/>
    </span>
{% endif %}