{% load cms_tags sekizai_tags i18n l10n repanier_tags thumbnail filer_tags filer_image_tags %}
{{ offer.producer.short_profile_name }}<br/>
<small>{{ offer.department_for_customer.short_name }}</small><br/>
{% if offer.picture %}
    {% thumbnail offer.picture "0x150"|extra_padding_y:5 crop="smart" as product_thumbnail %}
    <img class="img-responsive img-thumbnail" style = "float: left; margin: 5px;" alt="{{ offer.get_long_name }}" title="{{ offer.get_long_name }}" src="{{ product_thumbnail.url }}"/>
{% endif %}
{% if offer.product.offer_description %}
    {{ offer.product.offer_description | safe }}
{% else %}
    {% trans "There is no more product's information" %}
{% endif %}
<br/>
{% for production_mode in offer.product.production_mode.all %}
    {% if production_mode.picture %}
        {% thumbnail production_mode.picture "0x32"|extra_padding_y:5 crop="smart" as logo_thumbnail %}
        <img class="img-rounded" style = "float: left; margin: 5px;" alt="{{ production_mode }}" title="{{ production_mode }}" src="{{ logo_thumbnail.url }}"/>
    {% else %}
        {{ production_mode }}
    {% endif %}
    {% if production_mode.description %}<br/><small>{{ production_mode.description | safe }}</small>{% if not forloop.last %}<br/>{% endif %}{% endif %}

{% endfor %}
