{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% if offer.order_unit == "105" or offer.order_unit == "110" or offer.order_unit == "115" %}
    <h5><small><i><b>
    {{ offer.reference_price_with_compensation }} &euro;
    {% if offer.order_unit == "105" %}
        {% trans "/ kg" %}{% else %}{% if offer.order_unit == "110" %}
        {% trans "/ l" %}{% else %}
        {% trans "/ pc" %}{% endif %}
    {% endif %}
    </b></i></small></h5>
    {{ offer.unit_price_with_compensation }} &euro;
{% else %}
    {{ offer.unit_price_with_compensation }} &euro;
    {% if offer.order_unit == "120" or offer.order_unit == "140" %}
        {% trans "/ kg" %}
    {% else %}
        {% if offer.order_unit == "150" %}{% trans "/ l" %}{% else %}{% trans "/ piece" %}{% endif %}
    {% endif %}
{% endif %}
{% if offer.unit_deposit %}
    <br/><span class="glyphicon glyphicon-plus"></span>{{ offer.unit_deposit }} &euro;<span class="glyphicon glyphicon-leaf"></span>
{% endif %}
{% if offer.picture2 %}
    <br/>
    <span data-toggle="modal" data-target="#orderModal" data-id="{{ offer.id|stringformat:"d" }}"
          data-product="{{ offer.long_name }}" data-picture="{{ MEDIA_URL }}{{ offer.picture2 }}">
    <img class="img-thumbnail" style="margin-top: 5px;" alt="{{ offer.product }}" title="{{ offer.product }}"
         src="{{ MEDIA_URL }}{{ offer.picture2 }}"/>
    </span>
{% endif %}