{% load cms_tags sekizai_tags i18n l10n %}
{% if producer_set %}
    <div class="btn-group dropup">
        <button type="button" class="btn btn-default" data-toggle="dropdown">
            &nbsp;&nbsp;&nbsp;&nbsp;{% trans " P " %}&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="?">{% trans "All producers" %}</a></li>
            {% for producer in producer_set %}
                <li><a href="?producer={{ producer.id }}">{{ producer.short_profile_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if departementforcustomer_set %}
    <div class="btn-group dropup">
        <button type="button" class="btn btn-default" data-toggle="dropdown">
            &nbsp;&nbsp;&nbsp;&nbsp;{% trans " D " %}&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="?">{% trans "All departments" %}</a></li>
            {% for departementforcustomer in departementforcustomer_set %}
                {% ifchanged departementforcustomer.parent %}
                <li>
                    <a href="?departementforcustomer={{ departementforcustomer.parent.id }}">{{ departementforcustomer.parent.short_name }}</a>
                </li>
                {% endifchanged %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
