{% load cms_tags sekizai_tags i18n l10n repanier_tags %}{% spaceless %}
<b>{{ offer.get_order_name }}</b><br>{{ offer.producer.short_profile_name }}
{% if offer.product.offer_description|length > 0 %} <b><span class="glyphicon glyphicon-info-sign"></span></b>{% endif %}
{% if offer.department_for_customer %}<br><small>{{ offer.department_for_customer.short_name }}</small>{% endif %}
{% for production_mode in offer.product.production_mode.all %}
    {% if forloop.first %}<br>{% endif %}
    {% if production_mode.picture2 %}
        <img class="img-rounded" style="float: left; margin: 5px;" alt="{{ production_mode }}"
             title="{{ production_mode }}" src="{{ MEDIA_URL }}{{ production_mode.picture2 }}" height="24" width="24"/>
    {% else %}
        <small>{{ production_mode }}{% if not forloop.last %} - {% endif %}</small>
    {% endif %}
{% endfor %}
{% if offer.picture2 and offer.permanences_dates %}
    {% with order_nam=offer.get_order_name %}
        <br>
        <span data-toggle="modal" data-target="#orderModal" data-id="{{ offer.id|unlocalize }}">
        <img class="img-thumbnail" style="margin-top: 5px;" alt="{{ order_name }}" title="{{ order_name }}"
             src="{{ MEDIA_URL }}{{ offer.picture2 }}" height="110" width="110"/>
        </span>
    {% endwith %}
{% endif %}
{% endspaceless %}