{% extends "admin/base_site.html" %}
{% load cms_tags sekizai_tags menu_tags compress i18n l10n %}

{% block content %}
    <h4>{{ permanence }}, {% trans "when producing invoices, generate bank account movements corresponding to the balance of the selected producers" %}
        :</h4>
    <form action="" method="post">{% csrf_token %}
        <div>
            {% for obj in queryset %}
                <h4><input type="checkbox" name="{{ action_checkbox_name }}" value="{{ obj.id|unlocalize }}"
                           checked/>&nbsp;&nbsp;{{ obj.short_profile_name }}</h4>
            {% endfor %}
            <input type="hidden" name="permanence" value="{{ permanence.id }}"/>
            <input type="hidden" name="action" value="{{ action }}"/>
            <button type="submit" name="cancel" value="cancel">{% trans "No, cancel the action" %}</button>
            <button type="submit" name="apply"
                    value="apply">{% trans "Yes, I'm sure and I have already encoded the customer's provisions into the bank account" %}</button>
        </div>
    </form>

{% endblock %}
