{% extends "admin/base_site.html" %}
{% load cms_tags menu_tags compress i18n l10n crispy_forms_tags %}
{% block content %}
    <link rel="stylesheet" href="{{ STATIC_URL}}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/custom.css">
    <h4>{{ sub_title }}</h4>
    <p></p>
    <form action="" method="post">{% csrf_token %}
        <h6>{{ product }}</h6>
        <div class="submit-row">
            <button type="submit" name="cancel" value="cancel"><h6>{% trans "No, cancel the action" %}</h6></button>
            <button type="submit" name="apply" value="apply" class="default"><h6>{% trans "Yes, I'm sure" %}</h6></button>
        </div>
        <fieldset class="module aligned ">
        <div class="submit-row">
            {% for producer in producers %}
                <h6><input type="radio" name="producers" value="{{ producer.id|unlocalize }}"{% if producer.id == product.producer_id|add:0 %} checked{% endif %}/>&nbsp;&nbsp;{{ producer }}</h6>
            {% endfor %}
        </div>
        </fieldset>
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ product.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}
