{% extends "admin/base_site.html" %}
{% load cms_tags menu_tags i18n l10n %}
{% block content %}
    <link rel="stylesheet" href="{{ STATIC_URL}}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}bootstrap/css/custom.css">
<style type="text/css">
.form-group input[type="checkbox"] {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}
.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #62c2e4);
}
</style>

    <h4>{{ sub_title }}</h4>
    <p></p>
    <form action="" method="post">{% csrf_token %}
        <h6>{{ permanence }}{% if permanence.with_delivery_point %}, {% trans "close the orders of the following deviveries points" %} :{% endif %}</h6>
    <div class="submit-row">
        <button type="submit" name="cancel" value="cancel"><h6>{% trans "No, cancel the action" %}</h6></button>
        <button type="submit" name="apply" value="apply" class="default"><h6>{% trans "Yes, I'm sure" %}</h6></button>
    </div>
{% if permanence.with_delivery_point %}
        <fieldset class="module aligned ">
        <div class="submit-row">
<div class="form-group">
    <input id="all-deliveries" name="all-deliveries" onClick="toggle_all_deliveries(this)" autocomplete="off" type="checkbox" checked>
    <div class="btn-group">
        <label for="all-deliveries" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-ok"></span>
            <span>&nbsp;</span>
        </label>
        <label for="all-deliveries" class="btn active btn-sm">
            {% trans "Select all deliveries." %}
        </label>
    </div>
</div>
<hr class="colorgraph">
            {% for delivery in deliveries %}
<span class="form-group">
    <input id="deliveries-{{ forloop.counter0 }}" name="deliveries" onClick="toggle_delivery(this)" value="{{ delivery.id|unlocalize }}" autocomplete="off" type="checkbox" checked>
    <div class="btn-group">
        <label for="deliveries-{{ forloop.counter0 }}" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-ok"></span>
            <span>&nbsp;</span>
        </label>
        <label for="deliveries-{{ forloop.counter0 }}" class="btn active btn-sm">
            {{ delivery }}
        </label>
    </div>
</span>
            {% endfor %}
        </div>
        </fieldset>
{% else %}
    <input id="all-deliveries" name="all-deliveries" autocomplete="off" type="hidden" value="on">
{% endif %}
{% if producer_invoices %}
        <fieldset class="module aligned ">
        <div class="submit-row">
<div class="form-group">
    <input id="all-producer-invoices" name="all-producer-invoices" onClick="toggle_all_producers(this)" autocomplete="off" type="checkbox" checked>
    <div class="btn-group">
        <label for="all-producer-invoices" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-ok"></span>
            <span>&nbsp;</span>
        </label>
        <label for="all-producer-invoices" class="btn active btn-sm">
            {% trans "Select all producers." %}
        </label>
    </div>
</div>
<hr class="colorgraph">
            {% for producer_invoice in producer_invoices %}
<span class="form-group">
    <input id="producer-invoices-{{ forloop.counter0 }}" name="producer-invoices" onClick="toggle_producer(this)" value="{{ producer_invoice.id|unlocalize }}" autocomplete="off" type="checkbox" checked>
    <div class="btn-group">
        <label for="producer-invoices-{{ forloop.counter0 }}" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-ok"></span>
            <span>&nbsp;</span>
        </label>
        <label for="producer-invoices-{{ forloop.counter0 }}" class="btn active btn-sm">
            {{ producer_invoice.producer }}
        </label>
    </div>
</span>
            {% endfor %}
        </div>
        </fieldset>
{% else %}
    <input id="all-producer-invoices" name="all-producer-invoices" autocomplete="off" type="hidden" value="on">
{% endif %}
        <fieldset class="module aligned ">
        <div class="submit-row">
            <div class="field-box">
                <h6>{% trans "No email will be sent." %}</h6>
            </div>
        </div>
        </fieldset>
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ permanence.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
    <script type="text/javascript">
        function toggle_all(source, elementName) {
          checkboxes = document.getElementsByName(elementName);
          for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
          }
          return source.checked
        }
        function toggle(source, elementName) {
          source.checked = ! source.checked;
          all_checked = true;
          none_checked = true;
          checkboxes = document.getElementsByName(elementName);
          for(var i=0, n=checkboxes.length;i<n;i++) {
              all_checked &= checkboxes[i].checked;
              none_checked &= !checkboxes[i].checked
          }
          all_checkboxes = document.getElementsByName("all-" + elementName);
          all_checkboxes[0].checked = all_checked;
          return [none_checked, all_checked]
        }
        function check_all(elementName) {
            all_checkboxes = document.getElementsByName("all-" + elementName);
            if (all_checkboxes && !all_checkboxes[0].checked) {
                all_checkboxes[0].checked = true;
                checkboxes = document.getElementsByName(elementName);
                for(var i=0, n=checkboxes.length;i<n;i++) {
                    checkboxes[i].checked = true;
                }
            }
        }
        function uncheck_all(elementName) {
            all_checkboxes = document.getElementsByName("all-" + elementName);
            if (all_checkboxes) {
                all_checkboxes[0].checked = false;
                checkboxes = document.getElementsByName(elementName);
                for(var i=0, n=checkboxes.length;i<n;i++) {
                    checkboxes[i].checked = false;
                }
            }
        }
        function toggle_all_deliveries(source) {
            all_checked = toggle_all(source, 'deliveries');
            if (all_checked) {
                  checkboxes = document.getElementsByName('producer-invoices');
                  one_checked = false;
                  for(var i=0, n=checkboxes.length;i<n;i++) {
                      one_checked |= checkboxes[i].checked
                  }
                  if (!one_checked) {
                      check_all('producer-invoices')
                  }
            }
            else {
                uncheck_all('producer-invoices')
            }
        }
        function toggle_delivery(source) {
            checked = toggle(source, 'deliveries');
            none_checked = checked[0];
            if (none_checked) {
                uncheck_all('producer-invoices')
            }
            else {
                all_checked = checked[1];
                if (!all_checked) {
                    check_all('producer-invoices')
                }
            }
        }
        function toggle_all_producers(source) {
            all_checked = toggle_all(source, 'producer-invoices');
            if (all_checked) {
                  checkboxes = document.getElementsByName('deliveries');
                  one_checked = false;
                  for(var i=0, n=checkboxes.length;i<n;i++) {
                      one_checked |= checkboxes[i].checked
                  }
                  if (!one_checked) {
                      check_all('deliveries')
                  }
            }
            else {
                uncheck_all('deliveries')
            }
        }
        function toggle_producer(source) {
            checked = toggle(source, 'producer-invoices');
            none_checked = checked[0];
            if (none_checked) {
                uncheck_all('deliveries')
            }
            else {
                all_checked = checked[1];
                if (!all_checked) {
                    check_all('deliveries')
                }
            }
        }
    </script>
{% endblock %}
