{% extends "admin/base_site.html" %}
{% load cms_tags  menu_tags compress i18n l10n %}
{% block content %}
    <link rel="stylesheet" href="{{ STATIC_URL}}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/custom.css">
    <h4>{{ sub_title }}</h4>
    <p></p>
    <form action="" method="post">{% csrf_token %}
        <h6>{{ permanence }} :</h6>
        <div class="submit-row">
            <button type="submit" name="done" value="done"><h6>{% trans "Done" %}</h6></button>
        </div>
        <fieldset class="module aligned ">
        <div class="submit-row">
            {% for bankaccount in bankaccounts %}
                <h6>{{ bankaccount.producer.short_profile_name }}, {{ bankaccount.bank_amount_out }},
                {{ bankaccount.operation_comment }}</h6>
            {% endfor %}
        </div>
        </fieldset>
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ permanence.id|unlocalize }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
    </form>
{% endblock %}
