{% extends 'base.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags cache %}
{% block base_content %}
    <div class="container-repanier">
    <div class="container">
        <h4>{{ customer.long_basket_name }}</h4>
        {% if object %}
        {% trans "Previous balance" %} : {{ object.previous_balance }}
            <small>({{ object.date_previous_balance | date:"DATE_FORMAT" }})</small><br/>
        {%  endif %}
        {% if purchase_set or purchase_by_other_set %}
            {{ object.permanence }} - {% trans "Purchase(s) :" %} {{ object.get_total_price_with_tax }}
            {% if object.customer_id != object.customer_who_pays_id %}
                <br/>
                {% if object.delivery %}
                    <small>{% trans "Delivery point" %} : {{ object.delivery }}</small><br/>
                {% endif %}
                <small>{% trans "Payment centralized by" %} : {{ object.customer_who_pays }}</small><br/>
            {% else %}
                {% if object.total_vat != 0 %} = {{ object.get_total_price_wo_tax }} + {{ object.get_total_tax }} {% trans "Vat" %}{% endif %}.
                <br/>
                {% if object.total_deposit != 0 or object.transport != 0 %}
                    <small>
                        {% trans "This price include" %}
                        {% if object.total_deposit != 0 %}
                            {% trans "Deposit" %} : {{ object.total_deposit }}
                        {% endif %}
                        {% if object.transport != 0 %}
                            {% if object.total_deposit != 0 %}; {% endif %}
                            {% trans "Shipping cost" %} : {{ object.delta_transport }}
                        {% endif %}.
                    </small><br/>
                {% endif %}
                {% if object.delivery %}
                    <small>{% trans "Delivery point" %} : {{ object.delivery }}</small><br/>
                {% endif %}
                {% if object.customer.price_list_multiplier != 1 %}
                    <small>{% trans "Customer price list multiplier" %} : {{ object.customer.price_list_multiplier }}</small><br/>
                {% endif %}
                {% if object.get_delta_price_with_tax != 0 or object.delta_vat != 0 %}
                    {% if object.get_delta_price_with_tax < 0 %}{% trans "Discount" %}{%  else %}{% trans "Surcharge" %}{% endif %} : {{ object.get_abs_delta_price_with_tax }}
                {% endif %}
            {% endif %}
        {% endif %}
        {% for bank_account in bank_account_set %}
            {% if bank_account.bank_amount_in != 0 %}
                    {% if bank_account.operation_comment %}
                        {{ bank_account.operation_comment }}
                    {% else %}
                        {% trans "Payment" %}
                    {% endif %} : {{ bank_account.bank_amount_in }}
                    <small>({{ bank_account.operation_date | date:"DATE_FORMAT" }})</small><br/>
            {% endif %}
            {% if bank_account.bank_amount_out != 0 %}
                    {% if bank_account.operation_comment %}
                        {{ bank_account.operation_comment }}
                    {% else %}
                        {% trans "Refund" %}
                    {% endif %} : {{ bank_account.bank_amount_out }}
                    <small>({{ bank_account.operation_date | date:"DATE_FORMAT" }})</small><br/>
            {% endif %}
        {% endfor %}
        <div class="panel">
{#            <div class="panel-heading">#}
                {% if object %}
                <h4>{% trans "New balance" %} : {{ object.balance }}
                    <small>({{ object.date_balance | date:"DATE_FORMAT" }}{% if not next_customer_invoice_id %} - {% trans "latest invoice" %}{% endif %})</small>
                </h4>
                {% else %}
                <h4>{% trans "New balance" %} : {{ customer.balance }}
                    <small>({{ customer.date_balance | date:"DATE_FORMAT" }}{% if not next_customer_invoice_id %} - {% trans "latest invoice" %}{% endif %})</small>
                </h4>
                {% endif %}
                <span id="basket_message">{{ basket_message }}</span>
        </div>
    <center>
    <div class="btn-group">
        {% if previous_customer_invoice_id %}
            <a href="{% url 'customer_invoice_view' previous_customer_invoice_id %}" class="btn btn-success btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
        {% endif %}
        {% if next_customer_invoice_id %}
            <a href="{% url 'customer_invoice_view' 0 %}?customer={{ object.customer.id }}" class="btn btn-disabled"> {% trans "Invoice" %} </a>
        {% else %}
            <span class="btn btn-disabled">{% trans "Invoice" %}</span>
        {% endif %}
        {% if next_customer_invoice_id %}
            <a href="{% url 'customer_invoice_view' next_customer_invoice_id %}"
               class="btn btn-success btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
        {% endif %}
    </div>
    </center>
        {% if purchase_set %}
            <br/>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    {% if purchase_by_other_set %}
                        <th>
                            {% trans "Customer" %}
                        </th>
                    {%  endif %}
                    <th>
                    {% if DISPLAY_PRODUCERS_ON_ORDER_FORM == True %}
                        {% trans "Producer" %}
                    {% else %}
                        {% trans "Department" %}
                    {% endif %}
                    </th>
                    <th>
                        {% trans "Product" %}
                    </th>
                    <th>
                        {% trans "Qty" %}
                    </th>
                    <th>
                        {% trans "Unit price" %}
                    </th>
                    <th>
                        {% trans "Total price" %}
                    </th>
                    <th>
                        {% trans "Comment" %}
                    </th>
                <tr>
                </thead>
                <tbody>
                {% for purchase in purchase_set %}
                    <tr>
                        {% if purchase_by_other_set %}
                            <td>
                                {{ purchase.customer.short_basket_name }}
                            </td>
                        {%  endif %}
                        <td>
                        {%  if DISPLAY_PRODUCERS_ON_ORDER_FORM == True %}
                            {{ purchase.offer_item.producer.short_profile_name | truncatechars:15 }}
                        {% else %}
                            {{ purchase.offer_item.department_for_customer.short_name | truncatechars:15 }}
                        {% endif %}
                        </td>
                        <td>
                            {{ purchase.get_long_name }}
                        </td>
                        <td align="right">
                            {{ purchase.quantity_invoiced | floatformat:3 }}
                        </td>
                        <td align="right">
                            {{ purchase.get_customer_unit_price }}{% if purchase.offer_item.unit_deposit != 0 %}
                            + ♻ {{ purchase.offer_item.unit_deposit }}
                            {% endif %}
                        </td>
                        <td align="right">
                            {% if purchase.selling_price.amount != 0  %}
                                {{ purchase.selling_price }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td>
                            {{ purchase.comment|default:"" }}
                        </td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
                {% if not purchase_by_other_set %}
                    <h4>{{ object.permanence }} - {% trans "No purchase found" %}</h4>
                {% endif %}
        {% endif %}
        {% if purchase_by_other_set %}
            <br/>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>
                        {% trans "Customer" %}
                    </th>
                    <th>
                        {% if DISPLAY_PRODUCERS_ON_ORDER_FORM == True %}
                            {% trans "Producer" %}
                        {% else %}
                            {% trans "Department" %}
                        {% endif %}
                    </th>
                    <th>
                        {% trans "Product" %}
                    </th>
                    <th>
                        {% trans "Qty" %}
                    </th>
                    <th>
                        {% trans "Unit price" %}
                    </th>
                    <th>
                        {% trans "Total price" %}
                    </th>
                    <th>
                        {% trans "Comment" %}
                    </th>
                <tr>
                </thead>
                <tbody>
                {% for purchase in purchase_by_other_set %}
                    <tr>
                        <td>
                            {{ purchase.customer.short_basket_name }}
                        </td>
                        <td>
                            {%  if DISPLAY_PRODUCERS_ON_ORDER_FORM == True %}
                                {{ purchase.offer_item.producer.short_profile_name | truncatechars:15 }}
                            {% else %}
                                {{ purchase.offer_item.department_for_customer.short_name | truncatechars:15 }}
                            {% endif %}
                        </td>
                        <td>
                            {{ purchase.get_long_name }}
                        </td>
                        <td align="right">
                            {{ purchase.quantity_invoiced | floatformat:3 }}
                        </td>
                        <td align="right">
                            {{ purchase.get_customer_unit_price }}{% if purchase.offer_item.unit_deposit != 0 %}, ♻ {{ purchase.offer_item.unit_deposit }}
                            {% endif %}
                        </td>
                        <td align="right">
                            {% if purchase.selling_price.amount != 0  %}
                                {{ purchase.selling_price }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td>
                            {{ purchase.comment|default:"" }}
                        </td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    </div>
    <div class="hidden-xs">
        <br/>
    </div>
{% addtoblock "lastjs" %}
    <script type="text/javascript">
        $(document).ready(function () {
            lien = '{% url 'my_balance' %}';
            $.ajax({
                url: lien,
                cache: false,
                async: false,
                success: function (result) {
                    $("#my_balance").html(result);
                },
                error: function (result) {
                    $("#my_balance").html("{% trans "Retry7" %}");
                }
            });
        });
    </script>
{% endaddtoblock %}
{% addtoblock "lastjs" %}
    {% if not next_customer_invoice_id %}
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {$(".cms-sideframe").hide();}, 500);
            setTimeout(function () {$(".cms-sideframe").hide();}, 1000);
            setTimeout(function () {$(".cms-sideframe").hide();}, 1500);
            setTimeout(function () {$(".cms-sideframe").hide();}, 2000);
            setTimeout(function () {$(".cms-sideframe").hide();}, 3000);
            var lien = '{% url 'basket_message_form_ajax' customer.id %}';
            $.ajax({
                url: lien,
                cache: false,
                dataType: 'json',
                async: true,
                success: function (result) {
                    $.each(result, function (key, val) {
                        $(val.id).html(val.html);
                    });
                },
                error: function (result) {
                    $("#basket_message").html("{% trans "Retry" %}");
                }
            });

        });
    </script>
    {% endif %}
{% endaddtoblock %}
{% endblock %}