{% extends 'subpage_base_wo_cms_toolbar.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% block sub_content %}
    <div class="container">
        {# {% debug %} #}
        <div class="panel {% if object.balance > 0 %}panel-danger{% else %}panel-success{% endif %}">
            <div class="panel-heading">
                <small>{{ object.date_balance | date:"DATE_FORMAT" }}</small>
                <h4>{% trans "New balance" %} {{ object.producer.long_profile_name }}
                    : {{ object.balance }}&nbsp;&euro;</h4>
            </div>
        </div>
        {% if bank_account_set %}
            <h4>{% trans "Bank movement(s) :" %}</h4>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>
                        {% trans "Date" %}
                    </th>
                    <th align="right">
                        {% trans "Refund" %}
                    </th>
                    <th align="right">
                        {% trans "Payment" %}
                    </th>
                    <th>
                        {% trans "Comment" %}
                    </th>
                <tr>
                </thead>
                <tbody>
                {% for bank_account in bank_account_set %}
                    <tr>
                        <td>
                            {{ bank_account.operation_date }}
                        </td>
                        <td align="right">
                            {{ bank_account.bank_amount_in }}&nbsp;&euro;
                        </td>
                        <td align="right">
                            {{ bank_account.bank_amount_out }}&nbsp;&euro;
                        </td>
                        <td>
                            {% if bank_account.operation_comment %}
                                {{ bank_account.operation_comment }}
                            {% endif %}
                        </td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>{% trans "No bank movement found" %}</h4>
        {% endif %}
        {% if purchase_set %}
            <h4>{{ object.permanence }} - {% trans "Purchase(s) :" %} {{ object.total_price_with_tax }}&nbsp;&euro;</h4>
            {% if object.total_vat != 0 or object.total_compensation != 0 or object.total_deposit != 0 %}
                <h4>
                    <small>{% trans "This price include" %} <span class="glyphicon glyphicon-arrow-right"></span>
                        {% if object.total_vat != 0 %}{% trans "Vat" %} : {{ object.total_vat }}&nbsp;&euro;{% endif %}
                    </small>
                </h4>
                <h4>
                    <small>{% if object.total_compensation != 0 %}{% if object.total_vat != 0 %}
                        , {% endif %}{% trans "Compensation" %} : {{ object.total_compensation }}&nbsp;
                        &euro;{% endif %}</small>
                </h4>
                <h4>
                    <small>{% if object.total_deposit != 0 %}
                        {% if object.total_vat != 0 or object.total_compensation != 0 %}
                            , {% endif %}{% trans "Deposit" %} : {{ object.total_deposit }}&nbsp;
                        &euro;{% endif %}</small>
                </h4>
            {% endif %}
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>
                        {% trans "Date" %}
                    </th>
                    <th>
                        {% trans "Customer" %}
                    </th>
                    <th>
                        {% trans "Product" %}
                    </th>
                    <th>
                        {% trans "Qty" %}
                    </th>
                    <th>
                        {% trans "Unit price" %}
                    </th>
                    <th>
                        {% trans "Total price" %}
                    </th>
                    <th>
                        {% trans "Comment" %}
                    </th>
                <tr>
                </thead>
                <tbody>
                {% for purchase in purchase_set %}
                    <tr>
                        <td>
                            {{ purchase.distribution_date }}
                        </td>
                        <td>
                            {{ purchase.customer.short_basket_name | truncatechars:15 }}
                        </td>
                        <td>
                            {{ purchase.long_name }}
                        </td>
                        <td align="right">
                            {{ purchase.quantity | floatformat:3 }}
                        </td>
                        <td align="right">
                            {{ purchase.real_unit_price }}&nbsp;&euro;{% if purchase.unit_deposit %}
                            <span class="glyphicon glyphicon-plus"></span> {{ purchase.unit_deposit }}&nbsp;&euro;
                            <span class="glyphicon glyphicon-leaf"></span>{% endif %}
                        </td>
                        <td align="right">
                            {% if purchase.invoiced_price_with_compensation %}
                                {{ purchase.price_with_compensation }}{% else %}{{ purchase.price_with_vat }}{% endif %}&nbsp;&euro;
                        </td>
                        <td>
                            {% if purchase.comment %}
                                {{ purchase.comment }}
                            {% endif %}
                        </td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>{% trans "No purchase found" %}</h4>
        {% endif %}
        <h4>{% trans "Previous balance" %} : {{ object.previous_balance }}&nbsp;&euro;
            <small>({{ object.date_previous_balance | date:"DATE_FORMAT" }})</small>
        </h4>
    </div>
{% endblock %}
{% block footer %}
    <div class="btn-group">
        {% if previous_producer_invoice_id %}
            <a href="
                    {% if uuid %}{% url 'invoicep_uuid_view' previous_producer_invoice_id uuid %}{% else %}{% url 'invoicep_view' previous_producer_invoice_id %}?producer={{ object.producer.id }}{% endif %}"
               class="btn btn-success btn-disabled btn-xs"><span class="glyphicon glyphicon-arrow-left"></span></a>
        {% else %}
            <a href="#" class="btn btn-disabled btn-xs"></a>
        {% endif %}
        {% if previous_producer_invoice_id or next_producer_invoice_id %}
            <a href="
                    {% if uuid %}{% url 'invoicep_uuid_view' 0 uuid %}{% else %}{% url 'invoicep_view' 0 %}?producer={{ object.producer.id }}{% endif %}"
               class="btn btn-disabled btn-xs"> {% trans "Invoice" %} </a>
        {% endif %}
        {% if next_producer_invoice_id %}
            <a href="
                    {% if uuid %}{% url 'invoicep_uuid_view' next_producer_invoice_id uuid %}{% else %}{% url 'invoicep_view' next_producer_invoice_id %}?producer={{ object.producer.id }}{% endif %}"
               class="btn btn-success btn-disabled btn-xs"><span class="glyphicon glyphicon-arrow-right"></span></a>
        {% else %}
            <a href="#" class="btn btn-disabled btn-xs"></a>
        {% endif %}
    </div>
{% endblock %}