{% extends 'subpage_base_wo_cms_toolbar.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% block sub_content %}
    {# {% debug %} #}
    {% addtoblock "css" %}
        <style type="text/css">
            /* sidebar */
            .bs-docs-sidebar {
                padding-left: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            /* all links */
            .bs-docs-sidebar .nav > li > a {
                color: #3c3c3c;
                padding: 4px 20px;
                font-size: 13px;
                font-weight: 400;
                border-left: 2px solid transparent;
            }

            /* nested links */
            .bs-docs-sidebar .nav .nav > li > a {
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 30px;
                font-size: 12px;
            }

            /* active & hover links */
            .bs-docs-sidebar .nav > .active > a,
            .bs-docs-sidebar .nav > li > a:hover,
            .bs-docs-sidebar .nav > li > a:focus,
                /* selected links */
            .bs-docs-sidebar .nav > li > a.bs-docs-sidebar-active {
                color: #51a351;
                text-decoration: none;
                background-color: transparent;
                border-left: 2px solid #51a351;
            }
        </style>
    {% endaddtoblock %}
    <div class="container">
    {% if user.customer.may_order %}
        <div class="row">
            <div class="offer-description">
                {{ permanence_offer_description | safe }}
            </div>
            <br/>
        <nav class="col-md-2 col-sm-3 hidden-xs bs-docs-sidebar">
            <div class="fixed">
                <ul class="nav nav-stacked" id="sidebar">
                    <li>
                        <a href="?offeritem=purchased"
                           {% if offeritem_id == "purchased" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "Purchased product" %}
                            <span id="prepared_amount">{{ prepared_amount }}</span> &euro; <span
                                    class="glyphicon glyphicon-shopping-cart"></span></a>
                    </li>
                    <li>
                        {% if producer_set.count > 1 %}
                            <a href="?"
                               {% if producer_id == "all" and offeritem_id != "purchased" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "All producers" %}</a>
                            <ul class="nav nav-stacked">
                        {% for producer in producer_set %}
                            <li><a href="?producer={{ producer.id }}"
                                   {% if producer.id == producer_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ producer.short_profile_name  | truncatechars:15 }}</a>
                            </li>
                        {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    {% if departementforcusomer_set.count > 1 %}
                        <li>
                            <a href="?"
                               {% if departementforcusomer_id == "all" and offeritem_id != "purchased" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "All departments" %}</a>
                            <ul class="nav nav-stacked">
                                {% for departementforcusomer in departementforcusomer_set %}
                                    <li><a href="?departementforcusomer={{ departementforcusomer.id }}"
                                           {% if departementforcusomer.id == departementforcusomer_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ departementforcusomer.short_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="col-md-10 col-sm-9 col-xs-12">
        {% if offeritem_list %}
            <table class="table table-hover">
                {% for offer in offeritem_list %}
                    <tr data-id="{{ offer.id|stringformat:"d" }}" data-product="{{ offer.product.long_name }}">
                        <form>
                        {% if producer_set.count > 1 %}
                            <td data-toggle="modal" data-target="#orderModal" class="hidden-xs hidden-sm">
                                <small>{{ offer.product.producer.short_profile_name | truncatechars:15 }}</small>
                            </td>
                        {% endif %}
                            <td data-toggle="modal" data-target="#orderModal" style="width: 40%;"
                                class="hidden-xs hidden-sm">
                                <h4>{{ offer.product.long_name }}{% if offer.product.offer_description|length > 0 %}
                                    <small><span class="glyphicon glyphicon-info-sign"></span></small>{% endif %}</h4>
                                {% if departementforcusomer_set.count > 1 %}
                                    <small>{{ offer.product.department_for_customer.short_name }}</small>{% endif %}
                                {% if not offer.product.production_mode.picture %}<small>{% if departementforcusomer_set.count > 1 %} - {% endif %}{{ offer.product.production_mode }}</small>
                                    {% else %}<img class="img-responsive img-rounded" style = "float: right; margin: 5px;" alt="{{ offer.product.production_mode }}" src="{{ offer.product.production_mode.picture.url }}"/>
                                {% endif %}
                            </td>
                            <td data-toggle="modal" data-target="#orderModal" style="width: 50%;"
                                class="visible-sm">
                                {% if producer_set.count > 1 %}{{ offer.product.producer.short_profile_name | truncatechars:8 }},{% endif %}
                                <b>{{ offer.product.long_name }}{% if offer.product.offer_description|length > 0 %}
                                    <span class="glyphicon glyphicon-info-sign"></span>{% endif %}</b><br/>
                                {% if departementforcusomer_set.count > 1 %}
                                    <small>{{ offer.product.department_for_customer.short_name }}</small>{% endif %}
                                {% if not offer.product.production_mode.picture %}<small>{% if departementforcusomer_set.count > 1 %} - {% endif %}{{ offer.product.production_mode }}</small>
                                    {% else %}<img class="img-responsive img-rounded" style = "float: right; margin: 5px;" alt="{{ offer.product.production_mode }}" src="{{ offer.product.production_mode.picture.url }}"/>
                                {% endif %}
                            </td>
                            <td data-toggle="modal" data-target="#orderModal" class="hidden-xs hidden-sm">
                                <h4>{% if user.customer.vat_id %}
                                    {{ offer.product.unit_price_with_compensation }}{% else %}
                                    {{ offer.product.unit_price_with_vat }}{% endif %} &euro;
                                    {% if offer.product.order_unit == "120" or offer.product.order_unit == "220" or offer.product.order_unit == "140" or offer.product.order_unit == "240" %}
                                        {% trans "/ Kg" %}{% else %}
                                        {% if offer.product.order_unit == "150" or offer.product.order_unit == "160" %}
                                            {% trans "/ ℓ" %}{% else %}{% trans "/ piece" %}{% endif %}{% endif %}
                                            {% if offer.product.unit_deposit %}
                                                <span class="glyphicon glyphicon-plus"></span>
                                                {{ offer.product.unit_deposit }} &euro;
                                                <span class="glyphicon glyphicon-leaf"></span>{% endif %}</h4>
                            </td>
                            <td>
                                <span class="visible-xs" data-toggle="modal" data-target="#orderModal">
                                    {% if producer_set.count > 1 %}{{ offer.product.producer.short_profile_name | truncatechars:8 }},{% endif %}
                                    <b>{{ offer.product.long_name }}{% if offer.product.offer_description|length > 0 %}
                                        <span class="glyphicon glyphicon-info-sign"></span>{% endif %}</b>
                                </span>
                                <input hidden name="page" value="{{ page_obj.number }}"/>
                                <input hidden name="producer" value="{{ producer_id }}"/>
                                <input hidden name="departementforcusomer" value="{{ departementforcusomer_id }}"/>
                                {% repanier_select_qty offer_item_id=offer.id %}
                                <noscript>
                                    <input type="submit" value="{% trans "ok" %}"/>
                                </noscript>
                                <span class="visible-xs visible-sm" data-toggle="modal" data-target="#orderModal">
                                {% if user.customer.vat_id %}
                                    {{ offer.product.unit_price_with_compensation }}{% else %}
                                    {{ offer.product.unit_price_with_vat }}{% endif %} &euro;
                                    {% if offer.product.order_unit == "120" or offer.product.order_unit == "220" or offer.product.order_unit == "140" or offer.product.order_unit == "240" %}
                                        {% trans "/ Kg" %}{% else %}
                                        {% if offer.product.order_unit == "150" or offer.product.order_unit == "160" %}
                                            {% trans "/ ℓ" %}{% else %}{% trans "/ piece" %}{% endif %}{% endif %}
                                            {% if offer.product.unit_deposit %}
                                                <span class="glyphicon glyphicon-plus"></span>
                                                {{ offer.product.unit_deposit }} &euro;
                                                <span class="glyphicon glyphicon-leaf"></span>{% endif %}
                                </span>
                                <span class="visible-xs" data-toggle="modal" data-target="#orderModal">
                                    {% if departementforcusomer_set.count > 1 %}
                                        <small>{{ offer.product.department_for_customer.short_name }}</small>{% endif %}
                                    {% if not offer.product.production_mode.picture %}<small>{% if departementforcusomer_set.count > 1 %} - {% endif %}{{ offer.product.production_mode }}</small>
                                        {% else %}<img class="img-responsive img-rounded" style = "float: right; margin: 5px;" alt="{{ offer.product.production_mode }}" src="{{ offer.product.production_mode.picture.url }}"/>
                                    {% endif %}
                                </span>
                            </td>
                        </form>
                    <tr>
                {% endfor %}
            </table>
            <!-- Order Modal starts -->
            <div id="orderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="orderModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                            <span id="orderDetails"></span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Order modal ends -->
            <!-- Other qty Modal starts -->
            <div id="otherQtyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="otherQtyModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="otherQtyModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                <span id="otherQtyDetails">
                  {% trans "To order a bigger quantity, please contact your " %}{{ staff_order.long_name | lower }} : <br/>
                  <b>{{ staff_order.customer_responsible.long_basket_name }}</b><br/>
                  <span class="glyphicon glyphicon glyphicon-earphone"></span>  <b>{{ staff_order.customer_responsible.phone1 }}</b><br/>
                  <span class="glyphicon glyphicon-envelope"></span>  <a
                        href="mailto:{{ staff_order.user.email }}">{{ staff_order.user.email }}</a><br/>
                </span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Other qty modal ends -->
        {% else %}
            <h3>{% trans "No offer found" %}</h3>
        {% endif %}
        {% addtoblock "lastjs" %}
            <script type="text/javascript">
                function order_ajax(offer_item_id) {
                    var offer_item = $("#offer_item" + offer_item_id)
                    {# *** Need to save offer_item.val() for Firefox ***  #}
                    var offer_item_val = $("option:selected", offer_item).val()

                    if (offer_item_val == 'other_qty') {
                        var getProductFromRow = offer_item.closest('tr').data('product');
                        $('#otherQtyModalLabel').html(getProductFromRow);
                        $('#otherQtyModal').modal('show');
                        offer_item.val(offer_item.data('oldValue'));
                    } else {


                        var lien = '{% url 'order_form_ajax' %}?value=' + offer_item_val + "&offer_item=" + offer_item_id;
                        {# *** Bellow needed to avoid Firefox flashing the old/new selected value *** #}
                        offer_item.val(offer_item_val);
                        $.ajax({
                            url: lien,
                            cache: false,
                            async: true,
                            success: function (result) {
                                if (result.indexOf("ok") != 0) {
                                    offer_item.val(offer_item.data('oldValue'));
                                } else {
                                    $('#prepared_amount').text(result.substring(2));
                                    $('#prepared_amount_visible_xs').text(result.substring(2));
                                    $('#my_basket').text(result.substring(2));
                                    {# *** Need to restore offer_item.val() for Firefox *** #}
                                    offer_item.val(offer_item_val);
                                    offer_item.data('oldValue', offer_item_val);
                                }
                            },
                            error: function (result) {
                                offer_item.val(offer_item.data('oldValue'));
                            }
                        });


                    }
                }
                $(document).ready(function () {
                    $("#li_my_basket").show();
                    $("select").mouseenter(function (event) {
                        var offer_item = $(this)
                        var offer_item_id = offer_item.closest('tr').data('id');
                        var lien = '{% url 'ajax_order_select' %}?offer_item=' + offer_item_id;

                        $.ajax({
                            url: lien,
                            cache: false,
                            dataType: 'json',
                            async: false,
                            success: function (result) {
                                var selectOption = '';
                                $.each(result, function (key, val) {
                                    if (val.selected == "selected") {
                                        selectOption += '<option value=\"' + val.value + '\" selected=\"selected\" >' + val.label + '</option>';
                                    } else {
                                        selectOption += '<option value=\"' + val.value + '\" >' + val.label + '</option>';
                                    }
                                    ;

                                })
                                offer_item.data('oldValue', $("option:selected", this).val());
                                offer_item.val($("option:selected", this).val());
                                offer_item.html(selectOption);
                            },
                            error: function (result) {
                                offer_item.val(offer_item.data('oldValue'));
                            }
                        });
                    });
                    $('#orderModal').modal({
                        keyboard: true,
                        backdrop: false,
                        show: false,
                    }).on('show.bs.modal', function (event) {
                        var getIdFromRow = $(event.relatedTarget).closest('tr').data('id');
                        var getProductFromRow = $(event.relatedTarget).closest('tr').data('product');
                        var lien = '{% url 'product_form_ajax' %}?offer_item=' + getIdFromRow;
                        var content =
                                $.ajax({
                                    url: lien,
                                    cache: false,
                                    async: false,
                                    success: function (result) {
                                        $('#orderModalLabel').html(getProductFromRow);
                                        $('#orderDetails').html('<span class="glyphicon glyphicon-info-sign"></span> ' + result)
                                    },
                                    error: function (result) {
                                        $('#orderModalLabel').html($('{% trans "Communication error" %}'));
                                        $('#orderDetails').html($('<b>{% trans "Please close this window and retry." %}</b>'))
                                    }
                                });
                    });
                });
            </script>
        {% endaddtoblock %}
        </div>
        </div>
    {% else %}
        <h3>{% trans "You are not allowed to order products" %}</h3>
    {% endif %}
    </div>
{% endblock %}
{% block footer %}
    <div class="visible-xs">
        <div class="btn-group">
                {% if producer_set.count > 1 %}
                    <div class="btn-group btn-xs dropup">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="dropdown">
                            {% trans " P " %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="?">{% trans "All producers" %}</a></li>
                            {% for producer in producer_set %}
                                <li><a href="?producer={{ producer.id }}">{{ producer.short_profile_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if departementforcusomer_set.count > 1 %}
                    <div class="btn-group btn-xs dropup">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="dropdown">
                            {% trans " D " %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="?">{% trans "All departments" %}</a></li>
                            {% for departementforcusomer in departementforcusomer_set %}
                                <li>
                                    <a href="?departementforcusomer={{ departementforcusomer.id }}">{{ departementforcusomer.short_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if display_all_product_button %}
                    <div class="btn-group btn-xs">
                    <a href="?" class="btn btn-primary btn-xs">{% trans "All" %}</a>
                    </div>
                {% endif %}
                <div class="btn-group btn-xs">
                <a href="?offeritem=purchased" class="btn btn-primary btn-xs"><span id="prepared_amount_visible_xs"
                    class="prepared_amount">{{ prepared_amount }}</span> &euro;
                    <span class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
            </div>
        </div>
    </div>
    {% if is_paginated %}
        <div class="btn-group">
            <div class="btn-group">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&amp;producer={{ producer_id }}&amp;departementforcusomer={{ departementforcusomer_id }}"
                       class="btn btn-success btn-disabled btn-xs"><span class="glyphicon glyphicon-arrow-left"></span></a>
                {% else %}
                    <a href="#" class="btn btn-disabled btn-xs"></a>
                {% endif %}
                {% if page_obj.has_previous or page_obj.has_next %}
                    <a href="#"
                       class="btn btn-disabled btn-xs">{% trans "Page " %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&amp;producer={{ producer_id }}&amp;departementforcusomer={{ departementforcusomer_id }}"
                       class="btn btn-success btn-disabled btn-xs"><span class="glyphicon glyphicon-arrow-right"></span></a>
                {% else %}
                    <a href="#" class="btn btn-disabled btn-xs"></a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}