{% extends 'subpage_base_wo_cms_toolbar.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags thumbnail filer_tags filer_image_tags %}
{% block sub_content %}
    {# {% debug %} #}
    {% addtoblock "css" %}
        <style type="text/css">
{#            /* sidebar */#}
            .bs-docs-sidebar {
                padding-left: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
{#            /* all links */#}
            .bs-docs-sidebar .nav > li > a {
                color: #3c3c3c;
                padding: 4px 20px;
                font-size: 16px;
                font-weight: 400;
                border-left: 2px solid transparent;
            }
            .bs-docs-sidebar .nav > li > b > a {
                color: #3c3c3c;
                padding: 4px 20px;
                font-size: 16px;
                font-weight: bold;
                border-left: 2px solid transparent;
            }
{#            /* nested links */#}
            .bs-docs-sidebar .nav .nav > li > a,
            .bs-docs-sidebar .nav .nav > li > b > a {
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 30px;
                font-size: 14px;
            }
{#            /* active & hover links */#}
            .bs-docs-sidebar .nav > .active > a,
            .bs-docs-sidebar .nav > li > a:hover,
            .bs-docs-sidebar .nav > li > a:focus,
            .bs-docs-sidebar .nav > .active > b > a,
            .bs-docs-sidebar .nav > li > b > a:hover,
            .bs-docs-sidebar .nav > li > b > a:focus,
{#                /* selected links */#}
            .bs-docs-sidebar .nav > li > b > a.bs-docs-sidebar-active,
            .bs-docs-sidebar .nav > li > a.bs-docs-sidebar-active {
                color: #51a351;
                text-decoration: none;
                background-color: transparent;
                border-left: 2px solid #51a351;
            }
        </style>
    {% endaddtoblock %}
    <div class="container">
    {% if user.customer.may_order %}
        <div class="row">
            {% if permanence.offer_description %}
            <div class="offer-description">
                {{ permanence.offer_description | safe }}
            </div>
            {% endif %}
            <br/>
        </div>
        <div class="row">
        <nav class="col-xs-12 col-sm-3 hidden-xs bs-docs-sidebar">
            <div class="fixed">
                <ul class="nav nav-stacked" id="sidebar">
                    <li>
                        <b><a href="{% url "basket_view" permanence.id %}?offeritem=purchased"
                           {% if offeritem_id == "purchased" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "Purchased product" %}
                            <span id="prepared_amount">{{ prepared_amount }}</span> &euro; <span
                                    class="glyphicon glyphicon-shopping-cart"></span></a></b>
                    </li>
                    <li>
                        {% if producer_set.count > 1 %}
                            <a href="?"
                               {% if producer_id == "all" and offeritem_id != "purchased" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "All producers" %}</a>
                            <ul class="nav nav-stacked">
                        {% for producer in producer_set %}
                            <li><a href="?producer={{ producer.id|stringformat:"d" }}"
                                   {% if producer.id == producer_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ producer.short_profile_name  | truncatechars:15 }}</a>
                            </li>
                        {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    {% if departementforcustomer_set.count > 1 %}
                        <li>
                            <b><a href="?"
                               {% if departementforcustomer_id == "all" and offeritem_id != "purchased" %}class="bs-docs-sidebar-active"{% endif %}>{% trans "All departments" %}</a></b>
                            <ul class="nav nav-stacked">
                                {% for departementforcustomer in departementforcustomer_set %}
                                    {% ifchanged departementforcustomer.parent %}
                                    {% if departementforcustomer.parent.level == 0 %}</ul>{% endif %}
                                    <li><b><a href="?departementforcustomer={{ departementforcustomer.parent.id|stringformat:"d" }}"
                                           {% if departementforcustomer.parent.id == departementforcustomer_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ departementforcustomer.parent.short_name }}</a>
                                    </b></li>
                                    {% if departementforcustomer.parent.level == 0 %}<ul class="nav nav-stacked">{% endif %}
                                    {% endifchanged %}
                                    <li><a href="?departementforcustomer={{ departementforcustomer.id|stringformat:"d" }}"
                                           {% if departementforcustomer.id == departementforcustomer_id|add:0 %}class="bs-docs-sidebar-active"{% endif %}>{{ departementforcustomer.short_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="col-sm-9">
        <div class="row">
        {% if offeritem_list %}
                {% for offer in offeritem_list %}
                    {% if offer.product.picture %}
                        {% thumbnail offer.product.picture "0x150"|extra_padding_y:5 crop="smart" as product_thumbnail %}
                    <div class="col-sm-6 col-lg-3" data-toggle="modal" data-target="#orderModal" data-id="{{ offer.id|stringformat:"d" }}" data-product="{{ offer.product.long_name }}" data-picture="{{ product_thumbnail.url }}">
                    {% else %}
                    <div class="col-sm-6 col-lg-3" data-toggle="modal" data-target="#orderModal" data-id="{{ offer.id|stringformat:"d" }}" data-product="{{ offer.product.long_name }}" data-picture="">
                    {% endif %}
                        {{ offer.cache_part_a | safe }}
                    </div>
                    <div class="col-sm-6 col-lg-3" data-id="{{ offer.id|stringformat:"d" }}" data-product="{{ offer.product.long_name }}">
                        <select name="offer_item{{ offer.id|stringformat:"d" }}" id="offer_item{{ offer.id|stringformat:"d" }}" onchange="order_ajax({{ offer.id|stringformat:"d" }})" class="form-control">
                        </select>
                        {% if user.customer.vat_id %}
                            {{ offer.cache_part_c | safe }}
                        {% else %}
                            {{ offer.cache_part_b | safe }}
                        {% endif %}
                    </div>
                    <div class="clearfix {% cycle 'visible-sm-block visible-md-block' ' ' %}"></div>
                    <hr class="visible-sm visible-xs visible-md {% cycle '  ' 'visible-lg' %}" />
                {% endfor %}
        {% else %}
            <h3>{% trans "No offer found" %}</h3>
        {% endif %}
    {% else %}
        <h3>{% trans "You are not allowed to order products" %}</h3>
    {% endif %}
        </div>
        </div>
        </div>
{#        Order Modal starts#}
        <div id="orderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title" id="orderModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <span id="orderDetails"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>
{#        Order modal ends#}
{#        Other qty Modal starts#}
        <div id="otherQtyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="otherQtyModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title" id="otherQtyModalLabel"></h4>
                    </div>
                    <div class="modal-body">
            <span id="otherQtyDetails">
              {% trans "To order a bigger quantity, please contact your " %}{{ staff_order.long_name | lower }} : <br/>
              <b>{{ staff_order.customer_responsible.long_basket_name }}</b><br/>
              <span class="glyphicon glyphicon glyphicon-earphone"></span>  <b>{{ staff_order.customer_responsible.phone1 }}</b><br/>
              <span class="glyphicon glyphicon-envelope"></span>  <a
                    href="mailto:{{ staff_order.user.email }}">{{ staff_order.user.email }}</a><br/>
            </span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>
{#        Other qty modal ends#}
    </div>
{% endblock %}
{% block footer %}
    <div class="visible-xs">
        <div class="btn-group">
            {{ permanence.cache_part_d | safe }}
            {% if display_all_product_button %}
                <div class="btn-group btn-xs">
                <a href="?" class="btn btn-primary btn-xs">{% trans "All" %}</a>
                </div>
            {% endif %}
            <div class="btn-group btn-xs">
            <a href="{% url "basket_view" permanence.id %}?offeritem=purchased" class="btn btn-primary btn-xs"><span id="prepared_amount_visible_xs"
                class="prepared_amount">{{ prepared_amount }}</span> &euro;
                <span class="glyphicon glyphicon-shopping-cart"></span></a>
            </div>
        </div>
    </div>

    {% if is_paginated %}
        <div class="btn-group">
            <div class="btn-group">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&amp;producer={{ producer_id }}&amp;departementforcustomer={{ departementforcustomer_id }}"
                       class="btn btn-success btn-disabled btn-xs"><span class="glyphicon glyphicon-arrow-left"></span></a>
                {% else %}
                    <a href="#" class="btn btn-disabled btn-xs"></a>
                {% endif %}
                {% if page_obj.has_previous or page_obj.has_next %}
                    <a href="#"
                       class="btn btn-disabled btn-xs">{% trans "Page " %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&amp;producer={{ producer_id }}&amp;departementforcustomer={{ departementforcustomer_id }}"
                       class="btn btn-success btn-disabled btn-xs"><span class="glyphicon glyphicon-arrow-right"></span></a>
                {% else %}
                    <a href="#" class="btn btn-disabled btn-xs"></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
    {% addtoblock "lastjs" %}
        <script type="text/javascript">
            var previously_edited_offer_item = null;
            var previously_edited_offer_item_id = null;
            function order_ajax(offer_item_id) {
                var offer_item = $("#offer_item" + offer_item_id);
                var offer_item_val = $("option:selected", offer_item).val();

                if (offer_item_val == 'other_qty') {
                    var getProductFromRow = offer_item.closest('div').data('product');
                    $('#otherQtyModalLabel').html(getProductFromRow);
                    $('#otherQtyModal').modal('show');
                } else {
                    var lien = '{% url 'order_form_ajax' %}?value=' + offer_item_val + "&offer_item=" + offer_item_id;
                    $.ajax({
                        url: lien,
                        cache: false,
                        async: false,
                        success: function (result) {
                            if (result.indexOf("ok") != 0) {
                                offer_item.html('<option value="0" selected>{% trans "Retry1" %}</option>');
                            } else {
                                $('#prepared_amount').text(result.substring(2));
                                $('#prepared_amount_visible_xs').text(result.substring(2));
                                $('#my_basket').text(result.substring(2));
                            }
                        },
                        error: function (result) {
                            offer_item.html('<option value="0" selected>{% trans "Retry2" %}</option>');
                        }
                    });
                }
            }
            $(document).ready(function () {
{% if offeritem_list %}
    {% for offer in offeritem_list %}
        var lien = '{% url 'ajax_order_init' %}?offer_item=' + {{ offer.id|stringformat:"d" }};
        $.ajax({
            url: lien,
            cache: false,
            async: false,
            success: function (result) {
                $("#offer_item{{ offer.id|stringformat:"d" }}").html(result);
            },
            error: function (result) {
                $("#offer_item{{ offer.id|stringformat:"d" }}").html('<option value="0" selected>{% trans "Retry3" %}</option>');
            }
        });
    {% endfor %}
{% endif %}
                $("#li_my_basket").show();
                $("select").mouseenter(function (event) {
                    var lien = "";
                    var offer_item = $(this);
                    var offer_item_id = offer_item.closest('div').data('id');
                    lien = '{% url 'ajax_order_select' %}?offer_item=' + offer_item_id;
                    $.ajax({
                        url: lien,
                        cache: false,
                        dataType: 'json',
                        async: false,
                        success: function (result) {
                            var selectOption = '';
                            var selectVal = 0;
                            $.each(result, function (key, val) {
                                if (val.selected == "selected") {
                                    selectOption += '<option value=\"' + val.value + '\" selected=\"selected\" >' + val.label + '</option>';
                                    selectVal = val.value
                                } else {
                                    selectOption += '<option value=\"' + val.value + '\" >' + val.label + '</option>';
                                }
                            });
                            offer_item.html(selectOption);
                        },
                        error: function (result) {
                            offer_item.html('<option value="0" selected>{% trans "Retry4" %}</option>');
                        }
                    });
                });
                $('#orderModal').modal({
                    keyboard: true,
                    backdrop: false,
                    show: false
                }).on('show.bs.modal', function (event) {
                    var getIdFromRow = $(event.relatedTarget).data('id');
                    var getProductFromRow = $(event.relatedTarget).data('product');
                    var getPictureFromRow = $(event.relatedTarget).data('picture');
                    var lien = '{% url 'product_form_ajax' %}?offer_item=' + getIdFromRow;
                    var content =
                            $.ajax({
                                url: lien,
                                cache: false,
                                async: false,
                                success: function (result) {
                                    if(getPictureFromRow!=""){
                                        result = '<img class="img-responsive img-thumbnail" style = "float: left; margin: 5px;" alt="'+
                                                getProductFromRow +'" title="'+ getProductFromRow +
                                                '" src="'+ getPictureFromRow +'"/>' +
                                                result
                                    }
                                    $('#orderModalLabel').html(getProductFromRow);
                                    $('#orderDetails').html(result)
                                },
                                error: function (result) {
                                    $('#orderModalLabel').html($('{% trans "Communication error" %}'));
                                    $('#orderDetails').html($('<b>{% trans "Please close this window and retry." %}</b>'))
                                }
                            });
                });
            });
        </script>
    {% endaddtoblock %}
{% endblock %}