{% extends 'subpage_base_wo_cms_toolbar.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% block sub_content %}
{% addtoblock "css" %}
<style type="text/css">
body > .container {
  padding: 60px 15px 0;
}
</style>
{% endaddtoblock %}
    <div class="container">
        {% if user.customer.may_order %}
            {% if permanenceboard_list %}
                <br/>
                {% for permanenceboard in permanenceboard_list %}
                    <form>
                        {% ifchanged permanenceboard.permanence %}
                            {% if not forloop.first %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr/>
                                    </div>
                                </div>
                            {% endif %}
                        {% endifchanged %}
                        <div class="row">
                            <div class="col-md-4">
                                {% ifchanged permanenceboard.permanence %}<b>{{ permanenceboard.permanence }}
                                    </b>{% endifchanged %}
                            </div>
                            <div class="col-md-4">
                                {{ permanenceboard.permanence_role }}
                            </div>
                            <div class="col-md-4">
                                <input hidden name="page" value="{{ page_obj.number }}"/>
                                <input hidden name="permanence_board" value="{{ permanenceboard.id }}"/>
                                {% repanier_select_permanence permanence_board_id=permanenceboard.id %}
                                <br/>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            {% else %}
                <h3>{% trans "No permanence found" %}</h3>
            {% endif %}
            {% addtoblock "lastjs" %}
                <script type="text/javascript">
                    function permanence_board_ajax(permanence_board_id) {
                        var lien = '{% url 'permanence_form_ajax' %}?value=' + $("#permanence_board" + permanence_board_id).val() + "&permanence_board=" + permanence_board_id;
                        $.ajax({
                            url: lien,
                            cache: false,
                            async: true,
                            success: function (result) {
                                if (result.indexOf("ok") != 0) {
                                    $("#permanence_board" + permanence_board_id).val($("#permanence_board" + permanence_board_id).data('oldValue'));
                                }
                            },
                            error: function (result) {
                                $("#permanence_board" + permanence_board_id).val($("#permanence_board" + permanence_board_id).data('oldValue'));
                            }
                        });
                    }
                    $(document).ready(function () {
                        $("select").focus(function () {
                            //store old value of "select" to restore it when Ajax calls fails
                            $(this).data('oldValue', $(this).val());
                        });
                        lien = '{% url 'order_name' %}';
                        $.ajax({
                            url: lien,
                            cache: false,
                            async: false,
                            success: function (result) {
                                $("#my_name").html(result);
                                if(result == '{% trans "Anonymous" %}') {
                                    $("#connected").show();
                                    $("#not_connected").hide();
                                }
                            },
                            error: function (result) {
                                $("#my_name").html("{% trans "Retry5" %}");
                            }
                        });
                        lien = '{% url 'my_balance' %}';
                        $.ajax({
                            url: lien,
                            cache: false,
                            async: false,
                            success: function (result) {
                                $("#my_balance").html(result);
                            },
                            error: function (result) {
                                $("#my_balance").html("{% trans "Retry7" %}");
                            }
                        });
                    });
                </script>
            {% endaddtoblock %}
        {% else %}
            <h3>{% trans "You are not allowed to order products" %}</h3>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    {% if is_paginated %}
        <div class="btn-group">
            <div class="btn-group">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"
                       class="btn btn-success btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                {% else %}
                    <a href="#" class="btn btn-disabled"></a>
                {% endif %}
                {% if page_obj.has_previous or page_obj.has_next %}
                    <a href="#"
                       class="btn btn-disabled">{% trans "Page " %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span
                            class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                {% else %}
                    <a href="#" class="btn btn-disabled"></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}