{% extends 'base.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% block base_content %}
{% addtoblock "css" %}
<link href="{{ STATIC_URL}}djangocms_text_ckeditor/css/cms.ckeditor.css" rel="stylesheet">
{% endaddtoblock %}
<div class="container-repanier">
<div class="container">
    {# {% debug %} #}
    <div class="panel panel-success" data-toggle="modal" data-target="#productModal">
        <div class="panel-heading">
            <div class="row">
            <div class="col-sm-8">
            <h4>{{ object }}</h4>
            </div>
            <div class="col-sm-4">
                <h4><button class="btn btn-default">{% trans "Add new product" %}</button></h4>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-12">
            <b>{% trans "To remove a product from your offer, set it's stock to zero. The customers will not be able to order it." %}</b></br>
            <small>{{ object.get_producers | safe }}</small>
            </div>
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered" id="preOrderTable">
        <thead>
        <tr>
            <th>
                {% trans "producer" %}
            </th>
            <th>
                {% trans "Product" %}
            </th>
            <th>
                {% trans "selling price" %} {% trans "wo tax" %}
            </th>
            <th>
                {% trans "tax" %}
            </th>
            <th>
                {% trans "Stock" %}
            </th>
        <tr>
        </thead>
        <tbody>
        {% for offer_item in offer_item_set %}
            {% if offer_item.producer_id == producer.id %}
            <tr class="success" data-toggle="modal" data-id="{{ offer_item.id|unlocalize }}" data-target="#productModal">
            {%  else %}
            <tr>
            {% endif %}
                <td>
                    {{ offer_item.producer.short_profile_name }}
                </td>
                <td>
                    <span id="get_long_name">{{ offer_item.get_long_name | safe }}
                        {% if offer_item.picture2 %}
                            <img class="img-responsive img-rounded"
                                 style="float:right; margin:5px; min-height:32px; min-width:32px; max-height:48px; max-width:48px;"
                                 src="{{ MEDIA_URL }}{{ offer_item.picture2 }}"/>
                        {% endif %}
                    </span>
                </td>
                <td align="right">
                    <span id="producer_unit_price_wo_tax">{{ offer_item.producer_unit_price_wo_tax }}{% if offer_item.order_unit == '140' %}&nbsp;/&nbsp;({% trans "kg" %}){% endif %}
                    {% if offer_item.unit_deposit > 0 %}
                        <br/><span class="glyphicon glyphicon-plus"></span>{{ offer_item.unit_deposit }}<span class="glyphicon glyphicon-leaf"></span>
                    {% endif %}</span>
                </td>
                <td>
                    <span id="get_vat_level_display">{{ offer_item.get_vat_level_display }}</span>
                </td>
                <td align="right">
                    <span id="stock">
                    {% if offer_item.stock == 0 %}--
                    {% else %}
                        {{ offer_item.stock|floatformat:-2 }}
                    {% endif %}
                    </span>
                </td>
            <tr>
        {% endfor %}
        </tbody>
        </table>
</div>
</div>
{#        Update Modal starts#}
    <div id="productModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="productModalContent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="productModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <span id="productModalDetails"></span>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
{#        Update modal ends#}
{% addtoblock "lastjs" %}
    <script type="text/javascript">
        var t_row = null;
        var getIdFromRow = null;
        $(document).ready(function () {
            var lien = '{% url 'pre_order_name_ajax' producer.offer_uuid %}';
            $.ajax({
                url: lien,
                cache: false,
                async: false,
                success: function (result) {
                    $("#my_name").html(result);
                    if (result == '{% trans "Anonymous" %}') {
                        $("#connected").show();
                        $("#not_connected").hide();
                }
                },
                error: function (result) {
                    $("#my_name").html("{% trans "Retry5" %}");
                }
            });
            $(function () {
                $('#productModal').modal({
                    keyboard: true,
                    backdrop: false,
                    show: false
                }).on('show.bs.modal', function (event) {
                    t_row = $(event.relatedTarget);
                    var getIdFromRow = t_row.data('id');
                    var lien;
                    if( typeof getIdFromRow === 'undefined') {
                        // Create
                        lien = '{% url 'pre_order_create_product_ajax' producer.offer_uuid object.id %}';
                    } else {
                        // Update
                        t_row.attr('class', 'danger');
                        lien = '{% url 'pre_order_update_product_ajax' producer.offer_uuid %}' + getIdFromRow + '/';
                    }
                    $.ajax({
                        url: lien,
                        cache: false,
                        async: false,
                        success: function (result) {
                            $('#productModalContent').html(result)
                        },
                        error: function (result) {
                            alert('{% trans "Please close this window and retry." %}')
                        }
                    });
                }).on('hidden.bs.modal', function () {
                    if( typeof getIdFromRow === 'undefined') {
                        // Create
                    } else {
                        // Update
                        t_row.removeClass("danger").addClass("success").fadeIn('slow');
                    }

                });
            });
        });
    </script>
{% endaddtoblock %}
{% endblock %}
{% block footer %}
    <div class="hidden-xs">
        <br/>
    </div>
    <div>
    {{ producer.offer_uuid }}
    </div>
    <div class="hidden-xs">
        <br/>
    </div>
{% endblock %}