{% load cms_tags sekizai_tags i18n l10n crispy_forms_tags %}
<form id="producer_product_description_form" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        {% trans "The orders are openend" %}
    </div>
    <div class="modal-body">
        {% trans "It's too late to modify your offer." %}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>
</form>