{% load cms_tags sekizai_tags i18n l10n crispy_forms_tags %}
{#<div class="col-md-12">#}
<form id="producer_product_description_form" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="offerModalLabel">{{ offer_item.get_long_name }}</h4>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {% if update %}<p class="bg-success">{% trans "Update done." %}</p>{% endif %}
{% if form.non_field_errors %}
        <div class="col-xs-12">
        <p class="bg-danger">
        {% for error in form.non_field_errors %}
            {% if error != too_many_attempt %}
                {{ error }}
            {% endif %}
        {% endfor %}
        </p>
        </div>
{% endif %}
        <div class="form-group">
            {% with id_for_label=form.long_name.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-12">
                <label for="{{ id_for_label }}" class="control-label requiredField">
                    {{ form.long_name.label }}<span class="asteriskField">*</span>
                </label>
                {% if form.long_name.errors %}
                  <p class="bg-danger">
                  {% for error in form.long_name.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <div class="clearfix"></div>
{#                    {{ form.long_name }}#}
                <input class="form-control" id="{{ id_for_label }}" name="long_name" value="{{ form.long_name.value }}" type="text">
{#                <span class="help-block">{{ form.long_name.help_text }}</span>#}
            </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with id_for_label=form.stock.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-3">
                <label for="{{ id_for_label }}" class="control-label">
                    <span id="stock_label"></span>
                </label>
                {% if form.stock.errors %}
                  <p class="bg-danger">
                  {% for error in form.stock.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <div class="input-group">
                    <input class="form-control" id="{{ id_for_label }}" name="stock" value="{{ form.stock.value|unlocalize }}" min="0" step="0.1" type="number">
                    <div class="input-group-addon"><span id="stock_addon"></span></div>
                </div>
            </div>
            {% endwith %}
            {% with id_for_label=form.order_unit.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-6">
                <label for="{{ id_for_label }}" class="control-label">
                    {{ form.order_unit.label }}
                </label>
                {% if form.order_unit.errors %}
                  <p class="bg-danger">
                  {% for error in form.order_unit.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <div class="clearfix"></div>
                {{ form.order_unit }}
            </div>
            {% endwith %}
            {% with id_for_label=form.customer_increment_order_quantity.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-3">
                <label for="{{ id_for_label }}" class="control-label">
                    <span id="customer_increment_order_quantity_label"></span>
                </label>
                {% if form.customer_increment_order_quantity.errors %}
                  <p class="bg-danger">
                  {% for error in form.customer_increment_order_quantity.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <div class="input-group">
                    <input class="form-control" id="{{ id_for_label }}" name="customer_increment_order_quantity" value="{{ form.customer_increment_order_quantity.value|unlocalize }}" min="0" step="0.1" type="number">
                    <div class="input-group-addon"><span id="customer_increment_order_quantity_addon"></span></div>
                </div>
            </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with id_for_label=form.order_average_weight.id_for_label %}
            <div id="div_{{ id_for_label }}" class="controls col-xs-4">
                {% if form.order_average_weight.errors %}
                  <p class="bg-danger">
                  {% for error in form.order_average_weight.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
            </div>
            <div id="div_{{ id_for_label }}" class="controls col-xs-4 input-group">
                <div class="input-group-addon">{% trans "1 pc = ~" %}</div>
                <input class="form-control" id="{{ id_for_label }}" name="order_average_weight" value="{{ form.order_average_weight.value|unlocalize }}" min="0" step="0.1" type="number">
                <div class="input-group-addon">{% trans "kg(s)" %}</div>
            </div>
            <div id="div_{{ id_for_label }}" class="controls col-xs-1">
{#                {{ form.customer_increment_order_quantity.errors }}#}
{#                <label for="{{ id_for_label }}" class="control-label">#}
{#                    {% trans "~kg(s) of 1 pc" %}#}
{#                </label>#}
            </div>
            <div id="div_{{ id_for_label }}" class="controls col-xs-3">
            </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with id_for_label=form.producer_unit_price.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-3">
                <label for="{{ id_for_label }}" class="control-label">
{#                Important offer_item.producer.producer_price_are_wo_vat and not offer_item.producer_price_are_wo_vat#}
                    {% trans "selling price" %}&nbsp;{% if offer_item.producer.producer_price_are_wo_vat %}{% trans "wo tax" %}{% else %}{% trans "w tax" %}{% endif %}
                </label>
                {% if form.producer_unit_price.errors %}
                  <p class="bg-danger">
                  {% for error in form.producer_unit_price.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <div class="input-group">
                    <input class="form-control" id="{{ id_for_label }}" name="producer_unit_price" value="{{ form.producer_unit_price.value|unlocalize }}" min="0" step="0.01" type="number">
                    <div class="input-group-addon"><span id="producer_unit_price_addon"></span></div>
                </div>
            </div>
            {% endwith %}
            {% with id_for_label=form.vat_level.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-6">
                <label for="{{ id_for_label }}" class="control-label">
                    {{ form.vat_level.label }}
                </label>
                {% if form.vat_level.errors %}
                  <p class="bg-danger">
                  {% for error in form.vat_level.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <div class="clearfix"></div>
                {{ form.vat_level }}
            </div>
            {% endwith %}
            {% with id_for_label=form.unit_deposit.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-3">
                <label for="{{ id_for_label }}" class="control-label">
                    {{ form.unit_deposit.label }}
                </label>
                {% if form.unit_deposit.errors %}
                  <p class="bg-danger">
                  {% for error in form.unit_deposit.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <div class="input-group">
                    <input class="form-control" id="{{ id_for_label }}" name="unit_deposit" value="{{ form.unit_deposit.value|unlocalize }}" min="0" step="0.01" type="number">
                    <div class="input-group-addon">€</div>
                </div>
            </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with id_for_label=form.offer_description.id_for_label %}
            <div id="div_{{ id_for_label }}" class="col-xs-12">
                <label for="{{id_for_label }}" class="control-label">
                    {{ form.offer_description.label }}
                </label>
                {% if form.offer_description.errors %}
                  <p class="bg-danger">
                  {% for error in form.offer_description.errors %}
                    {{ error }}
                  {% endfor %}
                  </p>
                {% endif %}
                <div class="clearfix"></div>
                <div class="controls">
                <textarea class="CMS_CKEditor texteditorwidget form-control" id="{{ id_for_label }}" name="offer_description">{{ form.offer_description.value }}</textarea>
                <script>window.CKEDITOR_BASEPATH = "/static/djangocms_text_ckeditor/ckeditor/";</script>
                <script src="/static/djangocms_text_ckeditor/ckeditor/ckeditor.js"></script>
                <script>
{#                    CKEDITOR.replace( "{{ id_for_label }}")#}
                    CKEDITOR.replace( "{{ id_for_label }}",{
                        language: 'fr',
                        forcePasteAsPlainText : true,
                        toolbar: [
                            ['Format', 'Bold', 'Italic', 'TextColor', '-', 'NumberedList', 'BulletedList', 'RemoveFormat' ],
                            ['Preview', 'Cut', 'Copy', 'PasteText', 'Link', '-', 'Undo', 'Redo' ],
                            ['Maximize', '']
                        ],
                        format_tags: "p;h4;h5;blockquote;mutted;success;info;danger;pushpin",
                        format_blockquote: {"name": "Blockquote", "element": "blockquote"},
                        format_mutted: {"attributes": {"class": "text-muted"}, "name": "Mutted", "element": "p"},
                        format_success: {"attributes": {"class": "bg-success"}, "name": "Success", "element": "p"},
                        format_info: {"attributes": {"class": "bg-info"}, "name": "Info", "element": "p"},
                        format_danger: {"attributes": {"class": "bg-danger"}, "name": "Danger", "element": "p"},
                        format_pushpin: {"attributes": {"class": "glyphicon glyphicon-pushpin"}, "element": "span"},
                        contentsCss : "/static/bootstrap/css/bootstrap.css",
                        width: '100%',
                        height: '8em',
                        removePlugins: 'elementspath'
                    });
                </script>
                </div>
            </div>
            {% endwith %}
        </div>
    </div>
{#    <div class="clearfix"></div>#}
    <div class="modal-footer">
{#        <div class="form-actions">#}
            <input name="submit" value="{% trans "Update" %}" class="btn btn-primary" id="submit-id-submit" type="submit">
        {% if update %}
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
            <script>
            t_row.find('span[id=get_long_name]').html('{{ offer_item.get_long_name | safe }}');
            row = '{{ offer_item.producer_unit_price_wo_tax|floatformat:-2 }}&nbsp;&euro;&nbsp;/&nbsp;{% if offer_item.order_unit == "115" %}({% trans "pc" %}){% else %}({% trans "kg" %}){% endif %}'
            row += '{% if offer_item.unit_deposit > 0 %}<br/><span class=\'glyphicon glyphicon-plus\'></span>{{ offer_item.unit_deposit|floatformat:-2 }}&nbsp;&euro;<span class=\'glyphicon glyphicon-leaf\'></span>{% endif %}'
            t_row.find('span[id=producer_unit_price_wo_tax]').html(row);
            t_row.find('span[id=get_vat_level_display]').html('{{ offer_item.get_vat_level_display }}');
            row='{% if offer_item.stock == 0 %}--{% else %}{% if offer_item.stock <= 1 %}{{ offer_item.stock|floatformat:-2 }} {% if offer_item.order_unit == "105" %}({% trans "kg" %}){% else %}({% trans "pc" %}){% endif %}{% else %}{{ offer_item.stock|floatformat:-2 }} {% if offer_item.order_unit == "105" %}({% trans "kg" %}){% else %}({% trans "pcs" %}){% endif %}{% endif %}{% endif %}'
            t_row.find('span[id=stock]').html(row);
            </script>
        {%  else %}
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
        {% endif %}
{#        </div>#}
    </div>
</form>
<script>
// Submit post on submit
$('#producer_product_description_form').on('submit', function(event){
    event.preventDefault();
    $.ajax({
        url : "{% url 'producer_product_description_ajax' offer_uuid offer_item.id %}/", // the endpoint
        type : "POST", // http method
        cache: false,
        async: false,
        data: $(this).serialize(), // data sent with the post request

{#        // handle a successful response#}
{#          success: function (result) {#}
{#              $.each(result, function (key, val) {#}
{#                  console.log(key);#}
{#                  console.log(val.id);#}
{#                  console.log(val.html);#}
{#               });#}
{#                $('#offerModal').modal('hide')#}
{#          },#}
            success: function (result) {
                $('#offerModalContent').html(result)
            },


        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
});
</script>
{#</div>#}