{% extends 'base.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% block base_content %}
{#{% addtoblock "css" %}#}
{#<style type="text/css">#}
{#body > .container {#}
{#  padding: 60px 15px 0;#}
{#}#}
{#</style>#}
{#{% endaddtoblock %}#}
    <div class="container-repanier">
        {# {% debug %} #}
        <h4>{{ producer.long_profile_name }}</h4>
        {% if object %}
        {% trans "Previous balance" %} : {{ object.previous_balance }}
            <small>({{ object.date_previous_balance | date:"DATE_FORMAT" }})</small><br/>
        {%  endif %}
        {% if offer_item_set %}
            {{ object.permanence }} - {% trans "Purchase(s) :" %} {{ object.get_total_price_with_tax }}
            {% if object.get_total_vat != 0 or object.get_total_deposit != 0 %}
                <small>
                    . {% trans "This price include" %} <span class="glyphicon glyphicon-arrow-right"></span>
                    {% if object.get_total_vat != 0 %}{% trans "Vat" %} : {{ object.get_total_vat }}{% endif %}
                    {% if object.get_total_deposit != 0 %}
                        {% if object.get_total_vat != 0 %}; {% endif %}
                        {% trans "Deposit" %} : {{ object.get_total_deposit }}
                    {% endif %}
                    {% if object.delta_transport != 0 %}
                        {% if object.get_total_vat != 0 or object.get_total_deposit != 0 %}; {% endif %}
                        {% trans "Shipping cost" %} : {{ object.delta_transport }}
                    {% endif %}
                </small>
                <br/>
                {% if object.delta_price_with_tax != 0 %}
                    {% if object.delta_price_with_tax < 0 %}{% trans "Discount" %}{%  else %}{% trans "Surcharge" %}{% endif %} : {{ object.get_abs_delta_price_with_tax }}<br/>
                {% endif %}
            {% endif %}
        {% endif %}
        {% for bank_account in bank_account_set %}
            {% if bank_account.bank_amount_in != 0 %}
                    {% if bank_account.operation_comment %}
                        {{ bank_account.operation_comment }}
                    {% else %}
                        {% trans "Refund" %}
                    {% endif %} : {{ bank_account.bank_amount_in }}
                    <small>({{ bank_account.operation_date | date:"DATE_FORMAT" }})</small><br/>
            {% endif %}
            {% if bank_account.bank_amount_out != 0 %}
                    {% if bank_account.operation_comment %}
                        {{ bank_account.operation_comment }}
                    {% else %}
                        {% trans "Payment" %}
                    {% endif %} : {{ bank_account.bank_amount_out }}
                    <small>({{ bank_account.operation_date | date:"DATE_FORMAT" }})</small><br/>
            {% endif %}
        {% endfor %}
        <div class="panel">
{#            <div class="panel-heading">#}
                {% if object %}
                <h4>{% trans "New balance" %} : {{ object.balance }}
                    <small>({{ object.date_balance | date:"DATE_FORMAT" }}{% if not next_producer_invoice_id and not object.to_be_paid %} - {% trans "last sale" %}{% endif %})</small>
                </h4>
                {% else %}
                <h4>{% trans "New balance" %} : {{ producer.balance }}
                    <small>({{ producer.date_balance | date:"DATE_FORMAT" }}{% if not next_producer_invoice_id %} - {% trans "last sale" %}{% endif %})</small>
                </h4>
                {% endif %}
{#            </div>#}
        </div>
    <center>
    <div class="btn-group">
        {% if previous_producer_invoice_id %}
            <a href="{% if uuid %}{% url 'producer_invoice_uuid_view' previous_producer_invoice_id uuid %}{% else %}{% url 'producer_invoice_view' previous_producer_invoice_id %}?producer={{ object.producer.id }}{% endif %}"
               class="btn btn-success btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
{#        {% else %}#}
{#            <a href="#" class="btn btn-disabled"></a>#}
        {% endif %}
        {% if next_producer_invoice_id %}
            <a href="{% if uuid %}{% url 'producer_invoice_uuid_view' 0 uuid %}{% else %}{% url 'producer_invoice_view' 0 %}?producer={{ object.producer.id }}{% endif %}"
               class="btn btn-disabled"> {% trans "Invoice" %} </a>
        {% else %}
            <span class="btn btn-disabled">{% trans "Invoice" %}</span>
        {% endif %}
        {% if next_producer_invoice_id %}
            <a href="
                    {% if uuid %}{% url 'producer_invoice_uuid_view' next_producer_invoice_id uuid %}{% else %}{% url 'producer_invoice_view' next_producer_invoice_id %}?producer={{ object.producer.id }}{% endif %}"
               class="btn btn-success btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
{#        {% else %}#}
{#            <a href="#" class="btn btn-disabled"></a>#}
        {% endif %}
    </div>
    </center>
        {% if offer_item_set %}
            <br/>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>
                        {% trans "reference" %}
                    </th>
                    <th>
                        {% trans "Product" %}
                    </th>
                    <th>
                        {% trans "Qty" %}
                    </th>
                    <th>
                        {% trans "Unit price" %}
                    </th>
                    <th>
                        {% trans "Total price" %}
                    </th>
                <tr>
                </thead>
                <tbody>
                {% for offer_item in offer_item_set %}
                    <tr>
                        <td>
                            {% if offer_item.reference|length < 36 %}
                                {{ offer_item.reference }}
                            {% endif %}
                        </td>
                        <td>
                            {{ offer_item.get_long_name }}
                        </td>
                        <td align="right">
                            {{ offer_item.get_producer_qty_invoiced }}
                        </td>
                        <td align="right">
                        {% with producer_unit_price=offer_item.producer_unit_price customer_unit_price=offer_item.customer_unit_price %}
                        {%  if producer_unit_price > customer_unit_price %}
                            {{ customer_unit_price }}
                        {% else %}
                            {{ producer_unit_price }}
                        {% endif %}{% if offer_item.unit_deposit != 0 %}, ♻ {{ offer_item.unit_deposit }}
                            {% endif %}
                        {% endwith %}
                        </td>
                        <td align="right">
                            {{ offer_item.get_producer_price_invoiced }}
                        </td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>{% trans "No purchase found" %}</h4>
        {% endif %}
{#        <h4>{% trans "Previous balance" %} : {{ object.previous_balance }}#}
{#            <small>({{ object.date_previous_balance | date:"DATE_FORMAT" }})</small>#}
{#        </h4>#}
    </div>
    <div class="hidden-xs">
        <br/>
    </div>

{% addtoblock "lastjs" %}
    <script type="text/javascript">
        $(document).ready(function () {
            lien = '{% url 'order_name' %}';
            $.ajax({
                url: lien,
                cache: false,
                async: false,
                success: function (result) {
                    $("#my_name").html(result);
                    if(result == '{% trans "Anonymous" %}') {
                        $("#connected").show();
                        $("#not_connected").hide();
                    }
                },
                error: function (result) {
                    $("#my_name").html("{% trans "Retry5" %}");
                }
            });
            lien = '{% url 'my_balance' %}';
            $.ajax({
                url: lien,
                cache: false,
                async: false,
                success: function (result) {
                    $("#my_balance").html(result);
                },
                error: function (result) {
                    $("#my_balance").html("{% trans "Retry7" %}");
                }
            });
        });
    </script>
{% endaddtoblock %}
{% endblock %}