{% extends 'cms_subpage.html' %}
{% load cms_tags sekizai_tags i18n l10n %}
{% block sub_content %}
        {% if coordinator %}
<div class="bg-danger">
<blockquote><small>
{% trans "This message will be send to all members as coordinator." %}
</small></blockquote>
</div>
        {% else %}
{% trans "This message will be send only to members who accept to show they email." %}
        {% endif %}
<form method="post" action="." validate>
    {% csrf_token %}
    {{ form.as_div }}
    <div class="form-group"><button type="submit" class="btn btn-primary">{% trans "Send e-mail" %}</button></div>
</form>
{% endblock %}