{% extends 'cms_page.html' %}
{% load cms_tags sekizai_tags i18n l10n %}
{% block sub_content %}
    {% if send %}<div class="alert alert-success" role="alert">{% trans "The mail has been send" %}</div>{% endif %}
    <form name="{{ form.form_name }}" method="post" action="." validate>
        {% csrf_token %}
        {{ form.as_div }}
        {% if not sent %}
            <div class="form-group form-sticky-update-button"><button type="submit" ng-disabled="{{ form.form_name }}.$invalid" class="btn btn-info pull-right">{% trans "Send email" %}</button></div>
        {% endif %}
    </form>
    {% addtoblock "css" %}{{ form.media.css }}{% endaddtoblock %}
    {% addtoblock "jshead" %}{{ form.media.js }}{% endaddtoblock %}
{% endblock %}