{% extends 'base.html' %}
{% load cms_tags sekizai_tags i18n l10n repanier_tags %}
{% block base_content %}
<div class="container-repanier">
<div class="container">
    {% if permanenceboard_list %}
        <br/>
        {% for permanenceboard in permanenceboard_list %}
            <form>
                {% ifchanged permanenceboard.permanence %}
                    {% if not forloop.first %}
                        <div class="row">
                            <div class="col-md-12">
                                <hr/>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <b>{{ permanenceboard.permanence }}</b>
                        {% if DISPLAY_PRODUCER %}&nbsp;:&nbsp;
                            {% for producer in permanenceboard.permanence.producers.all %}
                                {{ producer }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}<br /><br />
                    </div>
                {% endifchanged %}
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                        {% repanier_display_task permanence_board_id=permanenceboard.id %}
                    </div>
                    <div class="col-md-5">
                        {% repanier_select_task permanence_board_id=permanenceboard.id %}
                        <br/>
                    </div>
                </div>
            </form>
        {% endfor %}
    {% else %}
        <h3>{% trans "No permanence found" %}</h3>
    {% endif %}
    {% addtoblock "lastjs" %}
        <script type="text/javascript">
            function permanence_board_ajax(permanence_board_id) {
                var lien = '{% url 'permanence_form_ajax' %}?value=' + $("#permanence_board" + permanence_board_id).val() + "&permanence_board=" + permanence_board_id;
                $.ajax({
                    url: lien,
                    cache: false,
                    async: true,
                    success: function (result) {
                        if (result.indexOf("ok") != 0) {
                            $("#permanence_board" + permanence_board_id).val($("#permanence_board" + permanence_board_id).data('oldValue'));
                        }
                    },
                    error: function (result) {
                        $("#permanence_board" + permanence_board_id).val($("#permanence_board" + permanence_board_id).data('oldValue'));
                    }
                });
            }
            $(document).ready(function () {
                $("select").focus(function () {
                    //store old value of "select" to restore it when Ajax calls fails
                    $(this).data('oldValue', $(this).val());
                });
{#                lien = '{% url 'my_balance' %}';#}
{#                $.ajax({#}
{#                    url: lien,#}
{#                    cache: false,#}
{#                    async: false,#}
{#                    success: function (result) {#}
{#                        $("#my_balance").html(result);#}
{#                    },#}
{#                    error: function (result) {#}
{#                        $("#my_balance").html("{% trans "Retry7" %}");#}
{#                    }#}
{#                });#}
            });
        </script>
    {% endaddtoblock %}
</div>
</div>
{% endblock %}
{% block footer %}
    {% if is_paginated %}
        <div class="btn-group">
            <div class="btn-group">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"
                       class="btn btn-success btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                {% else %}
                    <a href="#" class="btn btn-disabled"></a>
                {% endif %}
                {% if page_obj.has_previous or page_obj.has_next %}
                    <a href="#"
                       class="btn btn-disabled">{% trans "Page " %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success btn-disabled">&nbsp;&nbsp;&nbsp;&nbsp;<span
                            class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                {% else %}
                    <a href="#" class="btn btn-disabled"></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}