{% extends 'subpage_base.html' %}
{% load cms_tags sekizai_tags i18n l10n crispy_forms_tags %}
{% block sub_content %}
    <div class="col-md-12">
        <p>{% trans "If you want to show information about you, then" %} <a href="{% url 'me_view' %}">{% trans "update your profil" %}</a>.</p>
        {% if coordinator %}
{% for customer in customer_list %}
    <p>
    <b>{{ customer.long_basket_name }}</b>
    {% if customer.long_basket_name != customer.short_basket_name %} ({{customer.short_basket_name }}){% endif %}
    {% if customer.city %}<br/>{{ customer.city }}{% endif %}
    {% if customer.memo %}<br/>{{ customer.memo }}{% endif %}
    <br/>{% trans "Phone" %} : {{ customer.phone1 }}{% if customer.phone2 %}, {{ customer.phone2 }}{% endif %}
    <br/>{% trans "Email" %} : {{ customer.user.email }}{% if customer.email2 %}, {{ customer.email2 }}{% endif %}
    </p>
{% endfor %}
        {% else %}
{% for customer in customer_list %}
    <p>
    <b>{{ customer.long_basket_name }}</b>
{#                {% if customer.long_basket_name != customer.short_basket_name %} ({{customer.short_basket_name }}){% endif %}#}
    {% if customer.city %}<br/>{{ customer.city }}{% endif %}
    {% if customer.memo %}<br/>{{ customer.memo | safe }}{% endif %}
    {% if customer.accept_phone_call_from_members %}<br/>{% trans "Phone" %} : {{ customer.phone1 }}{% if customer.phone2 %}, {{ customer.phone2 }}{% endif %}{% endif %}
    {% if customer.accept_mails_from_members %}<br/>{% trans "Email" %} : {{ customer.user.email }}{% if customer.email2 %}, {{ customer.email2 }}{% endif %}{% endif %}
    </p>
{% endfor %}
        {% endif %}
    </div>
{% endblock %}