{% load cms_tags sekizai_tags thumbnail filer_image_tags repanier_tags i18n l10n %}

<div class="col-xs-12 col-md-6">
{% if offer.picture %}
    {% thumbnail offer.picture "0x150"|extra_padding_y:5 crop="smart" as product_thumbnail %}
    <div data-toggle="modal" data-target="#orderModal"
         data-id="{{ offer.id|unlocalize }}"
         data-product="{{ offer.get_long_name }}"
         data-picture="{{ product_thumbnail.url }}">
{% else %}
    <div data-toggle="modal" data-target="#orderModal"
         data-id="{{ offer.id|unlocalize }}"
         data-product="{{ offer.get_long_name }}" data-picture="">
{% endif %}
{{ offer.cache_part_a | safe }}
</div>
{% if offer.permanences_dates %}
    {{ offer.cache_part_b | safe }}
    {% if may_order and not offer.is_box and not is_basket %}
        {% repanier_btn_like offer_item=offer %}
    {% endif %}
{% endif %}
</div>
<div class="col-xs-12 col-md-6"
     data-id="{{ offer.id|unlocalize }}"
     data-product="{{ offer.get_long_name }}">
    {% if offer.permanences_dates and offer.get_not_permanences_dates %}
        <div class="text-warning">
            <small>({{ offer.get_not_permanences_dates }})</small>
        </div>
    {% endif %}
    {% if may_order %}
        {% repanier_select_offer_item offer_item=offer is_basket=is_basket date=date_id %}{% endif %}
    {{ offer.cache_part_b | safe }}
</div>
{% if offer.is_box %}
    <div class="clearfix"></div>
    <div class="col">
        {{ box_description |safe }}
    </div>
{% endif %}
{% if is_box %}
    <div class="clearfix {% cycle ' ' 'd-none d-sm-block d-md-none-block d-none d-md-block d-lg-none-block' %}"></div>
    <hr class="d-none d-sm-block d-md-none d-block d-sm-none d-none d-md-block d-lg-none {% cycle 'd-none d-lg-block d-xl-none' ' ' %}"/>
{% endif %}
