{% load i18n %}
{% spaceless %}
    {% with id=widget.attrs.id name=widget.name %}
{#        <input type="submit" id="{{ id }}" href="#"#}
{#           onclick="{{ id }}_test_mail_config();return false;" value="{% trans "Send a test email" %}">#}
        <a id="{{ id }}" href="#"
           onclick="{{ id }}_test_mail_config();return false;">{% trans "Send a test email" %}</a>

        <script type="text/javascript">
            var {{ id }}_jQuery;
            if (typeof django === 'undefined') {
                if (typeof CMS === 'undefined') {
                    {{ id }}_jQuery = $
                } else {
                    {{ id }}_jQuery = CMS.$
                }
            } else {
                {{ id }}_jQuery = django.jQuery
            }

            function {{ id }}_test_mail_config() {
                (function ($) {
                    function getCsrftoken() {
                        var csrftoken = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = $.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, 'csrftoken'.length + 1) === ('csrftoken=')) {
                                    csrftoken = decodeURIComponent(cookie.substring('csrftoken'.length + 1));
                                    break;
                                }
                            }
                        }
                        return csrftoken;
                    }

                    $('#{{ id }}').html('{% trans "Please wait..." %}');
                    var id_email = $("#id_email").val();
                    var lien = '{% url 'test_mail_config_ajax' %}';
                    var csrftoken = getCsrftoken();
                    $.ajaxSetup({
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    });
                    $.ajax({
                        type: "POST",
                        url: lien,
                        data: {
                            'id': '{{ id }}',
                            'id_email': id_email
                        },
                        cache: false,
                        success: function (result) {
                            $.each(result, function (key, val) {
                                $(key).html(val);
                            });
                        }
                    });
                }({{ id }}_jQuery))
            }
        </script>
    {% endwith %}
{% endspaceless %}