{% load i18n %}
{% if user.is_authenticated and user.customer_id %}
    <li id="li_my_name" class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if user.last_name %}{{ user.last_name }}{% else %}<span id = "my_name"></span>{% endif %}</a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item">
                <a href="{% url 'repanier:logout' %}"><i class="fa fa-external-link-alt"></i>&nbsp;{% trans "Logout" %}</a>
            </li>
            <li class="dropdown-divider"></li>
            {% if manage_accounting %}
                <li class="dropdown-item">
                    <a class="dropdown-item" href="{% url 'repanier:customer_invoice_view' 0 %}">{{ my_balance }}</a>
                </li>
            {% endif %}
            <li class="dropdown-item">
                <a class="dropdown-item" href="{% url 'repanier:my_profile_view' %}">{% trans "My profile" %}</a>
            </li>
            {% if display_who_is_who %}
                <li class="dropdown-item">
                    <a class="dropdown-item" href="{% url 'repanier:who_is_who_view' %}">{% trans "Who's who" %}</a>
                </li>
            {% endif %}
            <li class="dropdown-item">
                <a class="dropdown-item" href="{% url 'repanier:send_mail_to_coordinators_view' %}">{% trans "Inform" %}</a>
            </li>
        </ul>
    </li>
{% elif producer %}
    <li class="dropdown-item"><a href="#">{{ producer.long_profile_name }}</a></li>
{% else %}
    <li class="nav-item dropdown"><a href="{% url 'repanier:login_form' %}" class="nav-link"><i class="fa fa-plug"></i>&nbsp;{% trans "Log In" %}</a></li>
{% endif %}
