{% load i18n %}
{% spaceless %}
{% with id=widget.attrs.id name=widget.name %}
<select name="{{ name }}"{% include "django/forms/widgets/attrs.html" %} onchange="{{ name }}_select(this.value)">{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>
<script type="text/javascript">
    django.jQuery(document).ready(function() { {{ name }}_select("{{ widget.value|first }}");});
    function {{ name }}_select(value) {
        (function($){
            switch (value) {
                {{ case_show_show }}
                    $("div.form-row.field-quantity_ordered").show();
                    $("div.form-row.field-quantity_invoiced").show();
                    break;
                {{ case_show_hide }}
                    $("div.form-row.field-quantity_ordered").show();
                    $("div.form-row.field-quantity_invoiced").hide();
                    break;
                {{ case_hide_show }}
                    $("div.form-row.field-quantity_ordered").hide();
                    $("div.form-row.field-quantity_invoiced").show();
                    break;
            }
        }(django.jQuery))
    }
</script>
{% endwith %}
{% endspaceless %}