{% load menu_tags %}
{% for child in children %}
    {% if child.children %}
        <li class="nav-item dropdown {% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="nav-link dropdown-toggle"
               data-toggle="dropdown">{{ child.get_menu_title |safe }}</a>
            <div class="dropdown-menu">
                {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
            </div>
        </li>
    {% else %}
        {% if child.get_menu_title == '------' %}
            <div class="dropdown-divider"></div>
        {% else %}
            {% if child.level == 0 %}
                <li class="nav-item {% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
                    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
                       class="nav-link {% if child.selected %}active{% endif %}">{{ child.get_menu_title |safe }}</a>
                </li>
            {% else %}
                <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
                   class="dropdown-item {% if child.selected %}active{% endif %}">{{ child.get_menu_title |safe }}</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
