{% extends "bs5/base.html" %}{% load i18n %}
{% block title %}{% translate "Password reset" %}{% endblock %}
{% block base_content %}
<div id="content-main" class="container-repanier">
<div class="container">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% translate "Password reset" %}</h4>
      </div>
      <div class="modal-body">
<form action="" method="post">
{% csrf_token %}
<p>{% translate "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
<div class="form-group">
    <p>
        <label for="id_email">{% translate "E-mail address" %}</label>
        <input id="id_email" name="email" type="text" class="textinput textInput form-control"/>
    </p>
</div>
<button class="btn btn-info" type="submit">{% translate "Reset my password" %}</button>
</form>
      </div><!-- /form -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<script>
document.getElementById('id_email').focus()
</script>
</div>
</div>
{% endblock %}

