/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    body {
        padding-top: 60px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /* background-color: #f5f5f5; */
    text-align: center;
}

/* sidebar */
.bs-docs-sidebar {
    padding: 0 0 1px 20px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.bs-docs-sidebar .nav > li {
    padding-bottom: 10px;
}

/* all links */
.bs-docs-sidebar .nav > li > a {
    color: #3c3c3c;
    padding-top: 0;
    padding-left: 10px;
    font-weight: bold;
    border-left: 2px solid transparent;
}

/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
    padding-left: 30px;
    /*font-size: 16px;*/
    font-weight: normal;
}

/* active & hover links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
    color: #51a351;
    text-decoration: none;
    background-color: transparent;
}

/* selected links */
.bs-docs-sidebar .nav > li > a.bs-docs-sidebar-active {
    color: #51a351;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #51a351;
}

.display_none {
    display: none;
}

.card-header.accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Fix version 5.0.9 */
    content: "\f107";
    float: right;
    position: relative;
    font-size: 15pt;
    color: grey;
}

.card-header.accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\f105";
}

.card-header:hover {
    cursor: pointer;
}

.card-header:hover h4 {
    text-decoration: underline;
}

.offer-description {
    position: relative;
    height: 200px;
    margin-top: 20px;
    overflow: auto;
}

body > .container {
    padding: 0 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

@media only screen and (min-width: 768px) {
    /* automatically display menu on mouse over if not xs */
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .sidenav {
        display: none;
        height: 100%;
        max-height: 100% !important;
        width: 90%;
        position: fixed;
        z-index: 1100;
        top: 0;
        left: 0;
        background-color: #4d4d4f;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
        white-space: normal !important;
        font-size: 18px;
    }

    .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 20px;
        /*font-size: 36px;*/
        /*margin-left: 50px;*/
    }

    /*@media screen and (max-height: 450px) {*/
    /*.sidenav {padding-top: 15px;}*/
    /*.sidenav a {font-size: 18px;}*/
    /*}*/
}

a.skip_link {
    position: absolute;
    left: -1000px;
    top: -1000px;
}

.white, .white a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .container-bootstrap {
        margin-top: 65px;
    }

    .container-repanier {
        margin: 75px 0 0;
    }

    .container-info {
        margin: 75px 0 -75px 0;
    }

    .container-menu {
        padding: 0 15px 0;
    }
}

@media only screen and (max-width: 767px) {
    .container-bootstrap {
        margin-top: 36px;
    }

    .container-repanier {
        margin: 20px 0 0;
    }

    .container-info {
        margin: 20px 0 0 0;
    }

    .container-menu {
    }
}

/* https://codepen.io/msaetre/pen/Ekyaz */
.icon-cart {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    /*margin-left: 25px;*/
    /*margin-bottom: 25px;*/
    margin-top: -10px;
}

.icon-cart .cart-line-1 {
    width: 15%;
    height: 7%;
    position: absolute;
    left: 8%;
    top: 25%;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
    width: 35%;
    height: 7%;
    position: absolute;
    left: 6%;
    top: 40%;
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg);
}

.icon-cart .cart-line-2:before {
    content: "";
    width: 120%;
    height: 100%;
    position: absolute;
    left: 45%;
    top: -280%;
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
    background-color: inherit;
}

.icon-cart .cart-line-2:after {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    left: 59%;
    top: -670%;
    background-color: inherit;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
    width: 30%;
    height: 7%;
    position: absolute;
    left: 33%;
    top: 45%;
}

.icon-cart .cart-line-3:after {
    content: "";
    width: 124%;
    height: 100%;
    position: absolute;
    top: -150%;
    left: -5%;
    background-color: inherit;
}

.icon-cart .cart-wheel {
    width: 12%;
    height: 12%;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    bottom: 20%;
}

.icon-cart .cart-wheel:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100%;
    position: absolute;
    left: 200%;
    bottom: 0;
}

/* Bootstrap : Let's align right the cart button on small devices */
.navbar-header {
    width: 100%;
}

.navbar-group-name {
    margin-left: 10px;
    color: #fff;
}

/* Bootstrap : Wordwrap button */
.btn {
    white-space: normal !important;
    word-wrap: break-word;
    word-break: normal;
    overflow-wrap: break-word;
}

/* Disable link using css */
.not-active {
    pointer-events: none;
    cursor: default;
}

/* sticky "Update" button */
.form-sticky-update-button {
    position: sticky;
    bottom: 65px;
}

/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
.back-to-top-sticky-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2000;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    color: initial !important;
    cursor: initial !important;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #62c2e4);
}

/*
	Override Bootstrap and fix main design.
	Author : Paul Barbieux
	Version : 1.5
*/

/*
	Page structure positionning
*/
HTML {
	position: relative;
	min-height: 100%;
}
BODY {
	padding-bottom: 100px;
}
NAV.navbar {
}
.container-repanier {
	margin-top: 20px;
}
FOOTER {
	margin-top: 20px;
}
/*
	Navigation bar
*/
NAV.navbar {
	margin-bottom:20px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.navbar-toggler {
	color:#FFF;
}
/*
	Page banner
*/
.banner {
	height:200px;
	padding-bottom:0;
	-webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
	box-shadow:         inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.banner .page-title {
	position: absolute;
	font-size:3rem;
	line-height:2.2rem;
	bottom:-0.5rem;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	text-align:left;
}
/*
	Footer
*/
FOOTER {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: solid 1px #A58973;
	padding-top:10px;
	padding-bottom: 10px;
}
FOOTER A {
	margin-left:10px;
	margin-right:10px;
}
/*
	Card
*/
.card {
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.card-body A:not(.btn) {
	text-decoration: underline;
}
.card-title {
	margin-bottom:0;
	font-size:1.4rem;
}
.card .card-close {
	position: absolute;
	top:10px;
	right: 10px;
}
/* Card collapse */
.card .link-card-toggle {
	font-size:1.2rem;
	line-height:0;
	position: absolute;
	bottom: -10px;
	right: 50%;
	background-color:#FFF;
}
A[aria-expanded='true'] .hide-on-expanded {
	display: none;
}
A[aria-expanded='false'] .show-on-expanded {
	display: none;
}
/*
	Flash
*/
.card-flash {
	background-color:#FFB5A2;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3),
						0 0 20px #DDD inset;
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3),
					 0 0 20px #DDD inset;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3),
				0 0 20px #DDD inset;
}
.card-flash .card-body {
	padding-right:40px;
}
/*
	Activities
*/
.container-activities A.card-body:hover { /* ObsolÃ¨te */
	text-decoration:none;
	background-color:#EFEFEF;
}
.container-activities .card-header {
}
.container-activities .card-header H2 {
	font-size:2rem;
	text-transform:uppercase;
}
.container-activities .card-body {
	border-bottom: solid 1px #DDD;
}
.container-activities .card-body.open H3 {
	color: #4B5A1F;
}
.container-activities .card-body H3 I {
	position:absolute;
	top: 0;
	left: 0;
}
.container-activities .card-body .offer-date,
.container-activities .card-body .excerpt {
	color:#222;
}

/*
	Read more link
*/
.read-more {
	text-transform:uppercase;
	cursor: pointer;
	color: #4B62AF;
}
/*
	Slide panel
*/
.slide {
	position:absolute;
	z-index:1000;
}
.slide-left {
	top:280px;
	left:0;
}
.slide .slide-body {
	width:300px;
}
/*
	List group inside accordion
*/
.accordion .card .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.list-group-item.sub-item {
	padding-left: 40px;
}
/*
	Card-product fixed width
*/
.col-product {
	padding: 5px;
}
#ColumnContent .card-product .product-img {
	height:120px;
}
.product-date .order-date {
	min-width:150px;
	text-align:right;
	padding-right:5px;
	border-top: solid 1px #BBB;
}
.product-date.date-closed .order-date {
	color: #AAA;
	background-color:#EFEFEF;
}
.product-date SELECT {
	width:100%;
}
.card-product {
	border: solid 1px #CCC;
}
.card-product .card-title {
	font-size:1rem;
	line-height:1;
	padding:2px 5px 5px 5px;
	margin:0;
	font-weight:bold;
}
.card-product .product-img {
	width:150px;
	min-width: 150px;
	height:150px;
	border-radius: 4px 0 0 4px;
	background-position:center center;
	background-size: cover;
	background-color:#EEE;
	position:relative;
}
.card-product .product-img .department {
	position: absolute;
	left:0;
	bottom:5px;
	font-size:.8rem;
	padding:1px 5px;
	border-bottom: solid 1px rgba(0,0,0,0.3);
	background-color:#999999;
	color:#FFF;
}
.card-product .product-body {
	border-left: solid 1px #DDD;
} 
.product-maker {
	padding-left: 5px;
}
.product-labels {
	padding-left: 0;
}
.product-labels IMG {
	height:20px;
	margin:5px;
}
.product-labels .badge {
	margin-left:5px;
	margin-right: 5px;
}
.product-info {
	padding: 5px;
	font-size:0.9rem;
	line-height:1rem;
}
.product-order * {
	border-radius: 0;
	border-style: none;
}
.product-unit {
	padding: 1px 5px;
	border-style: solid none solid solid;
	border-color: #DDD;
	border-width: 1px;
	text-align:center;
}
.product-order SELECT {
	width:100%;
}
/*
	Card identity (producer, member, ...)
*/
.card-identity {
	margin-bottom: 10px;
}
.card-identity .card-body {
	overflow:hidden;
}
.card-identity .identity-img {
	width:100px;
	min-width:100px;
	height:100px;
	border-radius: 5px;
	background-size:cover;
	background-position:center center;
}
.card-identity .identity-info {
	margin-left:10px;
}
.card-identity H2 {
	font-size:1.2rem;
}
.card-identity P {
	margin-bottom:0;
}
.card-identity .identity-email {
	white-space:nowrap;
}
/*
	Disabled
*/
.disabled {
	color: #999999 !important;
}
/*
	Badges
*/
.badge.badge-light {
	font-weight:normal;
	border: solid 1px #BBB;
}
/*
	Sticky bar
*/
#sticky-nav .col-12 {
	padding:10px;
	background-color:#FFF;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width:600px) {
	#sticky-nav .nav-link SPAN {
		display: none;
	}
}