{% extends "admin/change_form_object_tools.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    {#    {{ block.super }}#}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% translate "History" %}</a>
    </li>
    {% if has_absolute_url %}
        <li><a href="{{ absolute_url }}" target="_blank">{% translate "View on site" %}</a></li>{% endif %}
    {% include 'admin/repanier/help_link.html' %}
{% endblock %}
